병합시킨 파일 불러오기

In [1]:
import numpy as np 
import pandas as pd

In [2]:
merged_df = pd.read_csv('merged_df.csv')

In [3]:
merged_df
# merged_df.info()

        시군구    행정동    행정동_ID      행정기관코드     기준_날짜  지하철_승객_수
0       종로구  청운효자동  11010720  1111051500  20241116       0.0
1       종로구  청운효자동  11010720  1111051500  20241115       0.0
2       종로구  청운효자동  11010720  1111051500  20241114       0.0
3       종로구  청운효자동  11010720  1111051500  20241113       0.0
4       종로구  청운효자동  11010720  1111051500  20241112       0.0
...     ...    ...       ...         ...       ...       ...
767030  강동구   둔촌2동  11250710  1174070000  20220102    2746.0
767031  강동구   둔촌2동  11250710  1174070000  20220101    2192.0
767032  강동구   둔촌2동  11250710  1174070000  20211231    7980.0
767033  강동구   둔촌2동  11250710  1174070000  20211230    9734.0
767034  강동구   둔촌2동  11250710  1174070000  20211130   10611.0

[767035 rows x 6 columns]

In [4]:
merged_df.columns

Index(['시군구', '행정동', '행정동_ID', '행정기관코드', '기준_날짜', '지하철_승객_수'], dtype='object')

In [5]:
# 행정동 컬럼 확인 
merged_df['행정동'].unique()

array(['청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1.2.3.4가동', '종로5.6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동',
       '숭인1동', '숭인2동', '소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동',
       '신당동', '다산동', '약수동', '청구동', '신당5동', '동화동', '황학동', '중림동', '후암동',
       '용산2가동', '남영동', '청파동', '원효로1동', '원효로2동', '효창동', '용문동', '한강로동',
       '이촌1동', '이촌2동', '이태원1동', '이태원2동', '한남동', '서빙고동', '보광동', '왕십리2동',
       '왕십리도선동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호2.3가동',
       '금호4가동', '옥수동', '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동',
       '용답동', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '능동', '광장동',
       '자양1동', '자양2동', '자양3동', '자양4동', '구의1동', '구의2동', '구의3동', '용신동',
       '제기동', '전농1동', '전농2동', '답십리1동', '답십리2동', '장안1동', '장안2동', '청량리동',
       '회기동', '휘경1동', '휘경2동', '이문1동', '이문2동', '면목2동', '면목4동', '면목5동',
       '면목본동', '면목7동', '면목3.8동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동',
       '묵2동', '망우본동', '망우3동', '신내1동', '신내2동', '성북동', '삼선동', '동선동', '돈암1동',
       '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동',
       '길음2동', '종암동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '석관동',
       '삼양동', '미아동', '송중동', '송천동', '삼각산동', '번1동', '번2동', '번3동', '수유1동',
       '수유2동', '수유3동', '우이동', '인수동', '창1동', '창2동', '창3동', '창4동', '창5동',
       '도봉1동', '도봉2동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '방학1동', '방학2동',
       '방학3동', '월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동',
       '중계본동', '중계1동', '중계4동', '중계2.3동', '상계1동', '상계2동', '상계3.4동', '상계5동',
       '상계6.7동', '상계8동', '상계9동', '상계10동', '녹번동', '불광1동', '불광2동', '갈현1동',
       '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '응암3동', '역촌동', '신사1동',
       '신사2동', '증산동', '수색동', '진관동', '천연동', '북아현동', '충현동', '신촌동', '연희동',
       '홍제1동', '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동',
       '북가좌2동', '아현동', '공덕동', '도화동', '용강동', '대흥동', '염리동', '신수동', '서강동',
       '서교동', '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '목1동',
       '목2동', '목3동', '목4동', '목5동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동',
       '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동', '신정6동', '신정7동',
       '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡1동', '화곡2동', '화곡3동', '화곡4동',
       '화곡본동', '화곡6동', '화곡8동', '가양2동', '가양3동', '발산1동', '우장산동', '공항동',
       '방화1동', '방화2동', '신도림동', '구로1동', '구로2동', '구로3동', '구로4동', '구로5동',
       '가리봉동', '고척1동', '고척2동', '개봉1동', '개봉2동', '개봉3동', '오류1동', '오류2동',
       '수궁동', '항동', '가산동', '독산1동', '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동',
       '시흥3동', '시흥4동', '시흥5동', '영등포본동', '영등포동', '여의동', '당산1동', '당산2동',
       '도림동', '문래동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동', '신길5동',
       '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '노량진1동', '노량진2동', '상도1동',
       '상도2동', '상도3동', '상도4동', '흑석동', '사당1동', '사당2동', '사당3동', '사당4동',
       '사당5동', '대방동', '신대방1동', '신대방2동', '보라매동', '청림동', '성현동', '행운동',
       '낙성대동', '청룡동', '은천동', '중앙동', '인헌동', '남현동', '서원동', '신원동', '서림동',
       '신사동', '신림동', '난향동', '조원동', '대학동', '삼성동', '미성동', '난곡동', '서초1동',
       '서초2동', '서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동',
       '반포4동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동',
       '내곡동', '논현1동', '논현2동', '압구정동', '청담동', '삼성1동', '삼성2동', '대치1동',
       '대치2동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동', '개포2동',
       '개포3동', '개포4동', '세곡동', '일원본동', '일원1동', '수서동', '풍납1동', '풍납2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '방이1동', '방이2동', '오륜동', '오금동',
       '송파1동', '송파2동', '석촌동', '삼전동', '가락본동', '가락1동', '가락2동', '문정1동',
       '문정2동', '장지동', '위례동', '잠실본동', '잠실2동', '잠실3동', '잠실4동', '잠실6동',
       '잠실7동', '상일1동', '상일2동', '명일1동', '명일2동', '고덕1동', '고덕2동', '암사1동',
       '암사2동', '암사3동', '천호1동', '천호2동', '천호3동', '성내1동', '성내2동', '성내3동',
       '길동', '둔촌1동', '둔촌2동'], dtype=object)

In [6]:
# 동 갯수 확인 
merged_dong = merged_df['행정동'].nunique()

In [7]:
merged_dong # 행정동 426개, 4개가 비었음

422

In [8]:
# NaN값 확인 (0.0)
zero_count = (merged_df['지하철_승객_수'] == 0.0).sum()

In [9]:
zero_count

289130

연도별 데이터 확인

In [10]:
# 연도별 데이터 확인
merged_df['연도'] = merged_df['기준_날짜'].astype(str).str[:4]
merged_df[['기준_날짜', '연도']]

           기준_날짜    연도
0       20241116  2024
1       20241115  2024
2       20241114  2024
3       20241113  2024
4       20241112  2024
...          ...   ...
767030  20220102  2022
767031  20220101  2022
767032  20211231  2021
767033  20211230  2021
767034  20211130  2021

[767035 rows x 2 columns]

연도 컬럼 추출

In [ ]:
# 연도별 (2022)
merged_df_2022 = merged_df[merged_df['연도'] == '2022']
merged_df_2022

# 연도별 (2023)
merged_df_2023 = merged_df[merged_df['연도'] == '2023']
merged_df_2023

# 연도별 (2024)
merged_df_2024 = merged_df[merged_df['연도'] == '2024']
merged_df_2024

        시군구    행정동    행정동_ID      행정기관코드     기준_날짜  지하철_승객_수    연도
0       종로구  청운효자동  11010720  1111051500  20241116       0.0  2024
1       종로구  청운효자동  11010720  1111051500  20241115       0.0  2024
2       종로구  청운효자동  11010720  1111051500  20241114       0.0  2024
3       종로구  청운효자동  11010720  1111051500  20241113       0.0  2024
4       종로구  청운효자동  11010720  1111051500  20241112       0.0  2024
...     ...    ...       ...         ...       ...       ...   ...
766297  강동구   둔촌2동  11250710  1174070000  20240105   13605.0  2024
766298  강동구   둔촌2동  11250710  1174070000  20240104   13610.0  2024
766299  강동구   둔촌2동  11250710  1174070000  20240103   13282.0  2024
766300  강동구   둔촌2동  11250710  1174070000  20240102   13117.0  2024
766301  강동구   둔촌2동  11250710  1174070000  20240101    3475.0  2024

[232678 rows x 7 columns]

In [ ]:
print(merged_df['연도'].unique())

['2024' '2023' '2022' '2021']

In [ ]:
# 연도 리스트 
years = ['2024','2023','2022']

year = {year:merged_df[merged_df['연도'] == year] for year in years}

year['2024']
year['2022']
year['2023']

        시군구    행정동    행정동_ID      행정기관코드     기준_날짜  지하철_승객_수    연도
0       종로구  청운효자동  11010720  1111051500  20241116       0.0  2024
1       종로구  청운효자동  11010720  1111051500  20241115       0.0  2024
2       종로구  청운효자동  11010720  1111051500  20241114       0.0  2024
3       종로구  청운효자동  11010720  1111051500  20241113       0.0  2024
4       종로구  청운효자동  11010720  1111051500  20241112       0.0  2024
...     ...    ...       ...         ...       ...       ...   ...
766297  강동구   둔촌2동  11250710  1174070000  20240105   13605.0  2024
766298  강동구   둔촌2동  11250710  1174070000  20240104   13610.0  2024
766299  강동구   둔촌2동  11250710  1174070000  20240103   13282.0  2024
766300  강동구   둔촌2동  11250710  1174070000  20240102   13117.0  2024
766301  강동구   둔촌2동  11250710  1174070000  20240101    3475.0  2024

[232678 rows x 7 columns]

In [18]:
# 각각 년도 (2024, 2023, 2022, 2021) 데이터프레임 저장
for year in years:
    year_24 = merged_df[merged_df['연도'] == year]
    filename = f'data_{year}.csv'
    year_24.to_csv(filename, index=False, encoding='utf-8')
    (f"{filename} 저장 완료!")