In [1]:
import numpy as np 
import pandas as pd

In [2]:
# makefile에 1.plus0.csv 는 0이 빠져있는 코드가 있어 0 추가 
# makefile에 2.subway.csv 는 0만 추가한 원본데이터 
# makefile에 3.sb.csv 는 필요없는 컬럼 날림(최종본)

In [5]:
# 두 데이터 불러오기
z_df = pd.read_csv('0.z.csv', encoding='utf-8-sig')
sb_df = pd.read_csv('3.sb.csv',encoding='utf-8-sig')

In [7]:
# 데이터 확인 
z_df
sb_df

           기준_날짜    행정동_ID  지하철_승객_수
0       20241116  11250770       0.0
1       20241116  11250760       0.0
2       20241116  11250740    7288.0
3       20241116  11250730       0.0
4       20241116  11250720       0.0
...          ...       ...       ...
446302  20211130  11050570   10728.0
446303  20211130  11010610   95603.0
446304  20211130  11140660  101870.0
446305  20211130  11140600   21633.0
446306  20211130  11130660       0.0

[446307 rows x 3 columns]

In [8]:
merged_df = pd.merge(z_df, sb_df, on='행정동_ID', how='inner')

In [9]:
merged_df

        시군구    행정동    행정동_ID      행정기관코드     기준_날짜  지하철_승객_수
0       종로구  청운효자동  11010720  1111051500  20241116       0.0
1       종로구  청운효자동  11010720  1111051500  20241115       0.0
2       종로구  청운효자동  11010720  1111051500  20241114       0.0
3       종로구  청운효자동  11010720  1111051500  20241113       0.0
4       종로구  청운효자동  11010720  1111051500  20241112       0.0
...     ...    ...       ...         ...       ...       ...
767030  강동구   둔촌2동  11250710  1174070000  20220102    2746.0
767031  강동구   둔촌2동  11250710  1174070000  20220101    2192.0
767032  강동구   둔촌2동  11250710  1174070000  20211231    7980.0
767033  강동구   둔촌2동  11250710  1174070000  20211230    9734.0
767034  강동구   둔촌2동  11250710  1174070000  20211130   10611.0

[767035 rows x 6 columns]

In [11]:
merged_df.to_csv('merged_df.csv', index=False, encoding='utf-8-sig')

In [12]:
print('CSV 파일로 저장 완료!')

CSV 파일로 저장 완료!