2019~2021년 데이터 or 2022~2024년 데이터 불러오기

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df19_21 = pd.read_csv('file/hang_sw_count19_21.csv')
df22_24 = pd.read_csv('file/hang_all_22_24.csv')

In [6]:
df19_21
df22_24

       행정동   시군구  총_승객수    연분기
0     가락1동   송파구  18745  20221
1     가락2동   송파구  10442  20221
2      가산동   금천구  38186  20221
3     갈현1동   은평구  29402  20221
4     갈현2동   은평구   5997  20221
...    ...   ...    ...    ...
4190  화곡본동   강서구      0  20242
4191   황학동    중구      0  20242
4192   회기동  동대문구      0  20242
4193   후암동   용산구      0  20242
4194  휘경2동  동대문구      0  20242

[4195 rows x 4 columns]

In [9]:
print(df19_21.columns)
print(df22_24.columns)

Index(['행정동', '년분기', '지하철역_갯수', '총승하차인원_합계', '지하철역_목록'], dtype='object')
Index(['행정동', '시군구', '총_승객수', '년분기'], dtype='object')

In [7]:
df22_24.rename(columns={'연분기':'년분기'}, inplace=True)

In [ ]:
# # 'hang_sw_count'와 'merged_data'를 '행정동'과 '년분기'를 기준으로 병합
merged_result = pd.merge(
    df19_21,  # 병합할 첫 번째 데이터프레임
    df22_24,  # 병합할 두 번째 데이터프레임
    on=['행정동', '년분기'],  # 병합 기준 컬럼
    how='left'  # 병합 방법: 'left'는 왼쪽 데이터프레임을 기준으로 병합
)

In [17]:
# 결과 확인
print(merged_result.head())  # 병합된 상위 5개 행 출력

    행정동    년분기  지하철역_갯수  총승하차인원_합계   지하철역_목록  시군구  총_승객수
0  가락1동  20191        2        0.0  송파, 가락시장  NaN    NaN
1  가락1동  20192        2        0.0  송파, 가락시장  NaN    NaN
2  가락1동  20193        2        0.0  가락시장, 송파  NaN    NaN
3  가락1동  20194        2        0.0  가락시장, 송파  NaN    NaN
4  가락1동  20201        2        0.0  송파, 가락시장  NaN    NaN

In [19]:
merged_result_filled = merged_result.fillna(0)
print(merged_result_filled.head())

    행정동    년분기  지하철역_갯수  총승하차인원_합계   지하철역_목록  시군구  총_승객수
0  가락1동  20191        2        0.0  송파, 가락시장    0    0.0
1  가락1동  20192        2        0.0  송파, 가락시장    0    0.0
2  가락1동  20193        2        0.0  가락시장, 송파    0    0.0
3  가락1동  20194        2        0.0  가락시장, 송파    0    0.0
4  가락1동  20201        2        0.0  송파, 가락시장    0    0.0

C:\Users\human\AppData\Local\Temp\ipykernel_4064\4158483940.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_result_filled = merged_result.fillna(0)

In [20]:
# # 결과를 CSV로 저장 (필요한 경우)
merged_result.to_csv('merged_result.csv', index=False, encoding='utf-8')