In [1]:
import numpy as np 
import pandas as pd

19, 20, 21년도파일과 지하철 파일 4개 불러오기

In [2]:
sw19 = pd.read_csv('file/subway_2019.csv', encoding='euc-kr')
sw20 = pd.read_csv('file/subway_2020.csv', encoding='euc-kr')
sw21 = pd.read_csv('file/subway_2021.csv', encoding='euc-kr')
dong_st = pd.read_csv('file/dong_station.csv', encoding='euc-kr')

In [3]:
sw19
sw20
sw21
dong_st

    station_name line   gu  dong   gu_dong
0            NaN  NaN  강남구  개포1동  강남구_개포1동
1          대모산입구  분당선  강남구  개포2동  강남구_개포2동
2             구룡  분당선  강남구  개포2동  강남구_개포2동
3            개포동  분당선  강남구  개포2동  강남구_개포2동
4             대청  3호선  강남구  개포3동  강남구_개포3동
..           ...  ...  ...   ...       ...
593   봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594          NaN  NaN  중랑구  신내2동  중랑구_신내2동
595          NaN  NaN  중랑구  중화1동  중랑구_중화1동
596           중화  7호선  중랑구  중화2동  중랑구_중화2동
597           중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

In [ ]:
# 컬럼명 바꾸기 
dong_st.columns = ['지하철역', '호선명', '구', '동', '구_동']
dong_st

           지하철역  호선명    구     동       구_동
0           NaN  NaN  강남구  개포1동  강남구_개포1동
1         대모산입구  분당선  강남구  개포2동  강남구_개포2동
2            구룡  분당선  강남구  개포2동  강남구_개포2동
3           개포동  분당선  강남구  개포2동  강남구_개포2동
4            대청  3호선  강남구  개포3동  강남구_개포3동
..          ...  ...  ...   ...       ...
593  봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594         NaN  NaN  중랑구  신내2동  중랑구_신내2동
595         NaN  NaN  중랑구  중화1동  중랑구_중화1동
596          중화  7호선  중랑구  중화2동  중랑구_중화2동
597          중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

지하철역으로 두 데이터 병합

In [ ]:
# '지하철역'으로 데이터 병합
station_merge19 = pd.merge(sw19, dong_st, how='outer', on='지하철역')
station_merge20 = pd.merge(sw20, dong_st, how='outer', on='지하철역')
station_merge21 = pd.merge(sw21, dong_st, how='outer', on='지하철역')
station_merge19.dtypes

# 병합하면서 변환된 float 열을 int로 변환
# 병합된 데이터프레임 리스트
station_merges = [station_merge19, station_merge20, station_merge21]

for df in station_merges:
    for col in df.select_dtypes(include='float').columns:
        df[col] = df[col].fillna(0).astype(int)

        
# 필요없는 컬럼 삭제 
station_merge_all.drop('작업일자', axis=1, inplace=True)
station_merge_all

station_merge19
# station_merge20
# station_merge21

,사용월,호선명_x,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,작업일자,호선명_y,구,동,구_동
0,201912,우이신설선,4.19민주묘지,61832,32442,59882,30206,20200103,우이신설선,강북구,우이동,강북구_우이동
1,201911,우이신설선,4.19민주묘지,74480,32496,74086,30133,20191203,우이신설선,강북구,우이동,강북구_우이동
2,201910,우이신설선,4.19민주묘지,77817,35133,76453,32335,20191103,우이신설선,강북구,우이동,강북구_우이동
3,201909,우이신설선,4.19민주묘지,71959,31068,70973,28508,20191003,우이신설선,강북구,우이동,강북구_우이동
4,201908,우이신설선,4.19민주묘지,50245,32013,47766,29384,20190903,우이신설선,강북구,우이동,강북구_우이동
...,...,...,...,...,...,...,...,...,...,...,...,...
10394,0,NaN,NaN,0,0,0,0,0,NaN,중랑구,면목5동,중랑구_면목5동
10395,0,NaN,NaN,0,0,0,0,0,NaN,중랑구,면목7동,중랑구_면목7동
10396,0,NaN,NaN,0,0,0,0,0,NaN,중랑구,묵1동,중랑구_묵1동
10397,0,NaN,NaN,0,0,0,0,0,NaN,중랑구,신내2동,중랑구_신내2동
10398,0,NaN,NaN,0,0,0,0,0,NaN,중랑구,중화1동,중랑구_중화1동

In [13]:
# NaN 값 0으로 채우기 
station_merge19.fillna(0, inplace=True)
station_merge20.fillna(0, inplace=True)
station_merge21.fillna(0, inplace=True)

station_merge19
station_merge20
station_merge21

,사용월,호선명_x,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,작업일자,호선명_y,구,동,구_동
0,202112,우이신설선,4.19민주묘지,47280,29715,45573,27003,20220103,우이신설선,강북구,우이동,강북구_우이동
1,202111,우이신설선,4.19민주묘지,51474,31567,48888,28506,20211203,우이신설선,강북구,우이동,강북구_우이동
2,202110,우이신설선,4.19민주묘지,47136,33743,45146,29650,20211103,우이신설선,강북구,우이동,강북구_우이동
3,202109,우이신설선,4.19민주묘지,42324,31747,40940,27938,20211003,우이신설선,강북구,우이동,강북구_우이동
4,202108,우이신설선,4.19민주묘지,39970,30537,39142,26783,20210903,우이신설선,강북구,우이동,강북구_우이동
...,...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동
10067,0,0,0,0,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동
10068,0,0,0,0,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동
10069,0,0,0,0,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동
10070,0,0,0,0,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동

In [ ]:
# # '지하철역'으로 병합한 csv파일 (확인차)
station_merge_all = pd.concat([station_data19 , station_data20 , station_data21])
# station_merge_all.to_csv('station_merged_ex.csv', index=False, encoding='utf-8')
station_merge_all

# 동이 없는 데이터 제외 
station_merge_all = station_data19[station_data19['동'].notna()]
station_merge_all