In [1]:
import numpy as np 
import pandas as pd

In [2]:
sw19 = pd.read_csv('file/subway_2019.csv', encoding='euc-kr')
sw20 = pd.read_csv('file/subway_2020.csv', encoding='euc-kr')
sw21 = pd.read_csv('file/subway_2021.csv', encoding='euc-kr')
dong_st = pd.read_csv('file/dong_station.csv', encoding='euc-kr')

In [3]:
sw19
sw20
sw21
dong_st

    station_name line   gu  dong   gu_dong
0            NaN  NaN  강남구  개포1동  강남구_개포1동
1          대모산입구  분당선  강남구  개포2동  강남구_개포2동
2             구룡  분당선  강남구  개포2동  강남구_개포2동
3            개포동  분당선  강남구  개포2동  강남구_개포2동
4             대청  3호선  강남구  개포3동  강남구_개포3동
..           ...  ...  ...   ...       ...
593   봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594          NaN  NaN  중랑구  신내2동  중랑구_신내2동
595          NaN  NaN  중랑구  중화1동  중랑구_중화1동
596           중화  7호선  중랑구  중화2동  중랑구_중화2동
597           중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

In [4]:
dong_st.columns = ['지하철역', '호선명', '구', '동', '구_동']
dong_st

           지하철역  호선명    구     동       구_동
0           NaN  NaN  강남구  개포1동  강남구_개포1동
1         대모산입구  분당선  강남구  개포2동  강남구_개포2동
2            구룡  분당선  강남구  개포2동  강남구_개포2동
3           개포동  분당선  강남구  개포2동  강남구_개포2동
4            대청  3호선  강남구  개포3동  강남구_개포3동
..          ...  ...  ...   ...       ...
593  봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594         NaN  NaN  중랑구  신내2동  중랑구_신내2동
595         NaN  NaN  중랑구  중화1동  중랑구_중화1동
596          중화  7호선  중랑구  중화2동  중랑구_중화2동
597          중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

In [5]:
# '지하철역'으로 데이터 병합
station_merge19 = pd.merge(sw19, dong_st, how='outer', on='지하철역')
station_merge20 = pd.merge(sw20, dong_st, how='outer', on='지하철역')
station_merge21 = pd.merge(sw21, dong_st, how='outer', on='지하철역')
station_merge19.dtypes

# 병합하면서 변환된 float 열을 int로 변환
# 병합된 데이터프레임 리스트
station_merges = [station_merge19, station_merge20, station_merge21]

for df in station_merges:
    for col in df.select_dtypes(include='float').columns:
        df[col] = df[col].fillna(0).astype(int)

station_merge19
station_merge20
station_merge21

# NaN 값 0으로 채우기 
station_merge19.fillna(0, inplace=True)
station_merge20.fillna(0, inplace=True)
station_merge21.fillna(0, inplace=True)

station_merge19
station_merge20
station_merge21

# 데이터프레임 리스트
station_data_list = [station_merge19, station_merge20, station_merge21]

# '지하철역'이 0이 아닌 데이터만 필터링
station_data_list = [df[df['지하철역'] != 0] for df in station_data_list]

# 결과 확인 (필요한 경우)
station_data19, station_data20, station_data21 = station_data_list
station_data_list

# 지하철역이 없는 데이터 제외 
# station_data19 = station_merge19[station_merge19['지하철역'] != 0]
# station_data20 = station_merge20[station_merge20['지하철역'] != 0]
# station_data21 = station_merge21[station_merge21['지하철역'] != 0]

station_data19
station_data20
station_data21

# # '지하철역'으로 병합한 csv파일 (확인차)
station_merge_all = pd.concat([station_data19 , station_data20 , station_data21])
# station_merge_all.to_csv('station_merged_ex.csv', index=False, encoding='utf-8')
station_merge_all

# 동이 없는 데이터 제외 
station_merge_all = station_data19[station_data19['동'].notna()]
station_merge_all

# 필요없는 컬럼 삭제 
station_merge_all.drop('작업일자', axis=1, inplace=True)
station_merge_all

,사용월,호선명_x,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,호선명_y,구,동,구_동
0,201912,우이신설선,4.19민주묘지,61832,32442,59882,30206,우이신설선,강북구,우이동,강북구_우이동
1,201911,우이신설선,4.19민주묘지,74480,32496,74086,30133,우이신설선,강북구,우이동,강북구_우이동
2,201910,우이신설선,4.19민주묘지,77817,35133,76453,32335,우이신설선,강북구,우이동,강북구_우이동
3,201909,우이신설선,4.19민주묘지,71959,31068,70973,28508,우이신설선,강북구,우이동,강북구_우이동
4,201908,우이신설선,4.19민주묘지,50245,32013,47766,29384,우이신설선,강북구,우이동,강북구_우이동
...,...,...,...,...,...,...,...,...,...,...,...
10198,201905,9호선,흑석(중앙대입구),295597,60729,296602,62111,9호선,동작구,흑석동,동작구_흑석동
10199,201904,9호선,흑석(중앙대입구),285478,60326,287718,62064,9호선,동작구,흑석동,동작구_흑석동
10200,201903,9호선,흑석(중앙대입구),289104,59790,289968,61624,9호선,동작구,흑석동,동작구_흑석동
10201,201902,9호선,흑석(중앙대입구),183627,49205,191859,50712,9호선,동작구,흑석동,동작구_흑석동
10202,201901,9호선,흑석(중앙대입구),214559,56278,224713,58197,9호선,동작구,흑석동,동작구_흑석동

In [6]:
# 총승하차인원 컬럼 생성 

# 데이터프레임 리스트
station_all = [station_merge19, station_merge20, station_merge21]

# 각 데이터프레임에 대해 합산 컬럼 추가
for df in station_all:
    df['총승하차인원'] = df[['유임승차인원', '무임승차인원', '유임하차인원', '무임하차인원']].sum(axis=1)

station_merge19
station_merge20
station_merge21

,사용월,호선명_x,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,작업일자,호선명_y,구,동,구_동,총승하차인원
0,202112,우이신설선,4.19민주묘지,47280,29715,45573,27003,20220103,우이신설선,강북구,우이동,강북구_우이동,149571
1,202111,우이신설선,4.19민주묘지,51474,31567,48888,28506,20211203,우이신설선,강북구,우이동,강북구_우이동,160435
2,202110,우이신설선,4.19민주묘지,47136,33743,45146,29650,20211103,우이신설선,강북구,우이동,강북구_우이동,155675
3,202109,우이신설선,4.19민주묘지,42324,31747,40940,27938,20211003,우이신설선,강북구,우이동,강북구_우이동,142949
4,202108,우이신설선,4.19민주묘지,39970,30537,39142,26783,20210903,우이신설선,강북구,우이동,강북구_우이동,136432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동,0
10067,0,0,0,0,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동,0
10068,0,0,0,0,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동,0
10069,0,0,0,0,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동,0
10070,0,0,0,0,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동,0

In [7]:
# # 월, 추출

# # '사용월'을 문자열로 변환한 후, 마지막 두 자리로 '월' 추출
# station_merge19['월'] = station_merge19['사용월'].astype(str).str[-2:].astype(int)
# # 결과 확인
# station_merge19[['사용월', '월']].head()
# station_merge19


# station_merge20['월'] = station_merge20['사용월'].astype(str).str[-2:].astype(int)
# # 결과 확인
# station_merge20[['사용월', '월']].head()
# station_merge20


# station_merge21['월'] = station_merge21['사용월'].astype(str).str[-2:].astype(int)
# # 결과 확인
# station_merge21[['사용월', '월']].head()
# station_merge21

# station_merge19 
# station_merge20
# station_merge21

# 데이터프레임 리스트
station_merge_all = [station_merge19, station_merge20, station_merge21]

# 각 데이터프레임에서 '월' 추출 및 '분기' 계산
for df in station_merge_all:
    # '월' 추출
    df['월'] = df['사용월'].astype(str).str[-2:].astype(int)
    
    # '분기' 계산
    df['분기'] = df['월'].apply(lambda x: f"{(x-1)//3 + 1}분기")

# 결과 확인 (각 데이터프레임의 일부만 출력)
for df in station_merge_all:
    print(df[['사용월', '월', '분기']].head())

      사용월   월   분기
0  201912  12  4분기
1  201911  11  4분기
2  201910  10  4분기
3  201909   9  3분기
4  201908   8  3분기
      사용월   월   분기
0  202012  12  4분기
1  202011  11  4분기
2  202010  10  4분기
3  202009   9  3분기
4  202008   8  3분기
      사용월   월   분기
0  202112  12  4분기
1  202111  11  4분기
2  202110  10  4분기
3  202109   9  3분기
4  202108   8  3분기

In [8]:
station_merge19
station_merge20
station_merge21

,사용월,호선명_x,지하철역,유임승차인원,무임승차인원,유임하차인원,무임하차인원,작업일자,호선명_y,구,동,구_동,총승하차인원,월,분기
0,202112,우이신설선,4.19민주묘지,47280,29715,45573,27003,20220103,우이신설선,강북구,우이동,강북구_우이동,149571,12,4분기
1,202111,우이신설선,4.19민주묘지,51474,31567,48888,28506,20211203,우이신설선,강북구,우이동,강북구_우이동,160435,11,4분기
2,202110,우이신설선,4.19민주묘지,47136,33743,45146,29650,20211103,우이신설선,강북구,우이동,강북구_우이동,155675,10,4분기
3,202109,우이신설선,4.19민주묘지,42324,31747,40940,27938,20211003,우이신설선,강북구,우이동,강북구_우이동,142949,9,3분기
4,202108,우이신설선,4.19민주묘지,39970,30537,39142,26783,20210903,우이신설선,강북구,우이동,강북구_우이동,136432,8,3분기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동,0,0,0분기
10067,0,0,0,0,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동,0,0,0분기
10068,0,0,0,0,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동,0,0,0분기
10069,0,0,0,0,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동,0,0,0분기
10070,0,0,0,0,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동,0,0,0분기

In [9]:
# 년도별 역갯수
station_merge19['지하철역'].nunique()
station_merge20['지하철역'].nunique()
station_merge21['지하철역'].nunique()

539

In [10]:
# 유임승차, 무임승차, 유임하차, 무임하차 삭제 
# columns_to_drop = ['유임승차인원','무임승차인원','유임하차인원','무임하차인원'] 
# columns4 = [col for col in columns_to_drop if col in station_merge19.columns]
# station_merge19 = station_merge19.drop(columns=columns4)
# station_merge19

In [11]:
# 유임승차, 무임승차, 유임하차, 무임하차 삭제 
columns_to_drop = ['유임승차인원','무임승차인원','유임하차인원','무임하차인원'] 

def drop_columns(df, columns_to_drop):
    columns4 = [col for col in columns_to_drop if col in df.columns]
    return df.drop(columns=columns4)

# 각 년도별로 컬럼 삭제 
station_merge19 = drop_columns(station_merge19, columns_to_drop)
station_merge20 = drop_columns(station_merge20, columns_to_drop)
station_merge21 = drop_columns(station_merge21, columns_to_drop)

In [12]:
# 사용월 컬럼에서 뒤의 두자리 제거 

station_merge19 
station_merge20
station_merge21

def remove_last_two_digits(df): 
    df['사용월'] = df['사용월'].astype(str).str[:4]
    return df

station_merge19 = remove_last_two_digits(station_merge19)
station_merge20 = remove_last_two_digits(station_merge20)
station_merge21 = remove_last_two_digits(station_merge21)

station_merge19 
station_merge20
station_merge21

,사용월,호선명_x,지하철역,작업일자,호선명_y,구,동,구_동,총승하차인원,월,분기
0,2021,우이신설선,4.19민주묘지,20220103,우이신설선,강북구,우이동,강북구_우이동,149571,12,4분기
1,2021,우이신설선,4.19민주묘지,20211203,우이신설선,강북구,우이동,강북구_우이동,160435,11,4분기
2,2021,우이신설선,4.19민주묘지,20211103,우이신설선,강북구,우이동,강북구_우이동,155675,10,4분기
3,2021,우이신설선,4.19민주묘지,20211003,우이신설선,강북구,우이동,강북구_우이동,142949,9,3분기
4,2021,우이신설선,4.19민주묘지,20210903,우이신설선,강북구,우이동,강북구_우이동,136432,8,3분기
...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동,0,0,0분기
10067,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동,0,0,0분기
10068,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동,0,0,0분기
10069,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동,0,0,0분기
10070,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동,0,0,0분기

In [13]:
# 년분기 컬럼생성
# station_merge19['년분기'] = station_merge19['연도'] + station_merge19['분기'].str.replace('분기','')
# station_merge19

In [14]:
station_merge19
station_merge20 
station_merge21

def add_year_quarter(df): 
    # 연도와 분기 컬럼에서 년분기 컬럼 생성 
    df['년분기'] = df['사용월'].astype(str) + df['분기'].str.replace('분기','') 
    return df

# 각 파일에 년분기 컬럼 추가 
station_merge19 = add_year_quarter(station_merge19)
station_merge20 = add_year_quarter(station_merge20)
station_merge21 = add_year_quarter(station_merge21)

In [15]:
station_merge19
station_merge20
station_merge21

,사용월,호선명_x,지하철역,작업일자,호선명_y,구,동,구_동,총승하차인원,월,분기,년분기
0,2021,우이신설선,4.19민주묘지,20220103,우이신설선,강북구,우이동,강북구_우이동,149571,12,4분기,20214
1,2021,우이신설선,4.19민주묘지,20211203,우이신설선,강북구,우이동,강북구_우이동,160435,11,4분기,20214
2,2021,우이신설선,4.19민주묘지,20211103,우이신설선,강북구,우이동,강북구_우이동,155675,10,4분기,20214
3,2021,우이신설선,4.19민주묘지,20211003,우이신설선,강북구,우이동,강북구_우이동,142949,9,3분기,20213
4,2021,우이신설선,4.19민주묘지,20210903,우이신설선,강북구,우이동,강북구_우이동,136432,8,3분기,20213
...,...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동,0,0,0분기,00
10067,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동,0,0,0분기,00
10068,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동,0,0,0분기,00
10069,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동,0,0,0분기,00
10070,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동,0,0,0분기,00

In [16]:
# 변수명 바꾸기 
sw_19 = station_merge19
sw_20 = station_merge20
sw_21 = station_merge21

In [17]:
sw_19
sw_20
sw_21

,사용월,호선명_x,지하철역,작업일자,호선명_y,구,동,구_동,총승하차인원,월,분기,년분기
0,2021,우이신설선,4.19민주묘지,20220103,우이신설선,강북구,우이동,강북구_우이동,149571,12,4분기,20214
1,2021,우이신설선,4.19민주묘지,20211203,우이신설선,강북구,우이동,강북구_우이동,160435,11,4분기,20214
2,2021,우이신설선,4.19민주묘지,20211103,우이신설선,강북구,우이동,강북구_우이동,155675,10,4분기,20214
3,2021,우이신설선,4.19민주묘지,20211003,우이신설선,강북구,우이동,강북구_우이동,142949,9,3분기,20213
4,2021,우이신설선,4.19민주묘지,20210903,우이신설선,강북구,우이동,강북구_우이동,136432,8,3분기,20213
...,...,...,...,...,...,...,...,...,...,...,...,...
10066,0,0,0,0,0,중랑구,면목5동,중랑구_면목5동,0,0,0분기,00
10067,0,0,0,0,0,중랑구,면목7동,중랑구_면목7동,0,0,0분기,00
10068,0,0,0,0,0,중랑구,묵1동,중랑구_묵1동,0,0,0분기,00
10069,0,0,0,0,0,중랑구,신내2동,중랑구_신내2동,0,0,0분기,00
10070,0,0,0,0,0,중랑구,중화1동,중랑구_중화1동,0,0,0분기,00

In [18]:
sw_19 = sw_19.drop(columns=['월','분기'])
sw_20 = sw_20.drop(columns=['월','분기'])
sw_21 = sw_21.drop(columns=['월','분기'])

sw_19 = sw_19.drop(columns=['사용월','구_동','작업일자'])
sw_20 = sw_20.drop(columns=['사용월','구_동','작업일자'])
sw_21 = sw_21.drop(columns=['사용월','구_동','작업일자'])

sw_19 = sw_19.drop(columns=['호선명_y','호선명_x'])
sw_20 = sw_20.drop(columns=['호선명_y','호선명_x'])
sw_21 = sw_21.drop(columns=['호선명_y','호선명_x'])

In [19]:
sw_19
sw_20 
sw_21

           지하철역    구     동  총승하차인원    년분기
0      4.19민주묘지  강북구   우이동  149571  20214
1      4.19민주묘지  강북구   우이동  160435  20214
2      4.19민주묘지  강북구   우이동  155675  20214
3      4.19민주묘지  강북구   우이동  142949  20213
4      4.19민주묘지  강북구   우이동  136432  20213
...         ...  ...   ...     ...    ...
10066         0  중랑구  면목5동       0     00
10067         0  중랑구  면목7동       0     00
10068         0  중랑구   묵1동       0     00
10069         0  중랑구  신내2동       0     00
10070         0  중랑구  중화1동       0     00

[10071 rows x 5 columns]

In [20]:
# '지하철역' 컬럼을 문자열로 변환
sw_19.loc[:, '지하철역'] = sw_19['지하철역'].astype(str)
sw_20.loc[:, '지하철역'] = sw_20['지하철역'].astype(str)
sw_21.loc[:, '지하철역'] = sw_21['지하철역'].astype(str)

# 결과 확인
print(sw_19.head())
print(sw_20.head())
print(sw_21.head())

       지하철역    구    동  총승하차인원    년분기
0  4.19민주묘지  강북구  우이동  184362  20194
1  4.19민주묘지  강북구  우이동  211195  20194
2  4.19민주묘지  강북구  우이동  221738  20194
3  4.19민주묘지  강북구  우이동  202508  20193
4  4.19민주묘지  강북구  우이동  159408  20193
       지하철역    구    동  총승하차인원    년분기
0  4.19민주묘지  강북구  우이동  121940  20204
1  4.19민주묘지  강북구  우이동  148118  20204
2  4.19민주묘지  강북구  우이동  150294  20204
3  4.19민주묘지  강북구  우이동  126887  20203
4  4.19민주묘지  강북구  우이동  125015  20203
       지하철역    구    동  총승하차인원    년분기
0  4.19민주묘지  강북구  우이동  149571  20214
1  4.19민주묘지  강북구  우이동  160435  20214
2  4.19민주묘지  강북구  우이동  155675  20214
3  4.19민주묘지  강북구  우이동  142949  20213
4  4.19민주묘지  강북구  우이동  136432  20213

In [21]:
# '지하철역' 컬럼에서 고유값의 개수 확인
print(sw_19['지하철역'].nunique())
print(sw_20['지하철역'].nunique())
print(sw_21['지하철역'].nunique())

522
534
539

In [22]:
sw_19
sw_20
sw_21

           지하철역    구     동  총승하차인원    년분기
0      4.19민주묘지  강북구   우이동  149571  20214
1      4.19민주묘지  강북구   우이동  160435  20214
2      4.19민주묘지  강북구   우이동  155675  20214
3      4.19민주묘지  강북구   우이동  142949  20213
4      4.19민주묘지  강북구   우이동  136432  20213
...         ...  ...   ...     ...    ...
10066         0  중랑구  면목5동       0     00
10067         0  중랑구  면목7동       0     00
10068         0  중랑구   묵1동       0     00
10069         0  중랑구  신내2동       0     00
10070         0  중랑구  중화1동       0     00

[10071 rows x 5 columns]

지하철 년도별 데이터 병합

In [23]:
year_merged = pd.concat([sw_19, sw_20, sw_21], axis=0, ignore_index=True)
print(year_merged)

           지하철역    구     동  총승하차인원    년분기
0      4.19민주묘지  강북구   우이동  184362  20194
1      4.19민주묘지  강북구   우이동  211195  20194
2      4.19민주묘지  강북구   우이동  221738  20194
3      4.19민주묘지  강북구   우이동  202508  20193
4      4.19민주묘지  강북구   우이동  159408  20193
...         ...  ...   ...     ...    ...
30474         0  중랑구  면목5동       0     00
30475         0  중랑구  면목7동       0     00
30476         0  중랑구   묵1동       0     00
30477         0  중랑구  신내2동       0     00
30478         0  중랑구  중화1동       0     00

[30479 rows x 5 columns]

In [24]:
year_merge2019 = year_merged[year_merged['년분기'].str.startswith('2019')]
year_merged2020 = year_merged[year_merged['년분기'].str.startswith('2020')]
year_merged2021 = year_merged[year_merged['년분기'].str.startswith('2021')]

year_merge2019
year_merged2020
year_merged2021

            지하철역    구    동  총승하차인원    년분기
20408   4.19민주묘지  강북구  우이동  149571  20214
20409   4.19민주묘지  강북구  우이동  160435  20214
20410   4.19민주묘지  강북구  우이동  155675  20214
20411   4.19민주묘지  강북구  우이동  142949  20213
20412   4.19민주묘지  강북구  우이동  136432  20213
...          ...  ...  ...     ...    ...
30278  흑석(중앙대입구)  동작구  흑석동  411629  20212
30279  흑석(중앙대입구)  동작구  흑석동  413572  20212
30280  흑석(중앙대입구)  동작구  흑석동  426497  20211
30281  흑석(중앙대입구)  동작구  흑석동  336883  20211
30282  흑석(중앙대입구)  동작구  흑석동  339637  20211

[9857 rows x 5 columns]

In [25]:
year_merged = year_merged.rename(columns={'구': '시군구', '동': '행정동', '총승하차인원':'총_승객수'}, inplace=False)
year_merged

           지하철역  시군구   행정동   총_승객수    년분기
0      4.19민주묘지  강북구   우이동  184362  20194
1      4.19민주묘지  강북구   우이동  211195  20194
2      4.19민주묘지  강북구   우이동  221738  20194
3      4.19민주묘지  강북구   우이동  202508  20193
4      4.19민주묘지  강북구   우이동  159408  20193
...         ...  ...   ...     ...    ...
30474         0  중랑구  면목5동       0     00
30475         0  중랑구  면목7동       0     00
30476         0  중랑구   묵1동       0     00
30477         0  중랑구  신내2동       0     00
30478         0  중랑구  중화1동       0     00

[30479 rows x 5 columns]

In [26]:
# merged 데이터프레임의 컬럼 이름을 확인
print(year_merged.columns)

# '지하철역' 컬럼이 있는지 확인 후, 없으면 컬럼 이름을 변경
if '지하철역' not in year_merged.columns:
    # 예를 들어, '지하철역'이 '지하철역 이름'으로 되어 있다면, 이름을 수정
    year_merged.rename(columns={'지하철역 이름': '지하철역'}, inplace=True)

# '동'별로 지하철역을 그룹화하여 나열
grouped_by_dong = year_merged.groupby('행정동')['지하철역'].apply(list).reset_index()

# 0번 인덱스 행 삭제
grouped_by_dong = grouped_by_dong.drop(index=0)

# '지하철역' 컬럼에서 중복값을 제거하고 고유한 값만 남기기
grouped_by_dong['지하철역'] = grouped_by_dong['지하철역'].apply(lambda x: ', '.join(sorted(set(x))) if isinstance(x, list) else x)

# 결과 확인
print(grouped_by_dong.head())

# 수정된 DataFrame을 CSV로 저장
# grouped_by_dong.to_csv('dong_sw.csv', index=False)
# print('CSV 저장 성공')
# merged.to_csv('merged.csv', index=False, encoding='utf-8')
# 전체확인을 위해서 테스트로 생성

# '지하철역' 컬럼에서 고유값의 개수를 확인
print(grouped_by_dong['지하철역'].nunique())

Index(['지하철역', '시군구', '행정동', '총_승객수', '년분기'], dtype='object')
    행정동         지하철역
1  가락1동     가락시장, 송파
2  가락2동     개롱, 경찰병원
3  가락본동           오금
4  가리봉동            0
5   가산동  가산디지털단지, 독산
226

In [27]:
year_merged

           지하철역  시군구   행정동   총_승객수    년분기
0      4.19민주묘지  강북구   우이동  184362  20194
1      4.19민주묘지  강북구   우이동  211195  20194
2      4.19민주묘지  강북구   우이동  221738  20194
3      4.19민주묘지  강북구   우이동  202508  20193
4      4.19민주묘지  강북구   우이동  159408  20193
...         ...  ...   ...     ...    ...
30474         0  중랑구  면목5동       0     00
30475         0  중랑구  면목7동       0     00
30476         0  중랑구   묵1동       0     00
30477         0  중랑구  신내2동       0     00
30478         0  중랑구  중화1동       0     00

[30479 rows x 5 columns]

In [28]:
dong_st

           지하철역  호선명    구     동       구_동
0           NaN  NaN  강남구  개포1동  강남구_개포1동
1         대모산입구  분당선  강남구  개포2동  강남구_개포2동
2            구룡  분당선  강남구  개포2동  강남구_개포2동
3           개포동  분당선  강남구  개포2동  강남구_개포2동
4            대청  3호선  강남구  개포3동  강남구_개포3동
..          ...  ...  ...   ...       ...
593  봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594         NaN  NaN  중랑구  신내2동  중랑구_신내2동
595         NaN  NaN  중랑구  중화1동  중랑구_중화1동
596          중화  7호선  중랑구  중화2동  중랑구_중화2동
597          중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

In [29]:
dong_st.rename(columns={'구':'시군구','동':'행정동'}, inplace=True)
dong_st.drop(columns={'구_동'})

           지하철역  호선명  시군구   행정동
0           NaN  NaN  강남구  개포1동
1         대모산입구  분당선  강남구  개포2동
2            구룡  분당선  강남구  개포2동
3           개포동  분당선  강남구  개포2동
4            대청  3호선  강남구  개포3동
..          ...  ...  ...   ...
593  봉화산(서울의료원)  6호선  중랑구  신내1동
594         NaN  NaN  중랑구  신내2동
595         NaN  NaN  중랑구  중화1동
596          중화  7호선  중랑구  중화2동
597          중랑  중앙선  중랑구  중화2동

[598 rows x 4 columns]

In [30]:
dong_st = dong_st.fillna(0)
dong_st

           지하철역  호선명  시군구   행정동       구_동
0             0    0  강남구  개포1동  강남구_개포1동
1         대모산입구  분당선  강남구  개포2동  강남구_개포2동
2            구룡  분당선  강남구  개포2동  강남구_개포2동
3           개포동  분당선  강남구  개포2동  강남구_개포2동
4            대청  3호선  강남구  개포3동  강남구_개포3동
..          ...  ...  ...   ...       ...
593  봉화산(서울의료원)  6호선  중랑구  신내1동  중랑구_신내1동
594           0    0  중랑구  신내2동  중랑구_신내2동
595           0    0  중랑구  중화1동  중랑구_중화1동
596          중화  7호선  중랑구  중화2동  중랑구_중화2동
597          중랑  중앙선  중랑구  중화2동  중랑구_중화2동

[598 rows x 5 columns]

In [31]:
print(dong_st.columns)
print(year_merged.columns)

Index(['지하철역', '호선명', '시군구', '행정동', '구_동'], dtype='object')
Index(['지하철역', '시군구', '행정동', '총_승객수', '년분기'], dtype='object')

각각 전처리한 데이터 병합

In [32]:
sw_dong = pd.merge(dong_st, year_merged, on=['지하철역','시군구','행정동'], how='inner')
sw_dong

        지하철역  호선명  시군구   행정동       구_동   총_승객수    년분기
0      대모산입구  분당선  강남구  개포2동  강남구_개포2동  206276  20194
1      대모산입구  분당선  강남구  개포2동  강남구_개포2동  209617  20194
2      대모산입구  분당선  강남구  개포2동  강남구_개포2동  217900  20194
3      대모산입구  분당선  강남구  개포2동  강남구_개포2동  190397  20193
4      대모산입구  분당선  강남구  개포2동  강남구_개포2동  197771  20193
...      ...  ...  ...   ...       ...     ...    ...
38122     중랑  중앙선  중랑구  중화2동  중랑구_중화2동  299500  20212
38123     중랑  중앙선  중랑구  중화2동  중랑구_중화2동  296267  20212
38124     중랑  중앙선  중랑구  중화2동  중랑구_중화2동  295857  20211
38125     중랑  중앙선  중랑구  중화2동  중랑구_중화2동  237817  20211
38126     중랑  중앙선  중랑구  중화2동  중랑구_중화2동  239216  20211

[38127 rows x 7 columns]

In [33]:
# 구_동 컬럼 삭제 
sw_dong.drop(columns='구_동', inplace=True)
sw_dong

        지하철역  호선명  시군구   행정동   총_승객수    년분기
0      대모산입구  분당선  강남구  개포2동  206276  20194
1      대모산입구  분당선  강남구  개포2동  209617  20194
2      대모산입구  분당선  강남구  개포2동  217900  20194
3      대모산입구  분당선  강남구  개포2동  190397  20193
4      대모산입구  분당선  강남구  개포2동  197771  20193
...      ...  ...  ...   ...     ...    ...
38122     중랑  중앙선  중랑구  중화2동  299500  20212
38123     중랑  중앙선  중랑구  중화2동  296267  20212
38124     중랑  중앙선  중랑구  중화2동  295857  20211
38125     중랑  중앙선  중랑구  중화2동  237817  20211
38126     중랑  중앙선  중랑구  중화2동  239216  20211

[38127 rows x 6 columns]

In [34]:
# sw_dong.to_csv('sw_dong.csv', index=False, encoding='utf-8')

중복된 데이터 확인

In [35]:
# 중복된 데이터 확인
duplicate_rows = sw_dong[sw_dong.duplicated()]

# 중복된 데이터 출력
print(duplicate_rows)

      지하철역        호선명  시군구   행정동    총_승객수    년분기
145     신사  신분당선(연장2)  강남구  논현1동  2210202  20194
147     신사  신분당선(연장2)  강남구  논현1동  2105017  20194
149     신사  신분당선(연장2)  강남구  논현1동  2128602  20194
151     신사  신분당선(연장2)  강남구  논현1동  1888376  20193
153     신사  신분당선(연장2)  강남구  논현1동  2092206  20193
...    ...        ...  ...   ...      ...    ...
37745   신내        6호선  중랑구  망우본동    87209  20211
37747   신내        6호선  중랑구  망우본동        6  20211
37749   신내        6호선  중랑구  망우본동    63097  20211
37751   신내        6호선  중랑구  망우본동       10  20211
37753   신내        6호선  중랑구  망우본동    62706  20211

[17438 rows x 6 columns]

총_승객수 합계

In [36]:
human_group = duplicate_rows.groupby(['지하철역','시군구','행정동','년분기'], as_index=False)['총_승객수'].sum()
human_group

      지하철역  시군구   행정동    년분기    총_승객수
0     가락시장  송파구  가락1동  20191  6520742
1     가락시장  송파구  가락1동  20192  6747130
2     가락시장  송파구  가락1동  20193  6395130
3     가락시장  송파구  가락1동  20194  7055298
4     가락시장  송파구  가락1동  20201  5369616
..     ...  ...   ...    ...      ...
726  효창공원앞  용산구   용문동  20204  2789412
727  효창공원앞  용산구   용문동  20211  2705210
728  효창공원앞  용산구   용문동  20212  3050718
729  효창공원앞  용산구   용문동  20213  2689724
730  효창공원앞  용산구   용문동  20214  3064836

[731 rows x 5 columns]

총_승객수 합계한뒤 평균값 구하기

In [37]:
mean_sw_dong = duplicate_rows.groupby(['지하철역', '시군구', '행정동', '년분기'], as_index=False)['총_승객수'].mean()

# 평균값 float -> 반올림하기
mean_sw_dong['총_승객수'] = mean_sw_dong['총_승객수'].round(2)

mean_sw_dong
# 'mean_sw_dong.csv' 파일로 저장
# mean_sw_dong.to_csv('mean_sw_dong.csv', index=False)

      지하철역  시군구   행정동    년분기      총_승객수
0     가락시장  송파구  가락1동  20191  543395.17
1     가락시장  송파구  가락1동  20192  562260.83
2     가락시장  송파구  가락1동  20193  532927.50
3     가락시장  송파구  가락1동  20194  587941.50
4     가락시장  송파구  가락1동  20201  447468.00
..     ...  ...   ...    ...        ...
726  효창공원앞  용산구   용문동  20204  232451.00
727  효창공원앞  용산구   용문동  20211  225434.17
728  효창공원앞  용산구   용문동  20212  254226.50
729  효창공원앞  용산구   용문동  20213  224143.67
730  효창공원앞  용산구   용문동  20214  255403.00

[731 rows x 5 columns]

In [38]:
sw_dong_sort = duplicate_rows.sort_values(by='년분기', ascending=True)
sw_dong_sort.to_csv("sw_dong_sort.csv", index=False, encoding='utf-8')
sw_dong_sort

            지하철역   호선명  시군구   행정동   총_승객수    년분기
33879  동대문역사문화공원   2호선   중구   광희동       0     00
19569      청계산입구  신분당선  서초구   내곡동       0     00
2634          강일   5호선  강동구   강일동       0     00
2633          강일   5호선  강동구   강일동       0     00
2632          강일   5호선  강동구   강일동       0     00
...          ...   ...  ...   ...     ...    ...
7957      군자(능동)   7호선  광진구    능동  683744  20214
7955      군자(능동)   7호선  광진구    능동  611841  20214
34815      을지로3가   2호선   중구  을지로동  488169  20214
20244      고속터미널   7호선  서초구  반포4동  802378  20214
20236      고속터미널   7호선  서초구  반포4동  831284  20214

[17438 rows x 6 columns]

위에서 sort로 정리한 데이터 년도별로 분할(없는데이터 있어서 정리)

In [39]:
df_20191 = sw_dong_sort[sw_dong_sort['년분기'] == '20191']
df_20192 = sw_dong_sort[sw_dong_sort['년분기'] == '20192']
df_20193 = sw_dong_sort[sw_dong_sort['년분기'] == '20193']
df_20194 = sw_dong_sort[sw_dong_sort['년분기'] == '20194']

df_20191

      지하철역    호선명  시군구  행정동    총_승객수    년분기
31094  연신내    6호선  은평구  대조동       27  20191
31086  연신내    6호선  은평구  대조동       25  20191
31088  연신내    6호선  은평구  대조동  2155590  20191
31090  연신내    6호선  은평구  대조동       21  20191
31092  연신내    6호선  은평구  대조동  2489460  20191
...    ...    ...  ...  ...      ...    ...
37047  서울역    1호선   중구  회현동  3430440  20191
35810  서울역  경의중앙선   중구  회현동  3012616  20191
35811  서울역  경의중앙선   중구  회현동  3012616  20191
35805  서울역  경의중앙선   중구  회현동   254829  20191
37049  서울역    1호선   중구  회현동  1161406  20191

[1502 rows x 6 columns]