In [2]:
import pandas as pd

In [3]:
sales = pd.read_csv(r"D:\Work\project\project2\oos\data\매출액\Merged_Sales_data.csv")

local_20191 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_long_end\long_20191.csv")
# local_20192 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20192.csv")
# local_20193 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20193.csv")
# local_20194 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20194.csv")

# local_20201 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20201.csv")
# local_20202 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20202.csv")
# local_20203 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20203.csv")
# local_20204 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20204.csv")

# local_20211 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20211.csv")
# local_20212 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20212.csv")
# local_20213 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20213.csv")
# local_20214 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20214.csv")

# local_20221 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20221.csv")
# local_20222 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20222.csv")
# local_20223 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20223.csv")
# local_20224 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20224.csv")

# local_20231 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20231.csv")
# local_20232 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20232.csv")
# local_20233 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20233.csv")
# local_20234 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20234.csv")

# local_20241 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20241.csv")
# local_20242 = pd.read_csv(r"D:\Work\project\project2\LWB\end_files\living_local_end\local_20242.csv")

In [96]:
def Data_Comparison(a, b, c):
    """a = 데이터A
       b = 데이터B
       c = 비교할컬럼
    """
    set_a = set(a[c])
    set_b = set(b[c])
    common_values = set_a & set_b  # A와 B에 모두 있는 값
    only_in_a = set_a - set_b  # A에만 있는 값
    only_in_b = set_b - set_a  # B에만 있는 값

    # 결과 출력
    print("A와 B에 모두 있는 값:")
    print(common_values)

    print("\nA에만 있는 값:")
    print(only_in_a)

    print("\nB에만 있는 값:")
    print(only_in_b)

In [100]:
def process_data(data, year):

    #print(data.columns)

    data = data[["시간대구분", "행정동코드", "총생활인구수"]]
    data["년분기"] = year
    data = data[['년분기', '시간대구분', '행정동코드', '총생활인구수']]
    col = ['년분기', '시간', '행정동코드', '총생활인구']
    data.columns = col
    selected_local_data = data.groupby(["년분기", "행정동코드"])["총생활인구"].sum().round(0).reset_index()
    selected_local_data = selected_local_data.astype(int)
    print(selected_local_data.info())
    return selected_local_data

In [103]:
selected_local_20191 = process_data(local_20191, 20191)
selected_local_20192 = process_data(local_20192, 20192)
selected_local_20193 = process_data(local_20193, 20193)
selected_local_20194 = process_data(local_20194, 20194)

selected_local_20201 = process_data(local_20201, 20201)
selected_local_20202 = process_data(local_20202, 20202)
selected_local_20203 = process_data(local_20203, 20203)
selected_local_20204 = process_data(local_20204, 20204)

selected_local_20211 = process_data(local_20211, 20211)
selected_local_20212 = process_data(local_20212, 20212)
selected_local_20213 = process_data(local_20213, 20213)
selected_local_20214 = process_data(local_20214, 20214)

selected_local_20221 = process_data(local_20221, 20221)
selected_local_20222 = process_data(local_20222, 20222)
selected_local_20223 = process_data(local_20223, 20223)
selected_local_20224 = process_data(local_20224, 20224)

selected_local_20231 = process_data(local_20231, 20231)
selected_local_20232 = process_data(local_20232, 20232)
selected_local_20233 = process_data(local_20233, 20233)
selected_local_20234 = process_data(local_20234, 20234)

selected_local_20241 = process_data(local_20241, 20241)
selected_local_20242 = process_data(local_20242, 20242)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     424 non-null    int64
 1   행정동코드   424 non-null    int64
 2   총생활인구   424 non-null    int64
dtypes: int64(3)
memory usage: 10.1 KB
None

C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year
C:\Users\human\AppData\Local\Temp\ipykernel_6040\3698751931.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["년분기"] = year

In [107]:
selected_local_20191.head()
selected_local_20201.head()
selected_local_20211.head()
selected_local_20241.head()

     년분기     행정동코드   총생활인구
0  20241  11110515  392803
1  20241  11110530  593339
2  20241  11110540  131662
3  20241  11110550  308460
4  20241  11110560  417949

In [ ]:
# DataFrame 합치기
data_list = ["selected_local_20191", "selected_local_20192", "selected_local_20193", "selected_local_20194",
             "selected_local_20201", "selected_local_20202", "selected_local_20203", "selected_local_20204",
             "selected_local_20211", "selected_local_20212", "selected_local_20213", "selected_local_20214",
             "selected_local_20221", "selected_local_20222", "selected_local_20223", "selected_local_20224",
             "selected_local_20231", "selected_local_20232", "selected_local_20233", "selected_local_20234",
             "selected_local_20241", "selected_local_20242"]
combined_df = pd.concat(data_list, ignore_index=True)

# 오름차순 정렬 (예: 특정 컬럼 'Date' 기준으로)
sorted_df = combined_df.sort_values(by='년분기', ascending=True)

# 결과 저장 (선택사항)
sorted_df.to_csv('Sorted_Number_of_Stores.csv', index=False)

# 결과 확인
print(sorted_df.head())

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [113]:
import pandas as pd

# 문자열로 된 데이터프레임 이름 리스트
data_list = [
    "selected_local_20191", "selected_local_20192", "selected_local_20193", "selected_local_20194",
    "selected_local_20201", "selected_local_20202", "selected_local_20203", "selected_local_20204",
    "selected_local_20211", "selected_local_20212", "selected_local_20213", "selected_local_20214",
    "selected_local_20221", "selected_local_20222", "selected_local_20223", "selected_local_20224",
    "selected_local_20231", "selected_local_20232", "selected_local_20233", "selected_local_20234",
    "selected_local_20241", "selected_local_20242"
]

# globals()를 사용하여 데이터프레임 객체 리스트 생성
dataframes = [globals()[name] for name in data_list]


# 데이터프레임 병합
combined_df = pd.concat(dataframes, ignore_index=True)

# 결과 저장 (선택사항)
combined_df.to_csv('Living_Local_merged.csv', index=False)


# 결과 출력
print(combined_df["년분기"].unique())

[20191 20192 20193 20194 20201 20202 20203 20204 20211 20212 20213 20214
 20221 20222 20223 20224 20231 20232 20233 20234 20241 20242]

In [112]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     9328 non-null   int64
 1   행정동코드   9328 non-null   int64
 2   총생활인구   9328 non-null   int64
dtypes: int64(3)
memory usage: 218.8 KB