In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('서울시 거주인구 (동,분기).csv')

In [9]:
data[50:60]

,동별,구분별,항목,단위,2019. 1/4,2019. 2/4,2019. 3/4,2019. 4/4,2020. 1/4,2020. 2/4,...,2022. 2/4,2022. 3/4,2022. 4/4,2023. 1/4,2023. 2/4,2023. 3/4,2023. 4/4,2024. 1/4,2024. 2/4,Unnamed: 26
50,부암동,남자,주민등록인구(동별),NaN,5012.00,4989.00,5002.00,5045.00,5042.00,4953.00000,...,4630.00,4578.00,4545.00,4485.00,4463.00,4483.00,4466.0,4456.0,4415.0,NaN
51,부암동,여자,주민등록인구(동별),NaN,5511.00,5488.00,5523.00,5506.00,5555.00,5468.00000,...,5053.00,5012.00,4991.00,4975.00,4914.00,4960.00,4923.0,4944.0,4931.0,NaN
52,부암동,한국인,주민등록인구(동별),명,10111.00,10068.00,10017.00,10100.00,10164.00,10050.00000,...,9432.00,9314.00,9241.00,9148.00,9112.00,9136.00,9085.0,9072.0,9042.0,NaN
53,부암동,남자,주민등록인구(동별),NaN,4832.00,4801.00,4765.00,4826.00,4835.00,4769.00000,...,4490.00,4430.00,4382.00,4319.00,4315.00,4326.00,4303.0,4287.0,4251.0,NaN
54,부암동,여자,주민등록인구(동별),NaN,5279.00,5267.00,5252.00,5274.00,5329.00,5281.00000,...,4942.00,4884.00,4859.00,4829.00,4797.00,4810.00,4782.0,4785.0,4791.0,NaN
55,부암동,등록외국인,주민등록인구(동별),명,412.00,409.00,508.00,451.00,433.00,371.00000,...,251.00,276.00,295.00,312.00,265.00,307.00,304.0,328.0,304.0,NaN
56,부암동,남자,주민등록인구(동별),NaN,180.00,188.00,237.00,219.00,207.00,184.00000,...,140.00,148.00,163.00,166.00,148.00,157.00,163.0,169.0,164.0,NaN
57,부암동,여자,주민등록인구(동별),NaN,232.00,221.00,271.00,232.00,226.00,187.00000,...,111.00,128.00,132.00,146.00,117.00,150.00,141.0,159.0,140.0,NaN
58,부암동,세대당인구,주민등록인구(동별),명,2.35,2.35,2.35,2.35,2.34,2.31247,...,2.23,2.23,2.23,2.22,2.21,2.21,2.2,2.2,2.2,NaN
59,부암동,65세이상고령자,주민등록인구(동별),명,1752.00,1747.00,1754.00,1762.00,1799.00,1802.00000,...,1819.00,1806.00,1814.00,1830.00,1839.00,1859.00,1879.0,1924.0,1939.0,NaN