In [39]:
import pandas as pd

In [40]:
data_01 = pd.read_csv('서울시_상권분석서비스(점포-행정동)_2019년.csv', encoding='EUC-KR')
data_02 = pd.read_csv(r'D:\Work\team_project\project2\oos\data\거주인구\Resident_Population_Dong424.csv')

In [41]:
data_01.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139799 entries, 0 to 139798
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    139799 non-null  int64
 1   행정동_코드       139799 non-null  int64
 2   행정동_코드_명     139799 non-null  object
 3   서비스_업종_코드    139799 non-null  object
 4   서비스_업종_코드_명  139799 non-null  object
 5   점포_수         139799 non-null  int64
 6   유사_업종_점포_수   139799 non-null  int64
 7   개업_율         139799 non-null  int64
 8   개업_점포_수      139799 non-null  int64
 9   폐업_률         139799 non-null  int64
 10  폐업_점포_수      139799 non-null  int64
 11  프랜차이즈_점포_수   139799 non-null  int64
dtypes: int64(9), object(3)
memory usage: 12.8+ MB

In [42]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

In [43]:
# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'중화1동', '홍은2동', '오륜동', '금호2·3가동', '왕십리도선동', '신원동', '발산1동', '신정6동', '시흥5동', '옥수동', '아현동', '노량진2동', '수유3동', '구로3동', '원효로1동', '장충동', '청룡동', '답십리2동', '도봉1동', '수서동', '번2동', '하계2동', '대치2동', '반포4동', '홍은1동', '화곡2동', '상도1동', '서교동', '길동', '고척2동', '가락2동', '상계5동', '사직동', '신당동', '낙성대동', '망원1동', '가양3동', '당산1동', '도곡2동', '면목4동', '장지동', '대흥동', '가락본동', '신월7동', '난향동', '공릉2동', '반포2동', '도곡1동', '월계3동', '가리봉동', '녹번동', '종로1·2·3·4가동', '고덕1동', '합정동', '번3동', '서초3동', '양평2동', '자양3동', '역삼1동', '상일동', '은천동', '천호1동', '이화동', '양재1동', '길음1동', '도봉2동', '송천동', '구의2동', '신월2동', '신림동', '교남동', '삼성1동', '청담동', '청림동', '잠실4동', '돈암1동', '마천1동', '정릉2동', '미아동', '장위1동', '창신1동', '장안1동', '창신3동', '행당1동', '신정2동', '중곡4동', '신사동', '갈현2동', '상계10동', '도림동', '청운효자동', '신길3동', '시흥4동', '내곡동', '금호1가동', '불광2동', '용강동', '남가좌2동', '신수동', '방이2동', '양평1동', '다산동', '가양1동', '사근동', '성수1가1동', '능동', '삼전동', '상봉2동', '영등포본동', '대치4동', '시흥2동', '신대방2동', '군자동', '삼양동', '송파1동', '창3동', '사당1동', '쌍문4동', '광희동', '방배2동', '숭인1동', '소공동', '보라매동', '대방동', '구로1동', '서초4동', '쌍문2동', '화곡6동', '회현동', '보광동', '홍제3동', '전농2동', '목4동', '동선동', '효창동', '독산4동', '용문동', '흑석동', '자양1동', '남현동', '신대방1동', '송중동', '석관동', '독산1동', '제기동', '홍제1동', '인수동', '이문2동', '신당5동', '잠실7동', '일원1동', '중계2·3동', '시흥3동', '삼성동', '화곡본동', '공항동', '암사3동', '가양2동', '마장동', '면목7동', '성현동', '염리동', '방배4동', '오금동', '자양2동', '구의1동', '방배1동', '방화2동', '신내2동', '상암동', '신길4동', '목5동', '방학2동', '원효로2동', '번1동', '마천2동', '이문1동', '중림동', '송정동', '성북동', '망우3동', '상계3·4동', '문정1동', '대림1동', '공덕동', '월곡2동', '월곡1동', '신정7동', '신길1동', '도화동', '광장동', '개봉2동', '방화3동', '쌍문1동', '연남동', '약수동', '노량진1동', '등촌3동', '염창동', '구산동', '풍납2동', '방학3동', '사당5동', '창2동', '서초2동', '진관동', '성내1동', '청량리동', '동화동', '수색동', '홍제2동', '방배본동', '이태원1동', '응암3동', '문래동', '휘경1동', '면목5동', '구로2동', '충현동', '중곡3동', '월계1동', '신월3동', '중화2동', '남영동', '개포1동', '잠원동', '삼성2동', '서강동', '역삼2동', '상계8동', '거여2동', '보문동', '문정2동', '구로5동', '상계1동', '상도2동', '상도3동', '방이1동', '화곡8동', '고덕2동', '상계9동', '갈현1동', '사당4동', '남가좌1동', '가회동', '수유1동', '평창동', '신사2동', '서원동', '일원본동', '부암동', '회기동', '개포4동', '종로5·6가동', '중계1동', '창4동', '잠실본동', '길음2동', '조원동', '성산2동', '신도림동', '신길6동', '우이동', '성수1가2동', '방학1동', '전농1동', '중앙동', '잠실2동', '한남동', '공릉1동', '양재2동', '월계2동', '서초1동', '성산1동', '위례동', '금호4가동', '독산3동', '상계6·7동', '잠실6동', '신월4동', '을지로동', '쌍문3동', '암사2동', '고척1동', '개포2동', '오류1동', '망우본동', '북가좌1동', '연희동', '숭인2동', '독산2동', '풍납1동', '응암2동', '화곡3동', '증산동', '신월5동', '사당2동', '불광1동', '신정1동', '삼청동', '용답동', '송파2동', '난곡동', '상도4동', '인헌동', '대치1동', '잠실3동', '무악동', '명일1동', '중계본동', '거여1동', '논현1동', '방화1동', '이촌1동', '신사1동', '가산동', '수궁동', '목1동', '세곡동', '망원2동', '중곡2동', '창신2동', '명일2동', '사당3동', '등촌2동', '암사1동', '안암동', '답십리1동', '반포3동', '당산2동', '종암동', '신촌동', '장안2동', '돈암2동', '구의3동', '신월6동', '화양동', '둔촌1동', '장위3동', '미성동', '창1동', '압구정동', '창5동', '대림3동', '화곡4동', '행당2동', '용산2가동', '중곡1동', '후암동', '개봉1동', '면목3·8동', '신길5동', '대조동', '역촌동', '반포1동', '오류2동', '북가좌2동', '구로4동', '응봉동', '방배3동', '신정3동', '강일동', '삼각산동', '청파동', '황학동', '성내2동', '상계2동', '장위2동', '성수2가3동', '가락1동', '묵1동', '신정4동', '용신동', '서림동', '하계1동', '서빙고동', '석촌동', '청구동', '이태원2동', '천호2동', '반포본동', '천호3동', '면목2동', '천연동', '일원2동', '정릉1동', '명동', '여의동', '한강로동', '시흥1동', '수유2동', '정릉4동', '상봉1동', '신내1동', '행운동', '대림2동', '목2동', '논현2동', '면목본동', '묵2동', '중계4동', '화곡1동', '필동', '등촌1동', '목3동', '혜화동', '응암1동', '신월1동', '영등포동', '우장산동', '둔촌2동', '휘경2동', '성내3동', '자양4동', '개봉3동', '왕십리2동', '성수2가1동', '대학동', '북아현동', '이촌2동', '신길7동', '정릉3동', '삼선동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
{'관악구 신사동'}

In [44]:
data_01.loc[data_01['행정동_코드'] == 11620685, '행정동_코드_명'] = '관악구 신사동'

In [45]:
data_01[data_01['행정동_코드_명'] == '관악구 신사동'][:1]

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
27118,20191,11620685,관악구 신사동,CS100001,한식음식점,94,103,5,5,7,7,9

In [46]:
dong_check = data_01[data_01['행정동_코드_명'] == '신사동']

In [47]:
dong_check.head(1)

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
29347,20191,11680510,신사동,CS100001,한식음식점,252,293,3,10,3,9,41

In [48]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'중화1동', '홍은2동', '오륜동', '금호2·3가동', '왕십리도선동', '신원동', '발산1동', '신정6동', '시흥5동', '옥수동', '아현동', '노량진2동', '수유3동', '구로3동', '원효로1동', '장충동', '청룡동', '답십리2동', '도봉1동', '수서동', '번2동', '하계2동', '대치2동', '반포4동', '홍은1동', '화곡2동', '상도1동', '서교동', '길동', '고척2동', '가락2동', '상계5동', '사직동', '신당동', '낙성대동', '망원1동', '가양3동', '당산1동', '도곡2동', '면목4동', '장지동', '대흥동', '가락본동', '신월7동', '난향동', '공릉2동', '반포2동', '도곡1동', '월계3동', '가리봉동', '녹번동', '종로1·2·3·4가동', '고덕1동', '합정동', '번3동', '서초3동', '양평2동', '자양3동', '역삼1동', '상일동', '은천동', '천호1동', '이화동', '양재1동', '길음1동', '도봉2동', '송천동', '구의2동', '신월2동', '관악구 신사동', '신림동', '교남동', '삼성1동', '청담동', '청림동', '잠실4동', '돈암1동', '마천1동', '정릉2동', '미아동', '장위1동', '창신1동', '장안1동', '창신3동', '행당1동', '신정2동', '중곡4동', '신사동', '갈현2동', '상계10동', '도림동', '청운효자동', '신길3동', '시흥4동', '내곡동', '금호1가동', '불광2동', '용강동', '남가좌2동', '신수동', '방이2동', '양평1동', '다산동', '가양1동', '사근동', '성수1가1동', '능동', '삼전동', '상봉2동', '영등포본동', '대치4동', '시흥2동', '신대방2동', '군자동', '삼양동', '송파1동', '창3동', '사당1동', '쌍문4동', '광희동', '방배2동', '숭인1동', '소공동', '보라매동', '대방동', '구로1동', '서초4동', '쌍문2동', '화곡6동', '회현동', '보광동', '홍제3동', '전농2동', '목4동', '동선동', '효창동', '독산4동', '용문동', '흑석동', '자양1동', '남현동', '신대방1동', '송중동', '석관동', '독산1동', '제기동', '홍제1동', '인수동', '이문2동', '신당5동', '잠실7동', '일원1동', '중계2·3동', '시흥3동', '삼성동', '화곡본동', '공항동', '암사3동', '가양2동', '마장동', '면목7동', '성현동', '염리동', '방배4동', '오금동', '자양2동', '구의1동', '방배1동', '방화2동', '신내2동', '상암동', '신길4동', '목5동', '방학2동', '원효로2동', '번1동', '마천2동', '이문1동', '중림동', '송정동', '성북동', '망우3동', '상계3·4동', '문정1동', '대림1동', '공덕동', '월곡2동', '월곡1동', '신정7동', '신길1동', '도화동', '광장동', '개봉2동', '방화3동', '쌍문1동', '연남동', '약수동', '노량진1동', '등촌3동', '염창동', '구산동', '풍납2동', '방학3동', '사당5동', '창2동', '서초2동', '진관동', '성내1동', '청량리동', '동화동', '수색동', '홍제2동', '방배본동', '이태원1동', '응암3동', '문래동', '휘경1동', '면목5동', '구로2동', '충현동', '중곡3동', '월계1동', '신월3동', '중화2동', '남영동', '개포1동', '잠원동', '삼성2동', '서강동', '역삼2동', '상계8동', '거여2동', '보문동', '문정2동', '구로5동', '상계1동', '상도2동', '상도3동', '방이1동', '화곡8동', '고덕2동', '상계9동', '갈현1동', '사당4동', '남가좌1동', '가회동', '수유1동', '평창동', '신사2동', '서원동', '일원본동', '부암동', '회기동', '개포4동', '종로5·6가동', '중계1동', '창4동', '잠실본동', '길음2동', '조원동', '성산2동', '신도림동', '신길6동', '우이동', '성수1가2동', '방학1동', '전농1동', '중앙동', '잠실2동', '한남동', '공릉1동', '양재2동', '월계2동', '서초1동', '성산1동', '위례동', '금호4가동', '독산3동', '상계6·7동', '잠실6동', '신월4동', '을지로동', '쌍문3동', '암사2동', '고척1동', '개포2동', '오류1동', '망우본동', '북가좌1동', '연희동', '숭인2동', '독산2동', '풍납1동', '응암2동', '화곡3동', '증산동', '신월5동', '사당2동', '불광1동', '신정1동', '삼청동', '용답동', '송파2동', '난곡동', '상도4동', '인헌동', '대치1동', '잠실3동', '무악동', '명일1동', '중계본동', '거여1동', '논현1동', '방화1동', '이촌1동', '신사1동', '가산동', '수궁동', '목1동', '세곡동', '망원2동', '중곡2동', '창신2동', '명일2동', '사당3동', '등촌2동', '암사1동', '안암동', '답십리1동', '반포3동', '당산2동', '종암동', '신촌동', '장안2동', '돈암2동', '구의3동', '신월6동', '화양동', '둔촌1동', '장위3동', '미성동', '창1동', '압구정동', '창5동', '대림3동', '화곡4동', '행당2동', '용산2가동', '중곡1동', '후암동', '개봉1동', '면목3·8동', '신길5동', '대조동', '역촌동', '반포1동', '오류2동', '북가좌2동', '구로4동', '응봉동', '방배3동', '신정3동', '강일동', '삼각산동', '청파동', '황학동', '성내2동', '상계2동', '장위2동', '성수2가3동', '가락1동', '묵1동', '신정4동', '용신동', '서림동', '하계1동', '서빙고동', '석촌동', '청구동', '이태원2동', '천호2동', '반포본동', '천호3동', '면목2동', '천연동', '일원2동', '정릉1동', '명동', '여의동', '한강로동', '시흥1동', '수유2동', '정릉4동', '상봉1동', '신내1동', '행운동', '대림2동', '목2동', '논현2동', '면목본동', '묵2동', '중계4동', '화곡1동', '필동', '등촌1동', '목3동', '혜화동', '응암1동', '신월1동', '영등포동', '우장산동', '둔촌2동', '휘경2동', '성내3동', '자양4동', '개봉3동', '왕십리2동', '성수2가1동', '대학동', '북아현동', '이촌2동', '신길7동', '정릉3동', '삼선동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
set()

In [49]:
data_01.loc[data_01['행정동_코드_명'] == '항동', '행정동_코드_명'] = '오류2동'

In [50]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'중화1동', '홍은2동', '오륜동', '금호2·3가동', '왕십리도선동', '신원동', '발산1동', '신정6동', '시흥5동', '옥수동', '아현동', '노량진2동', '수유3동', '구로3동', '원효로1동', '장충동', '청룡동', '답십리2동', '도봉1동', '수서동', '번2동', '하계2동', '대치2동', '반포4동', '홍은1동', '화곡2동', '상도1동', '서교동', '길동', '고척2동', '가락2동', '상계5동', '사직동', '신당동', '낙성대동', '망원1동', '가양3동', '당산1동', '도곡2동', '면목4동', '장지동', '대흥동', '가락본동', '신월7동', '난향동', '공릉2동', '반포2동', '도곡1동', '월계3동', '가리봉동', '녹번동', '종로1·2·3·4가동', '고덕1동', '합정동', '번3동', '서초3동', '양평2동', '자양3동', '역삼1동', '상일동', '은천동', '천호1동', '이화동', '양재1동', '길음1동', '도봉2동', '송천동', '구의2동', '신월2동', '관악구 신사동', '신림동', '교남동', '삼성1동', '청담동', '청림동', '잠실4동', '돈암1동', '마천1동', '정릉2동', '미아동', '장위1동', '창신1동', '장안1동', '창신3동', '행당1동', '신정2동', '중곡4동', '신사동', '갈현2동', '상계10동', '도림동', '청운효자동', '신길3동', '시흥4동', '내곡동', '금호1가동', '불광2동', '용강동', '남가좌2동', '신수동', '방이2동', '양평1동', '다산동', '가양1동', '사근동', '성수1가1동', '능동', '삼전동', '상봉2동', '영등포본동', '대치4동', '시흥2동', '신대방2동', '군자동', '삼양동', '송파1동', '창3동', '사당1동', '쌍문4동', '광희동', '방배2동', '숭인1동', '소공동', '보라매동', '대방동', '구로1동', '서초4동', '쌍문2동', '화곡6동', '회현동', '보광동', '홍제3동', '전농2동', '목4동', '동선동', '효창동', '독산4동', '용문동', '흑석동', '자양1동', '남현동', '신대방1동', '송중동', '석관동', '독산1동', '제기동', '홍제1동', '인수동', '이문2동', '신당5동', '잠실7동', '일원1동', '중계2·3동', '시흥3동', '삼성동', '화곡본동', '공항동', '암사3동', '가양2동', '마장동', '면목7동', '성현동', '염리동', '방배4동', '오금동', '자양2동', '구의1동', '방배1동', '방화2동', '신내2동', '상암동', '신길4동', '목5동', '방학2동', '원효로2동', '번1동', '마천2동', '이문1동', '중림동', '송정동', '성북동', '망우3동', '상계3·4동', '문정1동', '대림1동', '공덕동', '월곡2동', '월곡1동', '신정7동', '신길1동', '도화동', '광장동', '개봉2동', '방화3동', '쌍문1동', '연남동', '약수동', '노량진1동', '등촌3동', '염창동', '구산동', '풍납2동', '방학3동', '사당5동', '창2동', '서초2동', '진관동', '성내1동', '청량리동', '동화동', '수색동', '홍제2동', '방배본동', '이태원1동', '응암3동', '문래동', '휘경1동', '면목5동', '구로2동', '충현동', '중곡3동', '월계1동', '신월3동', '중화2동', '남영동', '개포1동', '잠원동', '삼성2동', '서강동', '역삼2동', '상계8동', '거여2동', '보문동', '문정2동', '구로5동', '상계1동', '상도2동', '상도3동', '방이1동', '화곡8동', '고덕2동', '상계9동', '갈현1동', '사당4동', '남가좌1동', '가회동', '수유1동', '평창동', '신사2동', '서원동', '일원본동', '부암동', '회기동', '개포4동', '종로5·6가동', '중계1동', '창4동', '잠실본동', '길음2동', '조원동', '성산2동', '신도림동', '신길6동', '우이동', '성수1가2동', '방학1동', '전농1동', '중앙동', '잠실2동', '한남동', '공릉1동', '양재2동', '월계2동', '서초1동', '성산1동', '위례동', '금호4가동', '독산3동', '상계6·7동', '잠실6동', '신월4동', '을지로동', '쌍문3동', '암사2동', '고척1동', '개포2동', '오류1동', '망우본동', '북가좌1동', '연희동', '숭인2동', '독산2동', '풍납1동', '응암2동', '화곡3동', '증산동', '신월5동', '사당2동', '불광1동', '신정1동', '삼청동', '용답동', '송파2동', '난곡동', '상도4동', '인헌동', '대치1동', '잠실3동', '무악동', '명일1동', '중계본동', '거여1동', '논현1동', '방화1동', '이촌1동', '신사1동', '가산동', '수궁동', '목1동', '세곡동', '망원2동', '중곡2동', '창신2동', '명일2동', '사당3동', '등촌2동', '암사1동', '안암동', '답십리1동', '반포3동', '당산2동', '종암동', '신촌동', '장안2동', '돈암2동', '구의3동', '신월6동', '화양동', '둔촌1동', '장위3동', '미성동', '창1동', '압구정동', '창5동', '대림3동', '화곡4동', '행당2동', '용산2가동', '중곡1동', '후암동', '개봉1동', '면목3·8동', '신길5동', '대조동', '역촌동', '반포1동', '오류2동', '북가좌2동', '구로4동', '응봉동', '방배3동', '신정3동', '강일동', '삼각산동', '청파동', '황학동', '성내2동', '상계2동', '장위2동', '성수2가3동', '가락1동', '묵1동', '신정4동', '용신동', '서림동', '하계1동', '서빙고동', '석촌동', '청구동', '이태원2동', '천호2동', '반포본동', '천호3동', '면목2동', '천연동', '일원2동', '정릉1동', '명동', '여의동', '한강로동', '시흥1동', '수유2동', '정릉4동', '상봉1동', '신내1동', '행운동', '대림2동', '목2동', '논현2동', '면목본동', '묵2동', '중계4동', '화곡1동', '필동', '등촌1동', '목3동', '혜화동', '응암1동', '신월1동', '영등포동', '우장산동', '둔촌2동', '휘경2동', '성내3동', '자양4동', '개봉3동', '왕십리2동', '성수2가1동', '대학동', '북아현동', '이촌2동', '신길7동', '정릉3동', '삼선동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [51]:
data_01.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

서비스 명 통일작업

In [ ]:
# 매출액 데이터에 나오는 업종 종류
sale_list = ['한식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '분식전문점', '호프-간이주점',
       '커피-음료', '일반교습학원', '예술학원', '스포츠 강습', '일반의원', '치과의원', '자동차미용',
       '미용실', '피부관리실', '세탁소', '슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매',
       '청과상', '반찬가게', '일반의류', '신발', '안경', '시계및귀금속', '의약품', '서적', '섬유제품',
       '화초', '인테리어', '전자상거래업', '중식음식점', '치킨전문점', '한의원', '당구장', '스포츠클럽',
       '자동차수리', '네일숍', '여관', '노래방', '가방', '의료기기', '문구', '화장품', '외국어학원',
       '철물점', '골프연습장', '가전제품수리', '고시원', '컴퓨터및주변장치판매', '핸드폰', '가전제품',
       '조명용품', '운동/경기용품', 'PC방', '가구', '애완동물', '부동산중개업', '완구',
       '자전거 및 기타운송장비']

In [53]:
data_01['서비스_업종_코드_명'].unique()

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료', '일반교습학원', '외국어학원', '예술학원', '스포츠 강습',
       '일반의원', '치과의원', '한의원', '변호사사무소', '기타법무서비스', '세무사사무소', '당구장',
       '골프연습장', 'PC방', '전자게임장', '자동차수리', '자동차미용', '미용실', '네일숍', '피부관리실',
       '세탁소', '가전제품수리', '부동산중개업', '여관', '게스트하우스', '고시원', '노래방', '녹음실',
       '사진관', '통번역서비스', '건축물청소', '여행사', '비디오/서적임대', '의류임대', '슈퍼마켓', '편의점',
       '컴퓨터및주변장치판매', '핸드폰', '주류도매', '미곡판매', '육류판매', '수산물판매', '청과상',
       '반찬가게', '일반의류', '한복점', '유아의류', '신발', '가방', '안경', '시계및귀금속', '의약품',
       '의료기기', '서적', '문구', '화장품', '미용재료', '운동/경기용품', '완구', '섬유제품', '화초',
       '애완동물', '가구', '가전제품', '철물점', '인테리어', '조명용품', '자동차부품', '모터사이클및부품',
       '재생용품 판매점', '예술품', '전자상거래업', '컴퓨터학원', '동물병원', '변리사사무소', '법무사사무소',
       '회계사사무소', '볼링장', '기타오락장', '복권방', '통신기기수리', '스포츠클럽', '독서실', '악기',
       '주유소', '자전거 및 기타운송장비', 'DVD방', '모터사이클수리', '중고차판매', '가정용품임대',
       '중고가구'], dtype=object)

In [54]:
set_a = set(data_01['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'조명용품', '예술학원', '한의원', '편의점', '일반교습학원', '네일숍', '노래방', '화장품', '의약품', '여관', '한식음식점', '중식음식점', '커피-음료', '의료기기', '외국어학원', '수산물판매', '일식음식점', '자동차미용', '인테리어', '컴퓨터및주변장치판매', '핸드폰', '육류판매', '당구장', '안경', '일반의원', '청과상', '전자상거래업', '가전제품', '서적', '일반의류', '반찬가게', '가방', '피부관리실', '애완동물', '패스트푸드점', '미용실', '완구', '양식음식점', '시계및귀금속', '화초', '분식전문점', '세탁소', '치킨전문점', '운동/경기용품', '신발', '섬유제품', '제과점', '스포츠클럽', '치과의원', '호프-간이주점', '부동산중개업', '고시원', '문구', '미곡판매', '철물점', '스포츠 강습', '골프연습장', '가전제품수리', '가구', '슈퍼마켓', '자동차수리', '자전거 및 기타운송장비', 'PC방'}

A에만 있는 값:
{'비디오/서적임대', '통신기기수리', '가정용품임대', '통번역서비스', '사진관', '미용재료', '중고가구', '의류임대', '한복점', '법무사사무소', '복권방', 'DVD방', '모터사이클수리', '주류도매', '여행사', '변호사사무소', '독서실', '주유소', '중고차판매', '악기', '기타법무서비스', '녹음실', '건축물청소', '기타오락장', '전자게임장', '변리사사무소', '볼링장', '유아의류', '컴퓨터학원', '모터사이클및부품', '세무사사무소', '동물병원', '재생용품 판매점', '자동차부품', '게스트하우스', '예술품', '회계사사무소'}

B에만 있는 값:
set()

In [55]:
# 삭제할 항목 제외
df_cleaned = data_01[~data_01['서비스_업종_코드_명'].isin(only_in_a)]

In [56]:
set_a = set(df_cleaned['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'조명용품', '예술학원', '한의원', '편의점', '일반교습학원', '네일숍', '노래방', '화장품', '의약품', '여관', '한식음식점', '중식음식점', '커피-음료', '의료기기', '외국어학원', '수산물판매', '일식음식점', '자동차미용', '인테리어', '컴퓨터및주변장치판매', '핸드폰', '육류판매', '당구장', '안경', '일반의원', '청과상', '전자상거래업', '가전제품', '서적', '일반의류', '반찬가게', '가방', '피부관리실', '애완동물', '패스트푸드점', '미용실', '완구', '양식음식점', '시계및귀금속', '화초', '분식전문점', '세탁소', '치킨전문점', '운동/경기용품', '신발', '섬유제품', '제과점', '스포츠클럽', '치과의원', '호프-간이주점', '부동산중개업', '고시원', '문구', '미곡판매', '철물점', '스포츠 강습', '골프연습장', '가전제품수리', '가구', '슈퍼마켓', '자동차수리', '자전거 및 기타운송장비', 'PC방'}

A에만 있는 값:
set()

B에만 있는 값:
set()



컬럼정리

In [57]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101576 entries, 0 to 139798
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    101576 non-null  int64
 1   행정동_코드       101576 non-null  int64
 2   행정동_코드_명     101576 non-null  object
 3   서비스_업종_코드    101576 non-null  object
 4   서비스_업종_코드_명  101576 non-null  object
 5   점포_수         101576 non-null  int64
 6   유사_업종_점포_수   101576 non-null  int64
 7   개업_율         101576 non-null  int64
 8   개업_점포_수      101576 non-null  int64
 9   폐업_률         101576 non-null  int64
 10  폐업_점포_수      101576 non-null  int64
 11  프랜차이즈_점포_수   101576 non-null  int64
dtypes: int64(9), object(3)
memory usage: 10.1+ MB

In [58]:
df_cleaned.head(1)

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,11110515,청운효자동,CS100001,한식음식점,82,83,2,2,2,2,1

In [59]:
df_cleaned.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [60]:
df_cleaned = df_cleaned[['기준_년분기_코드', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']]

In [61]:
# 새로운 컬럼명 리스트
new_columns = ['년분기', '행정동', '업종명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']  # 원하는 컬럼명으로 변경

# 컬럼명 변경
df_cleaned.columns = new_columns

In [64]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101576 entries, 0 to 139798
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         101576 non-null  int64
 1   행정동         101576 non-null  object
 2   업종명         101576 non-null  object
 3   점포_수        101576 non-null  int64
 4   개업_점포_수     101576 non-null  int64
 5   폐업_점포_수     101576 non-null  int64
 6   프랜차이즈_점포_수  101576 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.2+ MB

In [66]:
df_cleaned.head(2)

     년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0  20191  청운효자동  한식음식점    82        2        2           1
1  20191  청운효자동  중식음식점     4        0        0           0

In [ ]:
#데이터 저장
#df_cleaned.to_csv('Number of Stores_19.csv',index=False)

In [63]:
# 카테고리편집중
"""
col = '서비스_업종_코드_명'
data_01.loc[data_01[col] == '비디오/서적임대', col] = '서적'
data_01.loc[data_01[col] == '통신기기수리', col] = '핸드폰' #가전제품수리
data_01.loc[data_01[col] == '가정용품임대', col] = '가전제품' # 가구
data_01.loc[data_01[col] == '통번역서비스', col] = '외국어학원'
data_01.loc[data_01[col] == '사진관', col] = '' #미정
data_01.loc[data_01[col] == '미용재료', col] = '화장품'
data_01.loc[data_01[col] == '중고가구', col] = '가구'
data_01.loc[data_01[col] == '의류임대', col] = '일반의류'
data_01.loc[data_01[col] == '한복점', col] = '일반의류'
data_01.loc[data_01[col] == '법무사사무소', col] = '' #미정
data_01.loc[data_01[col] == '복권방', col] = ''
data_01.loc[data_01[col] == 'DVD방', col] = '' #미정
data_01.loc[data_01[col] == '모터사이클수리', col] = '자전거 및 기타운송장비'
data_01.loc[data_01[col] == '주류도매', col] = '호프-간이주점'
data_01.loc[data_01[col] == '여행사', col] = '' #미정
data_01.loc[data_01[col] == '변호사사무소', col] = '' #미정
data_01.loc[data_01[col] == '독서실', col] = '일반교습학원'
data_01.loc[data_01[col] == '주유소', col] = ''
data_01.loc[data_01[col] == '중고차판매', col] = ''
data_01.loc[data_01[col] == '악기', col] = ''
data_01.loc[data_01[col] == '녹음실', col] = '노래방'
data_01.loc[data_01[col] == '건축물청소', col] = ''
data_01.loc[data_01[col] == '기타오락장', col] = 'PC방'
data_01.loc[data_01[col] == '전자게임장', col] = 'PC방'
data_01.loc[data_01[col] == '볼링장', col] = '스포츠클럽'
data_01.loc[data_01[col] == '유아의류', col] = '일반의류'
data_01.loc[data_01[col] == '컴퓨터학원', col] = '일반교습학원'
data_01.loc[data_01[col] == '모터사이클및부품', col] = '자전거 및 기타운송장비'
data_01.loc[data_01[col] == '동물병원', col] = '애완동물'
data_01.loc[data_01[col] == '자동차부품', col] = '자동차수리'
data_01.loc[data_01[col] == '게스트하우스', col] = '여관'
data_01.loc[data_01[col] == '예술품', col] = '인테리어'
data_01.loc[data_01[col] == '회계사사무소', col] = ''
data_01.loc[data_01[col] == '재생용품 판매점', col] = ''
data_01.loc[data_01[col] == '세무사사무소', col] = ''
data_01.loc[data_01[col] == '변리사사무소', col] = ''
data_01.loc[data_01[col] == '기타법무서비스', col] = ''
"""

"\ncol = '서비스_업종_코드_명'\ndata_01.loc[data_01[col] == '비디오/서적임대', col] = '서적'\ndata_01.loc[data_01[col] == '통신기기수리', col] = '핸드폰' #가전제품수리\ndata_01.loc[data_01[col] == '가정용품임대', col] = '가전제품' # 가구\ndata_01.loc[data_01[col] == '통번역서비스', col] = '외국어학원'\ndata_01.loc[data_01[col] == '사진관', col] = '' #미정\ndata_01.loc[data_01[col] == '미용재료', col] = '화장품'\ndata_01.loc[data_01[col] == '중고가구', col] = '가구'\ndata_01.loc[data_01[col] == '의류임대', col] = '일반의류'\ndata_01.loc[data_01[col] == '한복점', col] = '일반의류'\ndata_01.loc[data_01[col] == '법무사사무소', col] = '' #미정\ndata_01.loc[data_01[col] == '복권방', col] = ''\ndata_01.loc[data_01[col] == 'DVD방', col] = '' #미정\ndata_01.loc[data_01[col] == '모터사이클수리', col] = '자전거 및 기타운송장비'\ndata_01.loc[data_01[col] == '주류도매', col] = '호프-간이주점'\ndata_01.loc[data_01[col] == '여행사', col] = '' #미정\ndata_01.loc[data_01[col] == '변호사사무소', col] = '' #미정\ndata_01.loc[data_01[col] == '독서실', col] = '일반교습학원'\ndata_01.loc[data_01[col] == '주유소', col] = ''\ndata_01.loc[data_01[col] == '중고차판매', col] = ''\ndata_01.loc[data_01[col] == '악기', col] = ''\ndata_01.loc[data_01[col] == '녹음실', col] = '노래방'\ndata_01.loc[data_01[col] == '건축물청소', col] = ''\ndata_01.loc[data_01[col] == '기타오락장', col] = 'PC방'\ndata_01.loc[data_01[col] == '전자게임장', col] = 'PC방'\ndata_01.loc[data_01[col] == '볼링장', col] = '스포츠클럽'\ndata_01.loc[data_01[col] == '유아의류', col] = '일반의류'\ndata_01.loc[data_01[col] == '컴퓨터학원', col] = '일반교습학원'\ndata_01.loc[data_01[col] == '모터사이클및부품', col] = '자전거 및 기타운송장비'\ndata_01.loc[data_01[col] == '동물병원', col] = '애완동물'\ndata_01.loc[data_01[col] == '자동차부품', col] = '자동차수리'\ndata_01.loc[data_01[col] == '게스트하우스', col] = '여관'\ndata_01.loc[data_01[col] == '예술품', col] = '인테리어'\ndata_01.loc[data_01[col] == '회계사사무소', col] = ''\ndata_01.loc[data_01[col] == '재생용품 판매점', col] = ''\ndata_01.loc[data_01[col] == '세무사사무소', col] = ''\ndata_01.loc[data_01[col] == '변리사사무소', col] = ''\ndata_01.loc[data_01[col] == '기타법무서비스', col] = ''\n"