In [1]:
import pandas as pd

In [2]:
d19 = pd.read_csv('Number of Stores_19.csv')
d20 = pd.read_csv('Number of Stores_20.csv')
d21 = pd.read_csv('Number of Stores_21.csv')
d22 = pd.read_csv('Number of Stores_22.csv')
d2324 = pd.read_csv('Number of Stores_2324.csv')

In [3]:
d19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101576 entries, 0 to 101575
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         101576 non-null  int64
 1   행정동         101576 non-null  object
 2   업종명         101576 non-null  object
 3   점포_수        101576 non-null  int64
 4   개업_점포_수     101576 non-null  int64
 5   폐업_점포_수     101576 non-null  int64
 6   프랜차이즈_점포_수  101576 non-null  int64
dtypes: int64(5), object(2)
memory usage: 5.4+ MB

In [5]:
d19.head()

     년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0  20191  청운효자동  한식음식점    82        2        2           1
1  20191  청운효자동  중식음식점     4        0        0           0
2  20191  청운효자동  일식음식점    13        0        0           0
3  20191  청운효자동  양식음식점    36        3        3           0
4  20191  청운효자동    제과점    16        1        0           2

In [6]:
# DataFrame 합치기
combined_df = pd.concat([d19, d20, d21, d22, d2324], ignore_index=True)

# 오름차순 정렬 (예: 특정 컬럼 'Date' 기준으로)
sorted_df = combined_df.sort_values(by='년분기', ascending=True)

# 결과 저장 (선택사항)
sorted_df.to_csv('Sorted_Number_of_Stores.csv', index=False)

# 결과 확인
print(sorted_df.head())

         년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0      20191  청운효자동  한식음식점    82        2        2           1
16921  20191   시흥3동  피부관리실     2        0        0           0
16920  20191   시흥3동    네일숍     1        0        0           0
16919  20191   시흥3동    미용실    11        0        1           2
16918  20191   시흥3동  자동차미용     2        0        0           0

In [8]:
sorted_df.info(), sorted_df['년분기'].unique()

<class 'pandas.core.frame.DataFrame'>
Index: 559356 entries, 0 to 559355
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         559356 non-null  int64
 1   행정동         559356 non-null  object
 2   업종명         559356 non-null  object
 3   점포_수        559356 non-null  int64
 4   개업_점포_수     559356 non-null  int64
 5   폐업_점포_수     559356 non-null  int64
 6   프랜차이즈_점포_수  559356 non-null  int64
dtypes: int64(5), object(2)
memory usage: 34.1+ MB

(None,
 array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
        20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232,
        20233, 20234, 20241, 20242], dtype=int64))