In [27]:
import pandas as pd

In [28]:
data_01 = pd.read_csv('서울시 상권분석서비스(점포-행정동,23-24).csv', encoding='EUC-KR')
data_02 = pd.read_csv(r'D:\Work\team_project\project2\oos\data\거주인구\Resident_Population_Dong424.csv')

In [29]:
data_01['행정동_코드_명'] = data_01['행정동_코드_명'].str.replace('?', '·', regex=False)

In [30]:
data_01.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211585 entries, 0 to 211584
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    211585 non-null  int64
 1   행정동_코드       211585 non-null  int64
 2   행정동_코드_명     211585 non-null  object
 3   서비스_업종_코드    211585 non-null  object
 4   서비스_업종_코드_명  211585 non-null  object
 5   점포_수         211585 non-null  int64
 6   유사_업종_점포_수   211585 non-null  int64
 7   개업_율         211585 non-null  int64
 8   개업_점포_수      211585 non-null  int64
 9   폐업_률         211585 non-null  int64
 10  폐업_점포_수      211585 non-null  int64
 11  프랜차이즈_점포_수   211585 non-null  int64
dtypes: int64(9), object(3)
memory usage: 19.4+ MB

In [31]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

In [32]:
# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'화곡본동', '풍납2동', '숭인1동', '노량진2동', '목5동', '삼전동', '미아동', '일원1동', '영등포본동', '장위2동', '한강로동', '방이1동', '잠실3동', '서빙고동', '창1동', '일원본동', '사당1동', '공릉2동', '화양동', '신사동', '중곡4동', '자양2동', '군자동', '방배본동', '용문동', '방화1동', '반포본동', '고척1동', '대치4동', '상계3·4동', '장충동', '북가좌1동', '시흥3동', '이화동', '화곡8동', '천호1동', '갈현2동', '수유1동', '신도림동', '방배3동', '이태원1동', '광장동', '안암동', '마장동', '암사3동', '쌍문2동', '청담동', '혜화동', '상봉1동', '다산동', '상계5동', '동화동', '번2동', '하계2동', '논현1동', '이문2동', '조원동', '답십리2동', '구로4동', '원효로2동', '문래동', '홍제2동', '서강동', '정릉4동', '진관동', '신수동', '광희동', '신정2동', '도곡2동', '양재2동', '은천동', '창신2동', '남가좌1동', '잠실6동', '아현동', '삼양동', '정릉1동', '정릉2동', '신월7동', '사당3동', '인수동', '도화동', '효창동', '장위3동', '창2동', '도봉1동', '신사1동', '반포1동', '방학1동', '서초4동', '행당1동', '마천2동', '종암동', '가양3동', '전농1동', '상계1동', '전농2동', '홍제3동', '오류1동', '양재1동', '인헌동', '회기동', '응봉동', '남현동', '송천동', '난곡동', '서원동', '논현2동', '신월5동', '용강동', '불광1동', '신내2동', '방학3동', '중림동', '중곡3동', '신정3동', '중계1동', '능동', '발산1동', '상도4동', '신월4동', '황학동', '창4동', '상도1동', '신월1동', '월계1동', '독산3동', '염창동', '압구정동', '신정4동', '장위1동', '가회동', '자양1동', '신당동', '독산1동', '성북동', '대치2동', '사근동', '대학동', '역촌동', '고덕2동', '천호2동', '청룡동', '행당2동', '성내3동', '낙성대동', '창5동', '잠실7동', '거여2동', '상계8동', '창신1동', '삼성동', '용신동', '잠실2동', '구로5동', '신정6동', '홍은1동', '청량리동', '대조동', '사직동', '시흥5동', '천호3동', '공덕동', '중화1동', '거여1동', '상계10동', '용답동', '보광동', '정릉3동', '고덕1동', '신길1동', '망원2동', '화곡6동', '신길5동', '상계9동', '창신3동', '행운동', '방이2동', '방배2동', '신월2동', '등촌3동', '개봉3동', '남가좌2동', '망우본동', '송중동', '용산2가동', '신길6동', '명일2동', '망우3동', '잠원동', '성수2가1동', '신당5동', '면목4동', '노량진1동', '구의1동', '동선동', '삼각산동', '면목3·8동', '오륜동', '구로2동', '수유3동', '방배1동', '홍제1동', '하계1동', '이태원2동', '대림1동', '구의3동', '목2동', '성수1가1동', '개봉2동', '대방동', '양평2동', '월곡1동', '가산동', '방화3동', '청림동', '옥수동', '목1동', '소공동', '길음1동', '신사2동', '장안1동', '중곡1동', '쌍문4동', '성산1동', '고척2동', '대림2동', '명일1동', '도곡1동', '둔촌2동', '목3동', '홍은2동', '서초3동', '공릉1동', '시흥4동', '종로5·6가동', '강일동', '석촌동', '화곡4동', '필동', '을지로동', '청파동', '중계본동', '당산1동', '왕십리2동', '합정동', '부암동', '성수1가2동', '가락본동', '암사2동', '가락1동', '원효로1동', '신월3동', '녹번동', '방배4동', '사당5동', '월계3동', '삼청동', '교남동', '삼성1동', '문정1동', '반포4동', '우이동', '휘경1동', '신대방1동', '남영동', '염리동', '돈암2동', '수유2동', '대흥동', '왕십리도선동', '성내1동', '월곡2동', '여의동', '중화2동', '석관동', '보문동', '이촌2동', '개포1동', '서초1동', '면목2동', '묵1동', '신길7동', '신월6동', '구로3동', '내곡동', '서림동', '방화2동', '번1동', '금호1가동', '장지동', '중앙동', '청구동', '미성동', '당산2동', '연희동', '상도3동', '오류2동', '중곡2동', '쌍문1동', '등촌1동', '불광2동', '돈암1동', '상봉2동', '삼성2동', '성산2동', '보라매동', '망원1동', '길동', '중계2·3동', '송정동', '시흥1동', '사당4동', '독산4동', '청운효자동', '신길4동', '신정1동', '암사1동', '목4동', '수서동', '반포3동', '서초2동', '등촌2동', '역삼1동', '상계6·7동', '구로1동', '마천1동', '양평1동', '개포4동', '가양1동', '신원동', '답십리1동', '월계2동', '충현동', '수궁동', '개봉1동', '금호2·3가동', '구의2동', '도봉2동', '세곡동', '신촌동', '서교동', '위례동', '오금동', '상일동', '개포2동', '삼선동', '수색동', '가양2동', '면목본동', '성현동', '상도2동', '신내1동', '금호4가동', '종로1·2·3·4가동', '상계2동', '응암2동', '중계4동', '방학2동', '평창동', '면목7동', '신정7동', '영등포동', '화곡1동', '약수동', '장안2동', '창3동', '난향동', '신길3동', '면목5동', '길음2동', '흑석동', '가리봉동', '북가좌2동', '쌍문3동', '이촌1동', '이문1동', '가락2동', '사당2동', '공항동', '상암동', '풍납1동', '대치1동', '회현동', '휘경2동', '화곡2동', '성수2가3동', '송파1동', '연남동', '증산동', '자양3동', '잠실본동', '한남동', '일원2동', '제기동', '묵2동', '무악동', '독산2동', '명동', '구산동', '천연동', '번3동', '송파2동', '응암1동', '시흥2동', '역삼2동', '응암3동', '자양4동', '문정2동', '잠실4동', '갈현1동', '신대방2동', '북아현동', '신림동', '반포2동', '둔촌1동', '도림동', '후암동', '성내2동', '숭인2동', '우장산동', '화곡3동', '대림3동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
{'관악구 신사동'}

In [33]:
data_01.loc[data_01['행정동_코드'] == 11620685, '행정동_코드_명'] = '관악구 신사동'

In [34]:
data_01[data_01['행정동_코드_명'] == '관악구 신사동'][:1]

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
27492,20231,11620685,관악구 신사동,CS100001,한식음식점,111,120,3,3,5,6,9

In [35]:
dong_check = data_01[data_01['행정동_코드_명'] == '신사동']

In [36]:
dong_check.head(1)

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
29735,20231,11680510,신사동,CS100001,한식음식점,287,313,3,9,3,10,26

In [37]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'화곡본동', '풍납2동', '숭인1동', '노량진2동', '목5동', '삼전동', '미아동', '일원1동', '영등포본동', '장위2동', '한강로동', '방이1동', '잠실3동', '서빙고동', '창1동', '일원본동', '사당1동', '공릉2동', '화양동', '신사동', '중곡4동', '자양2동', '군자동', '방배본동', '용문동', '방화1동', '반포본동', '고척1동', '대치4동', '상계3·4동', '장충동', '북가좌1동', '시흥3동', '이화동', '화곡8동', '천호1동', '갈현2동', '수유1동', '신도림동', '방배3동', '관악구 신사동', '이태원1동', '광장동', '안암동', '마장동', '암사3동', '쌍문2동', '청담동', '혜화동', '상봉1동', '다산동', '상계5동', '동화동', '번2동', '하계2동', '논현1동', '이문2동', '조원동', '답십리2동', '구로4동', '원효로2동', '문래동', '홍제2동', '서강동', '정릉4동', '진관동', '신수동', '광희동', '신정2동', '도곡2동', '양재2동', '은천동', '창신2동', '남가좌1동', '잠실6동', '아현동', '삼양동', '정릉1동', '정릉2동', '신월7동', '사당3동', '인수동', '도화동', '효창동', '장위3동', '창2동', '도봉1동', '신사1동', '반포1동', '방학1동', '서초4동', '행당1동', '마천2동', '종암동', '가양3동', '전농1동', '상계1동', '전농2동', '홍제3동', '오류1동', '양재1동', '인헌동', '회기동', '응봉동', '남현동', '송천동', '난곡동', '서원동', '논현2동', '신월5동', '용강동', '불광1동', '신내2동', '방학3동', '중림동', '중곡3동', '신정3동', '중계1동', '능동', '발산1동', '상도4동', '신월4동', '황학동', '창4동', '상도1동', '신월1동', '월계1동', '독산3동', '염창동', '압구정동', '신정4동', '장위1동', '가회동', '자양1동', '신당동', '독산1동', '성북동', '대치2동', '사근동', '대학동', '역촌동', '고덕2동', '천호2동', '청룡동', '행당2동', '성내3동', '낙성대동', '창5동', '잠실7동', '거여2동', '상계8동', '창신1동', '삼성동', '용신동', '잠실2동', '구로5동', '신정6동', '홍은1동', '청량리동', '대조동', '사직동', '시흥5동', '천호3동', '공덕동', '중화1동', '거여1동', '상계10동', '용답동', '보광동', '정릉3동', '고덕1동', '신길1동', '망원2동', '화곡6동', '신길5동', '상계9동', '창신3동', '행운동', '방이2동', '방배2동', '신월2동', '등촌3동', '개봉3동', '남가좌2동', '망우본동', '송중동', '용산2가동', '신길6동', '명일2동', '망우3동', '잠원동', '성수2가1동', '신당5동', '면목4동', '노량진1동', '구의1동', '동선동', '삼각산동', '면목3·8동', '오륜동', '구로2동', '수유3동', '방배1동', '홍제1동', '하계1동', '이태원2동', '대림1동', '구의3동', '목2동', '성수1가1동', '개봉2동', '대방동', '양평2동', '월곡1동', '가산동', '방화3동', '청림동', '옥수동', '목1동', '소공동', '길음1동', '신사2동', '장안1동', '중곡1동', '쌍문4동', '성산1동', '고척2동', '대림2동', '명일1동', '도곡1동', '둔촌2동', '목3동', '홍은2동', '서초3동', '공릉1동', '시흥4동', '종로5·6가동', '강일동', '석촌동', '화곡4동', '필동', '을지로동', '청파동', '중계본동', '당산1동', '왕십리2동', '합정동', '부암동', '성수1가2동', '가락본동', '암사2동', '가락1동', '원효로1동', '신월3동', '녹번동', '방배4동', '사당5동', '월계3동', '삼청동', '교남동', '삼성1동', '문정1동', '반포4동', '우이동', '휘경1동', '신대방1동', '남영동', '염리동', '돈암2동', '수유2동', '대흥동', '왕십리도선동', '성내1동', '월곡2동', '여의동', '중화2동', '석관동', '보문동', '이촌2동', '개포1동', '서초1동', '면목2동', '묵1동', '신길7동', '신월6동', '구로3동', '내곡동', '서림동', '방화2동', '번1동', '금호1가동', '장지동', '중앙동', '청구동', '미성동', '당산2동', '연희동', '상도3동', '오류2동', '중곡2동', '쌍문1동', '등촌1동', '불광2동', '돈암1동', '상봉2동', '삼성2동', '성산2동', '보라매동', '망원1동', '길동', '중계2·3동', '송정동', '시흥1동', '사당4동', '독산4동', '청운효자동', '신길4동', '신정1동', '암사1동', '목4동', '수서동', '반포3동', '서초2동', '등촌2동', '역삼1동', '상계6·7동', '구로1동', '마천1동', '양평1동', '개포4동', '가양1동', '신원동', '답십리1동', '월계2동', '충현동', '수궁동', '개봉1동', '금호2·3가동', '구의2동', '도봉2동', '세곡동', '신촌동', '서교동', '위례동', '오금동', '상일동', '개포2동', '삼선동', '수색동', '가양2동', '면목본동', '성현동', '상도2동', '신내1동', '금호4가동', '종로1·2·3·4가동', '상계2동', '응암2동', '중계4동', '방학2동', '평창동', '면목7동', '신정7동', '영등포동', '화곡1동', '약수동', '장안2동', '창3동', '난향동', '신길3동', '면목5동', '길음2동', '흑석동', '가리봉동', '북가좌2동', '쌍문3동', '이촌1동', '이문1동', '가락2동', '사당2동', '공항동', '상암동', '풍납1동', '대치1동', '회현동', '휘경2동', '화곡2동', '성수2가3동', '송파1동', '연남동', '증산동', '자양3동', '잠실본동', '한남동', '일원2동', '제기동', '묵2동', '무악동', '독산2동', '명동', '구산동', '천연동', '번3동', '송파2동', '응암1동', '시흥2동', '역삼2동', '응암3동', '자양4동', '문정2동', '잠실4동', '갈현1동', '신대방2동', '북아현동', '신림동', '반포2동', '둔촌1동', '도림동', '후암동', '성내2동', '숭인2동', '우장산동', '화곡3동', '대림3동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
set()

In [38]:
data_01.loc[data_01['행정동_코드_명'] == '항동', '행정동_코드_명'] = '오류2동'

In [39]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'화곡본동', '풍납2동', '숭인1동', '노량진2동', '목5동', '삼전동', '미아동', '일원1동', '영등포본동', '장위2동', '한강로동', '방이1동', '잠실3동', '서빙고동', '창1동', '일원본동', '사당1동', '공릉2동', '화양동', '신사동', '중곡4동', '자양2동', '군자동', '방배본동', '용문동', '방화1동', '반포본동', '고척1동', '대치4동', '상계3·4동', '장충동', '북가좌1동', '시흥3동', '이화동', '화곡8동', '천호1동', '갈현2동', '수유1동', '신도림동', '방배3동', '관악구 신사동', '이태원1동', '광장동', '안암동', '마장동', '암사3동', '쌍문2동', '청담동', '혜화동', '상봉1동', '다산동', '상계5동', '동화동', '번2동', '하계2동', '논현1동', '이문2동', '조원동', '답십리2동', '구로4동', '원효로2동', '문래동', '홍제2동', '서강동', '정릉4동', '진관동', '신수동', '광희동', '신정2동', '도곡2동', '양재2동', '은천동', '창신2동', '남가좌1동', '잠실6동', '아현동', '삼양동', '정릉1동', '정릉2동', '신월7동', '사당3동', '인수동', '도화동', '효창동', '장위3동', '창2동', '도봉1동', '신사1동', '반포1동', '방학1동', '서초4동', '행당1동', '마천2동', '종암동', '가양3동', '전농1동', '상계1동', '전농2동', '홍제3동', '오류1동', '양재1동', '인헌동', '회기동', '응봉동', '남현동', '송천동', '난곡동', '서원동', '논현2동', '신월5동', '용강동', '불광1동', '신내2동', '방학3동', '중림동', '중곡3동', '신정3동', '중계1동', '능동', '발산1동', '상도4동', '신월4동', '황학동', '창4동', '상도1동', '신월1동', '월계1동', '독산3동', '염창동', '압구정동', '신정4동', '장위1동', '가회동', '자양1동', '신당동', '독산1동', '성북동', '대치2동', '사근동', '대학동', '역촌동', '고덕2동', '천호2동', '청룡동', '행당2동', '성내3동', '낙성대동', '창5동', '잠실7동', '거여2동', '상계8동', '창신1동', '삼성동', '용신동', '잠실2동', '구로5동', '신정6동', '홍은1동', '청량리동', '대조동', '사직동', '시흥5동', '천호3동', '공덕동', '중화1동', '거여1동', '상계10동', '용답동', '보광동', '정릉3동', '고덕1동', '신길1동', '망원2동', '화곡6동', '신길5동', '상계9동', '창신3동', '행운동', '방이2동', '방배2동', '신월2동', '등촌3동', '개봉3동', '남가좌2동', '망우본동', '송중동', '용산2가동', '신길6동', '명일2동', '망우3동', '잠원동', '성수2가1동', '신당5동', '면목4동', '노량진1동', '구의1동', '동선동', '삼각산동', '면목3·8동', '오륜동', '구로2동', '수유3동', '방배1동', '홍제1동', '하계1동', '이태원2동', '대림1동', '구의3동', '목2동', '성수1가1동', '개봉2동', '대방동', '양평2동', '월곡1동', '가산동', '방화3동', '청림동', '옥수동', '목1동', '소공동', '길음1동', '신사2동', '장안1동', '중곡1동', '쌍문4동', '성산1동', '고척2동', '대림2동', '명일1동', '도곡1동', '둔촌2동', '목3동', '홍은2동', '서초3동', '공릉1동', '시흥4동', '종로5·6가동', '강일동', '석촌동', '화곡4동', '필동', '을지로동', '청파동', '중계본동', '당산1동', '왕십리2동', '합정동', '부암동', '성수1가2동', '가락본동', '암사2동', '가락1동', '원효로1동', '신월3동', '녹번동', '방배4동', '사당5동', '월계3동', '삼청동', '교남동', '삼성1동', '문정1동', '반포4동', '우이동', '휘경1동', '신대방1동', '남영동', '염리동', '돈암2동', '수유2동', '대흥동', '왕십리도선동', '성내1동', '월곡2동', '여의동', '중화2동', '석관동', '보문동', '이촌2동', '개포1동', '서초1동', '면목2동', '묵1동', '신길7동', '신월6동', '구로3동', '내곡동', '서림동', '방화2동', '번1동', '금호1가동', '장지동', '중앙동', '청구동', '미성동', '당산2동', '연희동', '상도3동', '오류2동', '중곡2동', '쌍문1동', '등촌1동', '불광2동', '돈암1동', '상봉2동', '삼성2동', '성산2동', '보라매동', '망원1동', '길동', '중계2·3동', '송정동', '시흥1동', '사당4동', '독산4동', '청운효자동', '신길4동', '신정1동', '암사1동', '목4동', '수서동', '반포3동', '서초2동', '등촌2동', '역삼1동', '상계6·7동', '구로1동', '마천1동', '양평1동', '개포4동', '가양1동', '신원동', '답십리1동', '월계2동', '충현동', '수궁동', '개봉1동', '금호2·3가동', '구의2동', '도봉2동', '세곡동', '신촌동', '서교동', '위례동', '오금동', '상일동', '개포2동', '삼선동', '수색동', '가양2동', '면목본동', '성현동', '상도2동', '신내1동', '금호4가동', '종로1·2·3·4가동', '상계2동', '응암2동', '중계4동', '방학2동', '평창동', '면목7동', '신정7동', '영등포동', '화곡1동', '약수동', '장안2동', '창3동', '난향동', '신길3동', '면목5동', '길음2동', '흑석동', '가리봉동', '북가좌2동', '쌍문3동', '이촌1동', '이문1동', '가락2동', '사당2동', '공항동', '상암동', '풍납1동', '대치1동', '회현동', '휘경2동', '화곡2동', '성수2가3동', '송파1동', '연남동', '증산동', '자양3동', '잠실본동', '한남동', '일원2동', '제기동', '묵2동', '무악동', '독산2동', '명동', '구산동', '천연동', '번3동', '송파2동', '응암1동', '시흥2동', '역삼2동', '응암3동', '자양4동', '문정2동', '잠실4동', '갈현1동', '신대방2동', '북아현동', '신림동', '반포2동', '둔촌1동', '도림동', '후암동', '성내2동', '숭인2동', '우장산동', '화곡3동', '대림3동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [40]:
data_01.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

서비스 명 통일작업

In [41]:
# 매출액 데이터에 나오는 업종 종류
sale_list = ['한식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '분식전문점', '호프-간이주점',
       '커피-음료', '일반교습학원', '예술학원', '스포츠 강습', '일반의원', '치과의원', '자동차미용',
       '미용실', '피부관리실', '세탁소', '슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매',
       '청과상', '반찬가게', '일반의류', '신발', '안경', '시계및귀금속', '의약품', '서적', '섬유제품',
       '화초', '인테리어', '전자상거래업', '중식음식점', '치킨전문점', '한의원', '당구장', '스포츠클럽',
       '자동차수리', '네일숍', '여관', '노래방', '가방', '의료기기', '문구', '화장품', '외국어학원',
       '철물점', '골프연습장', '가전제품수리', '고시원', '컴퓨터및주변장치판매', '핸드폰', '가전제품',
       '조명용품', '운동/경기용품', 'PC방', '가구', '애완동물', '부동산중개업', '완구',
       '자전거 및 기타운송장비']

In [42]:
data_01['서비스_업종_코드_명'].unique()

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료', '일반교습학원', '외국어학원', '예술학원', '스포츠 강습',
       '일반의원', '치과의원', '한의원', '동물병원', '변호사사무소', '법무사사무소', '기타법무서비스',
       '세무사사무소', '당구장', '골프연습장', '전자게임장', '자동차수리', '자동차미용', '미용실', '네일숍',
       '피부관리실', '세탁소', '가전제품수리', '부동산중개업', '여관', '게스트하우스', '고시원', '노래방',
       '녹음실', '사진관', '통번역서비스', '건축물청소', '여행사', '의류임대', '가정용품임대', '슈퍼마켓',
       '편의점', '컴퓨터및주변장치판매', '핸드폰', '주류도매', '미곡판매', '육류판매', '수산물판매', '청과상',
       '반찬가게', '일반의류', '유아의류', '신발', '가방', '안경', '시계및귀금속', '의약품', '의료기기',
       '서적', '문구', '화장품', '미용재료', '운동/경기용품', '완구', '섬유제품', '화초', '애완동물',
       '가구', '가전제품', '철물점', '인테리어', '조명용품', '자동차부품', '모터사이클및부품',
       '재생용품 판매점', '예술품', '전자상거래업', '컴퓨터학원', '변리사사무소', '회계사사무소', 'PC방',
       '기타오락장', '통신기기수리', '스포츠클럽', '독서실', '한복점', '자전거 및 기타운송장비', '악기',
       '주유소', 'DVD방', '모터사이클수리', '중고차판매', '복권방', '볼링장', '비디오/서적임대',
       '중고가구'], dtype=object)

In [43]:
set_a = set(data_01['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'외국어학원', '자동차미용', 'PC방', '골프연습장', '컴퓨터및주변장치판매', '철물점', '가전제품', '고시원', '일반의류', '화장품', '섬유제품', '미용실', '슈퍼마켓', '편의점', '피부관리실', '네일숍', '일반의원', '미곡판매', '스포츠 강습', '여관', '예술학원', '일반교습학원', '화초', '패스트푸드점', '운동/경기용품', '한의원', '의료기기', '가구', '시계및귀금속', '반찬가게', '치킨전문점', '자전거 및 기타운송장비', '커피-음료', '당구장', '핸드폰', '스포츠클럽', '분식전문점', '호프-간이주점', '조명용품', '애완동물', '자동차수리', '한식음식점', '청과상', '가방', '수산물판매', '완구', '안경', '제과점', '중식음식점', '세탁소', '노래방', '육류판매', '서적', '양식음식점', '치과의원', '일식음식점', '인테리어', '신발', '문구', '가전제품수리', '의약품', '전자상거래업', '부동산중개업'}

A에만 있는 값:
{'의류임대', '여행사', '게스트하우스', '모터사이클수리', '복권방', '동물병원', '변호사사무소', '재생용품 판매점', '가정용품임대', '건축물청소', '중고가구', '미용재료', '세무사사무소', '자동차부품', '녹음실', '전자게임장', '통신기기수리', '컴퓨터학원', '주유소', '법무사사무소', '비디오/서적임대', '예술품', '주류도매', '볼링장', '한복점', '회계사사무소', '독서실', '사진관', '모터사이클및부품', '기타법무서비스', '통번역서비스', '변리사사무소', '기타오락장', '중고차판매', '악기', '유아의류', 'DVD방'}

B에만 있는 값:
set()

In [44]:
# 삭제할 항목 제외
df_cleaned = data_01[~data_01['서비스_업종_코드_명'].isin(only_in_a)]

In [45]:
set_a = set(df_cleaned['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'외국어학원', '자동차미용', 'PC방', '골프연습장', '컴퓨터및주변장치판매', '철물점', '가전제품', '고시원', '일반의류', '화장품', '섬유제품', '미용실', '슈퍼마켓', '편의점', '피부관리실', '네일숍', '일반의원', '미곡판매', '스포츠 강습', '여관', '예술학원', '일반교습학원', '화초', '패스트푸드점', '운동/경기용품', '한의원', '의료기기', '가구', '시계및귀금속', '반찬가게', '치킨전문점', '자전거 및 기타운송장비', '커피-음료', '당구장', '핸드폰', '스포츠클럽', '분식전문점', '호프-간이주점', '조명용품', '애완동물', '자동차수리', '한식음식점', '청과상', '가방', '수산물판매', '완구', '안경', '제과점', '중식음식점', '세탁소', '노래방', '육류판매', '서적', '양식음식점', '치과의원', '일식음식점', '인테리어', '신발', '문구', '가전제품수리', '의약품', '전자상거래업', '부동산중개업'}

A에만 있는 값:
set()

B에만 있는 값:
set()



컬럼정리

In [46]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152415 entries, 0 to 211584
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    152415 non-null  int64
 1   행정동_코드       152415 non-null  int64
 2   행정동_코드_명     152415 non-null  object
 3   서비스_업종_코드    152415 non-null  object
 4   서비스_업종_코드_명  152415 non-null  object
 5   점포_수         152415 non-null  int64
 6   유사_업종_점포_수   152415 non-null  int64
 7   개업_율         152415 non-null  int64
 8   개업_점포_수      152415 non-null  int64
 9   폐업_률         152415 non-null  int64
 10  폐업_점포_수      152415 non-null  int64
 11  프랜차이즈_점포_수   152415 non-null  int64
dtypes: int64(9), object(3)
memory usage: 15.1+ MB

In [47]:
df_cleaned.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [48]:
df_cleaned = df_cleaned[['기준_년분기_코드', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']]

In [49]:
# 새로운 컬럼명 리스트
new_columns = ['년분기', '행정동', '업종명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']  # 원하는 컬럼명으로 변경

# 컬럼명 변경
df_cleaned.columns = new_columns

In [50]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152415 entries, 0 to 211584
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         152415 non-null  int64
 1   행정동         152415 non-null  object
 2   업종명         152415 non-null  object
 3   점포_수        152415 non-null  int64
 4   개업_점포_수     152415 non-null  int64
 5   폐업_점포_수     152415 non-null  int64
 6   프랜차이즈_점포_수  152415 non-null  int64
dtypes: int64(5), object(2)
memory usage: 9.3+ MB

In [51]:
df_cleaned.head(2)

     년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0  20231  청운효자동  한식음식점    92        3        3           1
1  20231  청운효자동  중식음식점     2        0        0           0

In [ ]:
#데이터 저장
#df_cleaned.to_csv('Number of Stores_2324.csv',index=False)