In [15]:
import pandas as pd

In [16]:
data_01 = pd.read_csv('서울시_상권분석서비스(점포-행정동)_2021년.csv', encoding='EUC-KR')
data_02 = pd.read_csv(r'D:\Work\team_project\project2\oos\data\거주인구\Resident_Population_Dong424.csv')

In [17]:
data_01.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141137 entries, 0 to 141136
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    141137 non-null  int64
 1   행정동_코드       141137 non-null  int64
 2   행정동_코드_명     141137 non-null  object
 3   서비스_업종_코드    141137 non-null  object
 4   서비스_업종_코드_명  141137 non-null  object
 5   점포_수         141137 non-null  int64
 6   유사_업종_점포_수   141137 non-null  int64
 7   개업_율         141137 non-null  int64
 8   개업_점포_수      141137 non-null  int64
 9   폐업_률         141137 non-null  int64
 10  폐업_점포_수      141137 non-null  int64
 11  프랜차이즈_점포_수   141137 non-null  int64
dtypes: int64(9), object(3)
memory usage: 12.9+ MB

In [18]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

In [19]:
# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'쌍문1동', '휘경1동', '황학동', '반포4동', '쌍문2동', '월계1동', '장지동', '중계4동', '행당2동', '천연동', '시흥1동', '효창동', '구로4동', '동화동', '난곡동', '목1동', '방이1동', '평창동', '가리봉동', '신대방1동', '창2동', '창4동', '약수동', '위례동', '자양1동', '미아동', '용강동', '서교동', '방학1동', '일원2동', '공덕동', '삼각산동', '오류2동', '중화2동', '방이2동', '잠실3동', '서초4동', '명동', '망우3동', '잠실7동', '공릉2동', '면목5동', '정릉4동', '중앙동', '등촌1동', '장충동', '응암1동', '시흥5동', '구로5동', '신정4동', '풍납1동', '반포1동', '구의1동', '자양2동', '구의2동', '청구동', '응암2동', '마천1동', '사당1동', '사당2동', '청운효자동', '신사1동', '구로3동', '답십리2동', '방학3동', '용문동', '마장동', '녹번동', '신림동', '대림1동', '응봉동', '망원1동', '번1동', '잠실6동', '시흥3동', '개포1동', '부암동', '대흥동', '성수2가1동', '목4동', '세곡동', '교남동', '중계1동', '돈암2동', '양평2동', '염리동', '동선동', '성수1가1동', '방배2동', '이문1동', '서초1동', '은천동', '이촌1동', '신당동', '난향동', '독산3동', '청담동', '용산2가동', '독산2동', '성수1가2동', '신월2동', '역삼1동', '연남동', '성현동', '수유1동', '대조동', '화곡본동', '이문2동', '도곡1동', '삼성1동', '후암동', '남가좌1동', '논현1동', '상계3·4동', '원효로1동', '월곡1동', '장위1동', '창5동', '상계8동', '종로5·6가동', '군자동', '고척2동', '영등포동', '시흥2동', '독산4동', '중곡4동', '시흥4동', '수유2동', '성내1동', '성내2동', '문정2동', '월계2동', '구로1동', '월계3동', '가산동', '중곡3동', '금호2·3가동', '방배4동', '소공동', '충현동', '송정동', '서초3동', '천호3동', '일원본동', '장안2동', '합정동', '증산동', '쌍문4동', '성수2가3동', '가락1동', '개봉3동', '신정2동', '종암동', '압구정동', '중계2·3동', '수유3동', '갈현2동', '문정1동', '서강동', '도봉1동', '사근동', '흑석동', '도봉2동', '대방동', '도곡2동', '하계2동', '회기동', '서초2동', '제기동', '묵2동', '일원1동', '가양2동', '상봉2동', '신월4동', '진관동', '신정6동', '행운동', '북가좌1동', '삼양동', '등촌2동', '조원동', '중림동', '둔촌1동', '오륜동', '가양3동', '거여2동', '목2동', '우장산동', '인수동', '등촌3동', '독산1동', '공항동', '삼전동', '오금동', '아현동', '고덕1동', '풍납2동', '다산동', '회현동', '대학동', '대치1동', '성산2동', '방배3동', '수색동', '신월7동', '정릉3동', '수궁동', '암사1동', '개봉2동', '도화동', '삼청동', '사당4동', '자양3동', '노량진1동', '전농1동', '거여1동', '남영동', '정릉2동', '신길6동', '신대방2동', '대림3동', '화곡8동', '창신2동', '잠실본동', '옥수동', '방화2동', '상계6·7동', '화곡2동', '천호1동', '청량리동', '광희동', '상도1동', '상도4동', '면목7동', '숭인2동', '삼성동', '송파1동', '가락본동', '방학2동', '정릉1동', '역삼2동', '성산1동', '수서동', '혜화동', '왕십리2동', '신수동', '역촌동', '길음1동', '신월1동', '서림동', '면목2동', '방배1동', '답십리1동', '신월5동', '숭인1동', '상도2동', '신도림동', '양평1동', '신길4동', '불광1동', '상도3동', '면목3·8동', '금호1가동', '불광2동', '명일2동', '창1동', '가락2동', '휘경2동', '염창동', '도림동', '중계본동', '상일동', '홍은1동', '보라매동', '당산1동', '능동', '용신동', '명일1동', '양재1동', '중곡1동', '고척1동', '방배본동', '한강로동', '화곡1동', '대림2동', '장위3동', '서원동', '전농2동', '한남동', '신사2동', '창3동', '상계10동', '왕십리도선동', '무악동', '보문동', '응암3동', '신촌동', '송천동', '송중동', '신정3동', '내곡동', '중화1동', '개봉1동', '신내2동', '쌍문3동', '북아현동', '이촌2동', '행당1동', '공릉1동', '장안1동', '창신1동', '창신3동', '잠실2동', '이태원2동', '청룡동', '신월3동', '연희동', '방화3동', '상암동', '홍제2동', '개포4동', '논현2동', '구로2동', '오류1동', '영등포본동', '석관동', '신원동', '청파동', '신길3동', '화곡3동', '당산2동', '홍제1동', '석촌동', '인헌동', '반포2동', '송파2동', '반포본동', '구산동', '낙성대동', '사당5동', '성내3동', '대치2동', '가양1동', '둔촌2동', '돈암1동', '잠실4동', '홍은2동', '망원2동', '노량진2동', '홍제3동', '미성동', '보광동', '신정7동', '중곡2동', '종로1·2·3·4가동', '목5동', '상계1동', '을지로동', '상계9동', '목3동', '화곡4동', '금호4가동', '화곡6동', '북가좌2동', '삼선동', '암사3동', '신길1동', '문래동', '방화1동', '이화동', '사직동', '사당3동', '서빙고동', '남가좌2동', '상계2동', '대치4동', '면목본동', '이태원1동', '천호2동', '용답동', '구의3동', '광장동', '개포2동', '묵1동', '신길5동', '신길7동', '암사2동', '마천2동', '청림동', '강일동', '고덕2동', '필동', '하계1동', '월곡2동', '반포3동', '장위2동', '잠원동', '여의동', '신월6동', '성북동', '길음2동', '상봉1동', '신당5동', '면목4동', '번2동', '가회동', '신정1동', '길동', '신사동', '신내1동', '상계5동', '갈현1동', '남현동', '원효로2동', '자양4동', '안암동', '발산1동', '삼성2동', '망우본동', '우이동', '번3동', '양재2동', '화양동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
{'관악구 신사동'}

In [20]:
data_01.loc[data_01['행정동_코드'] == 11620685, '행정동_코드_명'] = '관악구 신사동'

In [21]:
data_01[data_01['행정동_코드_명'] == '관악구 신사동'][:1]

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
27437,20211,11620685,관악구 신사동,CS100001,한식음식점,115,127,5,6,6,7,12

In [22]:
dong_check = data_01[data_01['행정동_코드_명'] == '신사동']

In [23]:
dong_check.head(1)

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
29684,20211,11680510,신사동,CS100001,한식음식점,276,314,2,6,2,5,38

In [24]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'쌍문1동', '휘경1동', '황학동', '반포4동', '쌍문2동', '월계1동', '장지동', '중계4동', '행당2동', '천연동', '시흥1동', '효창동', '구로4동', '동화동', '난곡동', '목1동', '방이1동', '평창동', '가리봉동', '신대방1동', '창2동', '창4동', '약수동', '위례동', '자양1동', '미아동', '용강동', '서교동', '방학1동', '일원2동', '공덕동', '삼각산동', '오류2동', '중화2동', '방이2동', '잠실3동', '서초4동', '명동', '망우3동', '잠실7동', '공릉2동', '면목5동', '정릉4동', '중앙동', '등촌1동', '장충동', '응암1동', '시흥5동', '구로5동', '신정4동', '풍납1동', '반포1동', '구의1동', '자양2동', '구의2동', '청구동', '응암2동', '마천1동', '사당1동', '사당2동', '청운효자동', '신사1동', '구로3동', '답십리2동', '방학3동', '용문동', '마장동', '녹번동', '신림동', '대림1동', '응봉동', '망원1동', '번1동', '잠실6동', '시흥3동', '개포1동', '부암동', '대흥동', '성수2가1동', '목4동', '세곡동', '교남동', '중계1동', '돈암2동', '양평2동', '염리동', '동선동', '성수1가1동', '방배2동', '이문1동', '서초1동', '은천동', '이촌1동', '신당동', '난향동', '독산3동', '청담동', '용산2가동', '독산2동', '성수1가2동', '신월2동', '역삼1동', '연남동', '성현동', '수유1동', '대조동', '화곡본동', '이문2동', '도곡1동', '삼성1동', '후암동', '남가좌1동', '논현1동', '상계3·4동', '원효로1동', '월곡1동', '장위1동', '창5동', '상계8동', '종로5·6가동', '군자동', '고척2동', '영등포동', '시흥2동', '독산4동', '중곡4동', '시흥4동', '수유2동', '성내1동', '성내2동', '관악구 신사동', '문정2동', '월계2동', '구로1동', '월계3동', '가산동', '중곡3동', '금호2·3가동', '방배4동', '소공동', '충현동', '송정동', '서초3동', '천호3동', '일원본동', '장안2동', '합정동', '증산동', '쌍문4동', '성수2가3동', '가락1동', '개봉3동', '신정2동', '종암동', '압구정동', '중계2·3동', '수유3동', '갈현2동', '문정1동', '서강동', '도봉1동', '사근동', '흑석동', '도봉2동', '대방동', '도곡2동', '하계2동', '회기동', '서초2동', '제기동', '묵2동', '일원1동', '가양2동', '상봉2동', '신월4동', '진관동', '신정6동', '행운동', '북가좌1동', '삼양동', '등촌2동', '조원동', '중림동', '둔촌1동', '오륜동', '가양3동', '거여2동', '목2동', '우장산동', '인수동', '등촌3동', '독산1동', '공항동', '삼전동', '오금동', '아현동', '고덕1동', '풍납2동', '다산동', '회현동', '대학동', '대치1동', '성산2동', '방배3동', '수색동', '신월7동', '정릉3동', '수궁동', '암사1동', '개봉2동', '도화동', '삼청동', '사당4동', '자양3동', '노량진1동', '전농1동', '거여1동', '남영동', '정릉2동', '신길6동', '신대방2동', '대림3동', '화곡8동', '창신2동', '잠실본동', '옥수동', '방화2동', '상계6·7동', '화곡2동', '천호1동', '청량리동', '광희동', '상도1동', '상도4동', '면목7동', '숭인2동', '삼성동', '송파1동', '가락본동', '방학2동', '정릉1동', '역삼2동', '성산1동', '혜화동', '수서동', '왕십리2동', '신수동', '역촌동', '길음1동', '신월1동', '서림동', '면목2동', '방배1동', '답십리1동', '신월5동', '숭인1동', '상도2동', '신도림동', '양평1동', '신길4동', '불광1동', '상도3동', '면목3·8동', '금호1가동', '불광2동', '명일2동', '창1동', '가락2동', '휘경2동', '염창동', '도림동', '중계본동', '상일동', '홍은1동', '보라매동', '당산1동', '능동', '용신동', '명일1동', '양재1동', '중곡1동', '고척1동', '방배본동', '한강로동', '화곡1동', '대림2동', '장위3동', '서원동', '전농2동', '한남동', '신사2동', '창3동', '상계10동', '왕십리도선동', '무악동', '보문동', '응암3동', '신촌동', '송천동', '송중동', '신정3동', '내곡동', '중화1동', '개봉1동', '신내2동', '쌍문3동', '북아현동', '이촌2동', '행당1동', '공릉1동', '장안1동', '창신1동', '창신3동', '잠실2동', '이태원2동', '청룡동', '신월3동', '연희동', '방화3동', '상암동', '홍제2동', '개포4동', '논현2동', '구로2동', '오류1동', '영등포본동', '석관동', '신원동', '청파동', '신길3동', '화곡3동', '당산2동', '홍제1동', '석촌동', '인헌동', '반포2동', '송파2동', '반포본동', '구산동', '낙성대동', '사당5동', '성내3동', '대치2동', '가양1동', '둔촌2동', '돈암1동', '잠실4동', '홍은2동', '망원2동', '노량진2동', '홍제3동', '미성동', '보광동', '신정7동', '중곡2동', '종로1·2·3·4가동', '목5동', '상계1동', '을지로동', '상계9동', '목3동', '화곡4동', '금호4가동', '화곡6동', '북가좌2동', '삼선동', '암사3동', '신길1동', '문래동', '방화1동', '이화동', '사직동', '사당3동', '서빙고동', '남가좌2동', '상계2동', '대치4동', '면목본동', '이태원1동', '천호2동', '용답동', '구의3동', '광장동', '개포2동', '묵1동', '신길5동', '신길7동', '암사2동', '마천2동', '청림동', '강일동', '고덕2동', '필동', '하계1동', '월곡2동', '반포3동', '장위2동', '잠원동', '여의동', '신월6동', '성북동', '길음2동', '상봉1동', '신당5동', '면목4동', '번2동', '가회동', '신정1동', '길동', '신사동', '신내1동', '상계5동', '갈현1동', '남현동', '원효로2동', '자양4동', '안암동', '발산1동', '삼성2동', '망우본동', '우이동', '번3동', '양재2동', '화양동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
set()

In [25]:
data_01.loc[data_01['행정동_코드_명'] == '항동', '행정동_코드_명'] = '오류2동'

In [26]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'쌍문1동', '휘경1동', '황학동', '반포4동', '쌍문2동', '월계1동', '장지동', '중계4동', '행당2동', '천연동', '시흥1동', '효창동', '구로4동', '동화동', '난곡동', '목1동', '방이1동', '평창동', '가리봉동', '신대방1동', '창2동', '창4동', '약수동', '위례동', '자양1동', '미아동', '용강동', '서교동', '방학1동', '일원2동', '공덕동', '삼각산동', '오류2동', '중화2동', '방이2동', '잠실3동', '서초4동', '명동', '망우3동', '잠실7동', '공릉2동', '면목5동', '정릉4동', '중앙동', '등촌1동', '장충동', '응암1동', '시흥5동', '구로5동', '신정4동', '풍납1동', '반포1동', '구의1동', '자양2동', '구의2동', '청구동', '응암2동', '마천1동', '사당1동', '사당2동', '청운효자동', '신사1동', '구로3동', '답십리2동', '방학3동', '용문동', '마장동', '녹번동', '신림동', '대림1동', '응봉동', '망원1동', '번1동', '잠실6동', '시흥3동', '개포1동', '부암동', '대흥동', '성수2가1동', '목4동', '세곡동', '교남동', '중계1동', '돈암2동', '양평2동', '염리동', '동선동', '성수1가1동', '방배2동', '이문1동', '서초1동', '은천동', '이촌1동', '신당동', '난향동', '독산3동', '청담동', '용산2가동', '독산2동', '성수1가2동', '신월2동', '역삼1동', '연남동', '성현동', '수유1동', '대조동', '화곡본동', '이문2동', '도곡1동', '삼성1동', '후암동', '남가좌1동', '논현1동', '상계3·4동', '원효로1동', '월곡1동', '장위1동', '창5동', '상계8동', '종로5·6가동', '군자동', '고척2동', '영등포동', '시흥2동', '독산4동', '중곡4동', '시흥4동', '수유2동', '성내1동', '성내2동', '관악구 신사동', '문정2동', '월계2동', '구로1동', '월계3동', '가산동', '중곡3동', '금호2·3가동', '방배4동', '소공동', '충현동', '송정동', '서초3동', '천호3동', '일원본동', '장안2동', '합정동', '증산동', '쌍문4동', '성수2가3동', '가락1동', '개봉3동', '신정2동', '종암동', '압구정동', '중계2·3동', '수유3동', '갈현2동', '문정1동', '서강동', '도봉1동', '사근동', '흑석동', '도봉2동', '대방동', '도곡2동', '하계2동', '회기동', '서초2동', '제기동', '묵2동', '일원1동', '가양2동', '상봉2동', '신월4동', '진관동', '신정6동', '행운동', '북가좌1동', '삼양동', '등촌2동', '조원동', '중림동', '둔촌1동', '오륜동', '가양3동', '거여2동', '목2동', '우장산동', '인수동', '등촌3동', '독산1동', '공항동', '삼전동', '오금동', '아현동', '고덕1동', '풍납2동', '다산동', '회현동', '대학동', '대치1동', '성산2동', '방배3동', '수색동', '신월7동', '정릉3동', '수궁동', '암사1동', '개봉2동', '도화동', '삼청동', '사당4동', '자양3동', '노량진1동', '전농1동', '거여1동', '남영동', '정릉2동', '신길6동', '신대방2동', '대림3동', '화곡8동', '창신2동', '잠실본동', '옥수동', '방화2동', '상계6·7동', '화곡2동', '천호1동', '청량리동', '광희동', '상도1동', '상도4동', '면목7동', '숭인2동', '삼성동', '송파1동', '가락본동', '방학2동', '정릉1동', '역삼2동', '성산1동', '혜화동', '수서동', '왕십리2동', '신수동', '역촌동', '길음1동', '신월1동', '서림동', '면목2동', '방배1동', '답십리1동', '신월5동', '숭인1동', '상도2동', '신도림동', '양평1동', '신길4동', '불광1동', '상도3동', '면목3·8동', '금호1가동', '불광2동', '명일2동', '창1동', '가락2동', '휘경2동', '염창동', '도림동', '중계본동', '상일동', '홍은1동', '보라매동', '당산1동', '능동', '용신동', '명일1동', '양재1동', '중곡1동', '고척1동', '방배본동', '한강로동', '화곡1동', '대림2동', '장위3동', '서원동', '전농2동', '한남동', '신사2동', '창3동', '상계10동', '왕십리도선동', '무악동', '보문동', '응암3동', '신촌동', '송천동', '송중동', '신정3동', '내곡동', '중화1동', '개봉1동', '신내2동', '쌍문3동', '북아현동', '이촌2동', '행당1동', '공릉1동', '장안1동', '창신1동', '창신3동', '잠실2동', '이태원2동', '청룡동', '신월3동', '연희동', '방화3동', '상암동', '홍제2동', '개포4동', '논현2동', '구로2동', '오류1동', '영등포본동', '석관동', '신원동', '청파동', '신길3동', '화곡3동', '당산2동', '홍제1동', '석촌동', '인헌동', '반포2동', '송파2동', '반포본동', '구산동', '낙성대동', '사당5동', '성내3동', '대치2동', '가양1동', '둔촌2동', '돈암1동', '잠실4동', '홍은2동', '망원2동', '노량진2동', '홍제3동', '미성동', '보광동', '신정7동', '중곡2동', '종로1·2·3·4가동', '목5동', '상계1동', '을지로동', '상계9동', '목3동', '화곡4동', '금호4가동', '화곡6동', '북가좌2동', '삼선동', '암사3동', '신길1동', '문래동', '방화1동', '이화동', '사직동', '사당3동', '서빙고동', '남가좌2동', '상계2동', '대치4동', '면목본동', '이태원1동', '천호2동', '용답동', '구의3동', '광장동', '개포2동', '묵1동', '신길5동', '신길7동', '암사2동', '마천2동', '청림동', '강일동', '고덕2동', '필동', '하계1동', '월곡2동', '반포3동', '장위2동', '잠원동', '여의동', '신월6동', '성북동', '길음2동', '상봉1동', '신당5동', '면목4동', '번2동', '가회동', '신정1동', '길동', '신사동', '신내1동', '상계5동', '갈현1동', '남현동', '원효로2동', '자양4동', '안암동', '발산1동', '삼성2동', '망우본동', '우이동', '번3동', '양재2동', '화양동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [27]:
data_01.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

서비스 명 통일작업

In [28]:
# 매출액 데이터에 나오는 업종 종류
sale_list = ['한식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '분식전문점', '호프-간이주점',
       '커피-음료', '일반교습학원', '예술학원', '스포츠 강습', '일반의원', '치과의원', '자동차미용',
       '미용실', '피부관리실', '세탁소', '슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매',
       '청과상', '반찬가게', '일반의류', '신발', '안경', '시계및귀금속', '의약품', '서적', '섬유제품',
       '화초', '인테리어', '전자상거래업', '중식음식점', '치킨전문점', '한의원', '당구장', '스포츠클럽',
       '자동차수리', '네일숍', '여관', '노래방', '가방', '의료기기', '문구', '화장품', '외국어학원',
       '철물점', '골프연습장', '가전제품수리', '고시원', '컴퓨터및주변장치판매', '핸드폰', '가전제품',
       '조명용품', '운동/경기용품', 'PC방', '가구', '애완동물', '부동산중개업', '완구',
       '자전거 및 기타운송장비']

In [29]:
data_01['서비스_업종_코드_명'].unique()

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료', '일반교습학원', '외국어학원', '예술학원', '스포츠 강습',
       '일반의원', '치과의원', '한의원', '동물병원', '변호사사무소', '기타법무서비스', '세무사사무소',
       '당구장', '골프연습장', 'PC방', '전자게임장', '자동차수리', '자동차미용', '미용실', '네일숍',
       '피부관리실', '세탁소', '가전제품수리', '부동산중개업', '여관', '게스트하우스', '고시원', '노래방',
       '녹음실', '사진관', '통번역서비스', '건축물청소', '여행사', '비디오/서적임대', '의류임대', '슈퍼마켓',
       '편의점', '컴퓨터및주변장치판매', '핸드폰', '주류도매', '미곡판매', '육류판매', '수산물판매', '청과상',
       '반찬가게', '일반의류', '유아의류', '신발', '가방', '안경', '시계및귀금속', '의약품', '의료기기',
       '서적', '문구', '화장품', '미용재료', '운동/경기용품', '완구', '섬유제품', '화초', '애완동물',
       '가구', '가전제품', '철물점', '인테리어', '조명용품', '자동차부품', '모터사이클및부품',
       '재생용품 판매점', '예술품', '전자상거래업', '컴퓨터학원', '변리사사무소', '법무사사무소', '회계사사무소',
       '볼링장', '기타오락장', '복권방', '통신기기수리', '스포츠클럽', '독서실', '가정용품임대', '한복점',
       '자전거 및 기타운송장비', '악기', '주유소', 'DVD방', '모터사이클수리', '중고차판매', '중고가구'],
      dtype=object)

In [30]:
set_a = set(data_01['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'핸드폰', 'PC방', '철물점', '스포츠 강습', '편의점', '치과의원', '스포츠클럽', '예술학원', '섬유제품', '의료기기', '골프연습장', '조명용품', '시계및귀금속', '일반교습학원', '치킨전문점', '수산물판매', '세탁소', '운동/경기용품', '일반의류', '중식음식점', '자동차수리', '분식전문점', '컴퓨터및주변장치판매', '반찬가게', '제과점', '가구', '의약품', '외국어학원', '인테리어', '가방', '화장품', '일반의원', '미곡판매', '완구', '청과상', '패스트푸드점', '가전제품수리', '육류판매', '한식음식점', '자동차미용', '한의원', '서적', '미용실', '문구', '가전제품', '부동산중개업', '호프-간이주점', '피부관리실', '일식음식점', '커피-음료', '여관', '안경', '자전거 및 기타운송장비', '전자상거래업', '당구장', '양식음식점', '노래방', '고시원', '신발', '네일숍', '화초', '슈퍼마켓', '애완동물'}

A에만 있는 값:
{'의류임대', '모터사이클수리', '변리사사무소', '비디오/서적임대', 'DVD방', '모터사이클및부품', '주유소', '미용재료', '건축물청소', '통신기기수리', '주류도매', '여행사', '독서실', '기타법무서비스', '사진관', '재생용품 판매점', '전자게임장', '법무사사무소', '중고차판매', '동물병원', '세무사사무소', '회계사사무소', '예술품', '컴퓨터학원', '한복점', '자동차부품', '유아의류', '복권방', '통번역서비스', '악기', '가정용품임대', '중고가구', '기타오락장', '볼링장', '게스트하우스', '변호사사무소', '녹음실'}

B에만 있는 값:
set()

In [31]:
# 삭제할 항목 제외
df_cleaned = data_01[~data_01['서비스_업종_코드_명'].isin(only_in_a)]

In [32]:
set_a = set(df_cleaned['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'핸드폰', 'PC방', '철물점', '스포츠 강습', '편의점', '치과의원', '스포츠클럽', '예술학원', '섬유제품', '의료기기', '골프연습장', '조명용품', '시계및귀금속', '일반교습학원', '치킨전문점', '수산물판매', '세탁소', '운동/경기용품', '일반의류', '중식음식점', '자동차수리', '분식전문점', '컴퓨터및주변장치판매', '반찬가게', '제과점', '가구', '의약품', '외국어학원', '인테리어', '가방', '화장품', '일반의원', '미곡판매', '완구', '청과상', '패스트푸드점', '가전제품수리', '육류판매', '한식음식점', '자동차미용', '한의원', '서적', '미용실', '문구', '가전제품', '부동산중개업', '호프-간이주점', '피부관리실', '일식음식점', '커피-음료', '여관', '안경', '자전거 및 기타운송장비', '전자상거래업', '당구장', '양식음식점', '노래방', '고시원', '신발', '네일숍', '화초', '슈퍼마켓', '애완동물'}

A에만 있는 값:
set()

B에만 있는 값:
set()



컬럼정리

In [33]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101816 entries, 0 to 141136
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    101816 non-null  int64
 1   행정동_코드       101816 non-null  int64
 2   행정동_코드_명     101816 non-null  object
 3   서비스_업종_코드    101816 non-null  object
 4   서비스_업종_코드_명  101816 non-null  object
 5   점포_수         101816 non-null  int64
 6   유사_업종_점포_수   101816 non-null  int64
 7   개업_율         101816 non-null  int64
 8   개업_점포_수      101816 non-null  int64
 9   폐업_률         101816 non-null  int64
 10  폐업_점포_수      101816 non-null  int64
 11  프랜차이즈_점포_수   101816 non-null  int64
dtypes: int64(9), object(3)
memory usage: 10.1+ MB

In [34]:
df_cleaned.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [35]:
df_cleaned = df_cleaned[['기준_년분기_코드', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']]

In [36]:
# 새로운 컬럼명 리스트
new_columns = ['년분기', '행정동', '업종명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']  # 원하는 컬럼명으로 변경

# 컬럼명 변경
df_cleaned.columns = new_columns

In [37]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101816 entries, 0 to 141136
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         101816 non-null  int64
 1   행정동         101816 non-null  object
 2   업종명         101816 non-null  object
 3   점포_수        101816 non-null  int64
 4   개업_점포_수     101816 non-null  int64
 5   폐업_점포_수     101816 non-null  int64
 6   프랜차이즈_점포_수  101816 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.2+ MB

In [38]:
df_cleaned.head(2)

     년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0  20211  청운효자동  한식음식점    86        4        3           1
1  20211  청운효자동  중식음식점     4        0        0           0

In [ ]:
#데이터 저장
#df_cleaned.to_csv('Number of Stores_21.csv',index=False)