In [116]:
import pandas as pd

In [117]:
data = pd.read_csv("서울시 거주인구 (동,분기).csv")

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   동별           5448 non-null   object
 1   구분별          5448 non-null   object
 2   항목           5448 non-null   object
 3   단위           2724 non-null   object
 4   2019. 1/4    5400 non-null   float64
 5   2019. 2/4    5400 non-null   float64
 6   2019. 3/4    5400 non-null   float64
 7   2019. 4/4    5400 non-null   float64
 8   2020. 1/4    5412 non-null   float64
 9   2020. 2/4    5412 non-null   float64
 10  2020. 3/4    5412 non-null   float64
 11  2020. 4/4    5412 non-null   float64
 12  2021. 1/4    5412 non-null   float64
 13  2021. 2/4    5412 non-null   float64
 14  2021. 3/4    5424 non-null   float64
 15  2021. 4/4    5424 non-null   float64
 16  2022. 1/4    5424 non-null   float64
 17  2022. 2/4    5424 non-null   float64
 18  2022. 3/4    5424 non-null   float64
 19  2022. 4/4    5424 non-null   float64
 20  2023. 1/4    5424 non-null   float64
 21  2023. 2/4    5424 non-null   float64
 22  2023. 3/4    5424 non-null   float64
 23  2023. 4/4    5424 non-null   float64
 24  2024. 1/4    5424 non-null   float64
 25  2024. 2/4    5424 non-null   float64
 26  Unnamed: 26  0 non-null      float64
dtypes: float64(23), object(4)
memory usage: 1.1+ MB

In [119]:
data.columns

Index(['동별', '구분별', '항목', '단위', '2019. 1/4', '2019. 2/4', '2019. 3/4',
       '2019. 4/4', '2020. 1/4', '2020. 2/4', '2020. 3/4', '2020. 4/4',
       '2021. 1/4', '2021. 2/4', '2021. 3/4', '2021. 4/4', '2022. 1/4',
       '2022. 2/4', '2022. 3/4', '2022. 4/4', '2023. 1/4', '2023. 2/4',
       '2023. 3/4', '2023. 4/4', '2024. 1/4', '2024. 2/4', 'Unnamed: 26'],
      dtype='object')

In [120]:
#사용할 컬럼 선별
data2 = data[['동별', '구분별', '2019. 1/4', '2019. 2/4', '2019. 3/4',
       '2019. 4/4', '2020. 1/4', '2020. 2/4', '2020. 3/4', '2020. 4/4',
       '2021. 1/4', '2021. 2/4', '2021. 3/4', '2021. 4/4', '2022. 1/4',
       '2022. 2/4', '2022. 3/4', '2022. 4/4', '2023. 1/4', '2023. 2/4',
       '2023. 3/4', '2023. 4/4', '2024. 1/4', '2024. 2/4']]

In [121]:
# 새 컬럼 이름 리스트
new_columns = ['동별', '구분별', '20191', '20192', '20193', '20194',
               '20201', '20202', '20203', '20204', '20211', '20212',
               '20213', '20214', '20221', '20222', '20223', '20224',
               '20231', '20232', '20233', '20234', '20241', '20242']

# 데이터프레임의 열 이름 변경
data2.columns = new_columns

In [122]:
data2.head(1)

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
0,합계,세대,4290922.0,4304243.0,4315921.0,4327605.0,4354006.0,4384076.0,4405833.0,4417954.0,...,4451444.0,4464840.0,4450525.0,4446296.0,4463385.0,4469158.0,4475726.0,4469417.0,4485819.0,4486014.0

In [123]:
# null 값 확인
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      5448 non-null   object
 1   구분별     5448 non-null   object
 2   20191   5400 non-null   float64
 3   20192   5400 non-null   float64
 4   20193   5400 non-null   float64
 5   20194   5400 non-null   float64
 6   20201   5412 non-null   float64
 7   20202   5412 non-null   float64
 8   20203   5412 non-null   float64
 9   20204   5412 non-null   float64
 10  20211   5412 non-null   float64
 11  20212   5412 non-null   float64
 12  20213   5424 non-null   float64
 13  20214   5424 non-null   float64
 14  20221   5424 non-null   float64
 15  20222   5424 non-null   float64
 16  20223   5424 non-null   float64
 17  20224   5424 non-null   float64
 18  20231   5424 non-null   float64
 19  20232   5424 non-null   float64
 20  20233   5424 non-null   float64
 21  20234   5424 non-null   float64
 22  20241   5424 non-null   float64
 23  20242   5424 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1021.6+ KB

In [124]:
data2.iloc[5423:, [0] + list(range(5, data2.shape[1]))]

,동별,20194,20201,20202,20203,20204,20211,20212,20213,20214,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
5423,강일동,4527.0,4640.0,4686.0,4757.0,5323.0,6077.0,6409.0,5177.00,5321.00,5437.00,5595.00,5691.00,5784.00,5937.00,6005.00,6100.00,6231.00,6349.00,6454.00
5424,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13486.00,13496.00,13477.00,13563.00,13547.00,13570.00,13601.00,13618.00,13608.00,13610.00,13592.00,13585.00
5425,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39036.00,38929.00,38832.00,39022.00,39038.00,39178.00,39435.00,39407.00,39412.00,39440.00,39322.00,39379.00
5426,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19259.00,19197.00,19137.00,19213.00,19199.00,19276.00,19380.00,19347.00,19356.00,19393.00,19319.00,19353.00
5427,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19777.00,19732.00,19695.00,19809.00,19839.00,19902.00,20055.00,20060.00,20056.00,20047.00,20003.00,20026.00
5428,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38940.00,38834.00,38713.00,38880.00,38895.00,39036.00,39285.00,39283.00,39288.00,39317.00,39206.00,39261.00
5429,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19215.00,19154.00,19082.00,19149.00,19137.00,19212.00,19312.00,19294.00,19302.00,19338.00,19267.00,19303.00
5430,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19725.00,19680.00,19631.00,19731.00,19758.00,19824.00,19973.00,19989.00,19986.00,19979.00,19939.00,19958.00
5431,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.00,95.00,119.00,142.00,143.00,142.00,150.00,124.00,124.00,123.00,116.00,118.00
5432,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.00,43.00,55.00,64.00,62.00,64.00,68.00,53.00,54.00,55.00,52.00,50.00
5433,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.00,52.00,64.00,78.00,81.00,78.00,82.00,71.00,70.00,68.00,64.00,68.00
5434,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.89,2.88,2.87,2.87,2.87,2.88,2.89,2.88,2.89,2.89,2.88,2.89
5435,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4326.00,4396.00,4561.00,4632.00,4730.00,4839.00,4956.00,5022.00,5120.00,5224.00,5290.00,5361.00
5436,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3861.00,3944.00,4028.00,4653.00,4774.00,4776.00,4856.00,4857.00,4832.00,4807.00,5152.00,5371.00
5437,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10092.00,10200.00,10254.00,11736.00,11971.00,11933.00,12018.00,11976.00,11872.00,11786.00,12959.00,13683.00
5438,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4749.00,4782.00,4812.00,5497.00,5579.00,5571.00,5598.00,5568.00,5512.00,5471.00,6032.00,6385.00
5439,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5343.00,5418.00,5442.00,6239.00,6392.00,6362.00,6420.00,6408.00,6360.00,6315.00,6927.00,7298.00
5440,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10053.00,10166.00,10219.00,11692.00,11922.00,11882.00,11963.00,11923.00,11822.00,11736.00,12904.00,13627.00
5441,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4737.00,4773.00,4803.00,5485.00,5564.00,5554.00,5578.00,5549.00,5495.00,5454.00,6013.00,6368.00
5442,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5316.00,5393.00,5416.00,6207.00,6358.00,6328.00,6385.00,6374.00,6327.00,6282.00,6891.00,7259.00
5443,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.00,34.00,35.00,44.00,49.00,51.00,55.00,53.00,50.00,50.00,55.00,56.00
5444,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00,9.00,9.00,12.00,15.00,17.00,20.00,19.00,17.00,17.00,19.00,17.00
5445,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.00,25.00,26.00,32.00,34.00,34.00,35.00,34.00,33.00,33.00,36.00,39.00
5446,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.60,2.58,2.54,2.51,2.50,2.49,2.46,2.45,2.45,2.44,2.50,2.54
5447,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1449.00,1496.00,1547.00,1806.00,1888.00,1913.00,1941.00,1945.00,1956.00,1978.00,2057.00,2101.00

In [125]:
data2[data2['동별'] == '상일동']

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
5208,상일동,세대,4185.00,4192.00,4154.00,4109.0,9586.00,11349.00000,11524.000000,11609.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5209,상일동,계,11127.00,11113.00,10943.00,10773.0,27636.00,32624.00000,33151.000000,33345.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5210,상일동,남자,5560.00,5540.00,5455.00,5356.0,13669.00,16137.00000,16333.000000,16438.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5211,상일동,여자,5567.00,5573.00,5488.00,5417.0,13967.00,16487.00000,16818.000000,16907.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5212,상일동,한국인,11038.00,11026.00,10853.00,10690.0,27516.00,32478.00000,33026.000000,33222.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5213,상일동,남자,5512.00,5496.00,5411.00,5322.0,13611.00,16066.00000,16276.000000,16379.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5214,상일동,여자,5526.00,5530.00,5442.00,5368.0,13905.00,16412.00000,16750.000000,16843.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5215,상일동,등록외국인,89.00,87.00,90.00,83.0,120.00,146.00000,125.000000,123.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5216,상일동,남자,48.00,44.00,44.00,34.0,58.00,71.00000,57.000000,59.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5217,상일동,여자,41.00,43.00,46.00,49.0,62.00,75.00000,68.000000,64.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5218,상일동,세대당인구,2.64,2.63,2.61,2.6,2.87,2.86175,2.865845,2.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5219,상일동,65세이상고령자,1524.00,1553.00,1584.00,1579.0,2878.00,3473.00000,3569.000000,3659.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
data2[data2['동별'] == '항동']

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
3516,항동,세대,NaN,NaN,NaN,NaN,5464.00,5864.00000,6104.000000,6139.00,...,6262.00,6284.00,6285.00,6263.00,6279.00,6282.00,6286.00,6253.00,6268.0,6286.00
3517,항동,계,NaN,NaN,NaN,NaN,14363.00,15540.00000,16277.000000,16404.00,...,16561.00,16641.00,16594.00,16551.00,16574.00,16556.00,16534.00,16480.00,16417.0,16420.00
3518,항동,남자,NaN,NaN,NaN,NaN,7060.00,7660.00000,8015.000000,8086.00,...,8091.00,8105.00,8071.00,8031.00,8045.00,8026.00,8007.00,7966.00,7927.0,7934.00
3519,항동,여자,NaN,NaN,NaN,NaN,7303.00,7880.00000,8262.000000,8318.00,...,8470.00,8536.00,8523.00,8520.00,8529.00,8530.00,8527.00,8514.00,8490.0,8486.00
3520,항동,한국인,NaN,NaN,NaN,NaN,14342.00,15498.00000,16233.000000,16284.00,...,16441.00,16498.00,16459.00,16407.00,16439.00,16415.00,16395.00,16335.00,16281.0,16265.00
3521,항동,남자,NaN,NaN,NaN,NaN,7055.00,7643.00000,7997.000000,8036.00,...,8036.00,8048.00,8016.00,7973.00,7986.00,7966.00,7948.00,7906.00,7872.0,7872.00
3522,항동,여자,NaN,NaN,NaN,NaN,7287.00,7855.00000,8236.000000,8248.00,...,8405.00,8450.00,8443.00,8434.00,8453.00,8449.00,8447.00,8429.00,8409.0,8393.00
3523,항동,등록외국인,NaN,NaN,NaN,NaN,21.00,42.00000,44.000000,120.00,...,120.00,143.00,135.00,144.00,135.00,141.00,139.00,145.00,136.0,155.00
3524,항동,남자,NaN,NaN,NaN,NaN,5.00,17.00000,18.000000,50.00,...,55.00,57.00,55.00,58.00,59.00,60.00,59.00,60.00,55.0,62.00
3525,항동,여자,NaN,NaN,NaN,NaN,16.00,25.00000,26.000000,70.00,...,65.00,86.00,80.00,86.00,76.00,81.00,80.00,85.00,81.0,93.00
3526,항동,세대당인구,NaN,NaN,NaN,NaN,2.62,2.64291,2.659404,2.65,...,2.63,2.63,2.62,2.62,2.62,2.61,2.61,2.61,2.6,2.59
3527,항동,65세이상고령자,NaN,NaN,NaN,NaN,1328.00,1398.00000,1451.000000,1456.00,...,1695.00,1714.00,1762.00,1792.00,1846.00,1879.00,1910.00,1939.00,1989.0,2022.00

동별 총 인구수 행 & 필요컬럼만 추출

In [127]:
data3 = data2[data2['구분별'] == '계']

In [128]:
data3.head(3)

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
1,합계,계,10054979.0,10041574.0,10025927.0,10010983.0,10013781.0,9985652.0,9953009.0,9911088.0,...,9732617.0,9725417.0,9682126.0,9667669.0,9668008.0,9659322.0,9655918.0,9638799.0,9635445.0,9619861.0
13,종로구,계,162913.0,162413.0,162860.0,161869.0,161984.0,160520.0,159842.0,158996.0,...,153684.0,153255.0,151999.0,152211.0,152212.0,151349.0,151127.0,150453.0,150550.0,150204.0
25,사직동,계,9782.0,9724.0,9700.0,9815.0,9841.0,9787.0,9848.0,9806.0,...,9630.0,9572.0,9379.0,9355.0,9371.0,9362.0,9326.0,9273.0,9258.0,9249.0

In [129]:
# "동별" 컬럼에서 "합계"를 제외한 "??동" 데이터만 필터링
dong_only_data = data3[~data3['동별'].str.contains("합계|구$", na=False)]
gu_only_data = data3[~data3['동별'].str.contains("합계|동$", na=False)]

# 결과 확인
dong_only_data['동별'].unique

<bound method Series.unique of 25       사직동
37       삼청동
49       부암동
61       평창동
73       무악동
        ...
5389    둔촌2동
5401      길동
5413     강일동
5425    상일1동
5437    상일2동
Name: 동별, Length: 428, dtype: object>

In [130]:
dong_only_data.reset_index()

,index,동별,구분별,20191,20192,20193,20194,20201,20202,20203,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
0,25,사직동,계,9782.0,9724.0,9700.0,9815.0,9841.0,9787.0,9848.0,...,9630.0,9572.0,9379.0,9355.0,9371.0,9362.0,9326.0,9273.0,9258.0,9249.0
1,37,삼청동,계,3045.0,3030.0,3013.0,2997.0,2993.0,2973.0,2962.0,...,2741.0,2692.0,2659.0,2642.0,2616.0,2576.0,2495.0,2457.0,2450.0,2449.0
2,49,부암동,계,10523.0,10477.0,10525.0,10551.0,10597.0,10421.0,10347.0,...,9702.0,9683.0,9590.0,9536.0,9460.0,9377.0,9443.0,9389.0,9400.0,9346.0
3,61,평창동,계,19002.0,18820.0,18830.0,18816.0,18768.0,18696.0,18618.0,...,18272.0,18141.0,17952.0,17858.0,17743.0,17658.0,17635.0,17578.0,17472.0,17460.0
4,73,무악동,계,8585.0,8702.0,8745.0,8740.0,8767.0,8691.0,8655.0,...,8245.0,8184.0,8084.0,8052.0,8045.0,8015.0,8040.0,7991.0,8007.0,7968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,5389,둔촌2동,계,28056.0,27964.0,27943.0,27752.0,27520.0,27292.0,27085.0,...,24641.0,24480.0,24343.0,24277.0,24212.0,24169.0,24387.0,24417.0,24354.0,24231.0
424,5401,길동,계,46839.0,46835.0,46720.0,46367.0,46063.0,46950.0,46997.0,...,45863.0,45662.0,45420.0,45374.0,45225.0,45142.0,44976.0,45042.0,45072.0,45121.0
425,5413,강일동,계,32669.0,32535.0,32377.0,32127.0,31982.0,31866.0,32421.0,...,32947.0,33177.0,33097.0,33057.0,33082.0,32996.0,32810.0,34283.0,34745.0,34800.0
426,5425,상일1동,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38832.0,39022.0,39038.0,39178.0,39435.0,39407.0,39412.0,39440.0,39322.0,39379.0
427,5437,상일2동,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10254.0,11736.0,11971.0,11933.0,12018.0,11976.0,11872.0,11786.0,12959.0,13683.0

In [131]:
# 고유 동의 개수 확인
unique_dong_count = dong_only_data['동별'].nunique()
print(f"고유 동의 개수: {unique_dong_count}")

고유 동의 개수: 427

In [132]:
# 중복 값 확인
duplicate_check = dong_only_data['동별'].duplicated().any()
print(f"중복 값 존재 여부: {duplicate_check}")

중복 값 존재 여부: True

In [133]:
# 중복된 동 이름만 확인, 강남구, 관악구에 신사동 한개씩 존재
duplicate_dongs = dong_only_data[dong_only_data['동별'].duplicated(keep=False)]
print(duplicate_dongs['동별'])

4213    신사동
4585    신사동
Name: 동별, dtype: object

In [134]:
gu_only_data.iloc[:, :5]

        동별 구분별     20191     20192     20193
13     종로구   계  162913.0  162413.0  162860.0
229     중구   계  135836.0  136276.0  136663.0
421    용산구   계  245139.0  245069.0  244989.0
625    성동구   계  314608.0  312991.0  311290.0
841    광진구   계  370658.0  369470.0  368337.0
1033  동대문구   계  363262.0  363101.0  363779.0
1213   중랑구   계  407211.0  405639.0  403776.0
1417   성북구   계  450021.0  452292.0  454114.0
1669   강북구   계  321151.0  319377.0  317875.0
1837   도봉구   계  340089.0  339001.0  337594.0
2017   노원구   계  545486.0  542603.0  539829.0
2257   은평구   계  488713.0  488285.0  486159.0
2461  서대문구   계  324604.0  324304.0  324089.0
2641   마포구   계  386571.0  385985.0  385605.0
2845   양천구   계  466622.0  465095.0  463931.0
3073   강서구   계  602886.0  602230.0  600240.0
3325   구로구   계  438889.0  439328.0  439850.0
3529   금천구   계  254244.0  254061.0  252868.0
3661  영등포구   계  404556.0  404229.0  402478.0
3889   동작구   계  412031.0  412000.0  410487.0
4081   관악구   계  520645.0  519864.0  519953.0
4345   서초구   계  437007.0  435631.0  435258.0
4573   강남구   계  546875.0  547602.0  549043.0
4861   송파구   계  685361.0  686181.0  684338.0
5197   강동구   계  429601.0  428547.0  430522.0

신사동 명칭 변경

In [135]:
# 중복되는 신사동 중에서 관악구 신사동을 신사동에서 관악구 신사동으로 변경
dong_only_data.loc[4213, '동별'] = '관악구 신사동'

In [136]:
dong_only_data.fillna(0, inplace= True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_11276\1712130601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dong_only_data.fillna(0, inplace= True)

In [137]:
data3[data3['동별'].str.contains('^상일|^강일', na=False)]

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
5209,상일동,계,11127.0,11113.0,10943.0,10773.0,27636.0,32624.0,33151.0,33345.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5413,강일동,계,32669.0,32535.0,32377.0,32127.0,31982.0,31866.0,32421.0,35778.0,...,32947.0,33177.0,33097.0,33057.0,33082.0,32996.0,32810.0,34283.0,34745.0,34800.0
5425,상일1동,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38832.0,39022.0,39038.0,39178.0,39435.0,39407.0,39412.0,39440.0,39322.0,39379.0
5437,상일2동,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10254.0,11736.0,11971.0,11933.0,12018.0,11976.0,11872.0,11786.0,12959.0,13683.0

분리된 동 인구수 합산

In [138]:
dong_only_data.loc[dong_only_data['동별'] == '상일2동', '동별'] = '강일동'
dong_only_data.loc[dong_only_data['동별'] == '상일1동', '동별'] = '상일동'
dong_only_data.loc[dong_only_data['동별'] == '항동', '동별'] = '오류2동'
dong_only_data.loc[dong_only_data['동별'] == '개포3동', '동별'] = '일원2동'
dong_only_data['동별'] = dong_only_data['동별'].str.replace('.', '·', regex=False)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_11276\858267234.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dong_only_data['동별'] = dong_only_data['동별'].str.replace('.', '·', regex=False)

In [139]:
# 특정 컬럼을 제거 (예: '컬럼명')
dong_only_data = dong_only_data.drop(columns=['구분별'])

In [140]:
dong425 = dong_only_data.groupby(['동별']).sum().reset_index()

In [141]:
dong425[dong425['동별'].str.contains('^상일|^오류|^강일', na=False)]

,동별,20191,20192,20193,20194,20201,20202,20203,20204,20211,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
11,강일동,32669.0,32535.0,32377.0,32127.0,31982.0,31866.0,32421.0,35778.0,40855.0,...,43201.0,44913.0,45068.0,44990.0,45100.0,44972.0,44682.0,46069.0,47704.0,48483.0
186,상일동,11127.0,11113.0,10943.0,10773.0,27636.0,32624.0,33151.0,33345.0,37989.0,...,38832.0,39022.0,39038.0,39178.0,39435.0,39407.0,39412.0,39440.0,39322.0,39379.0
288,오류1동,22686.0,22696.0,23025.0,23295.0,23364.0,23424.0,23350.0,23360.0,23434.0,...,23064.0,22979.0,22906.0,23126.0,23241.0,23312.0,23432.0,23363.0,23303.0,23284.0
289,오류2동,47387.0,49302.0,51567.0,53500.0,54971.0,55837.0,56285.0,56159.0,55663.0,...,55478.0,55459.0,55349.0,55079.0,54990.0,54868.0,54723.0,54368.0,54018.0,53496.0

In [142]:
dong425[:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      424 non-null    object
 1   20191   424 non-null    float64
 2   20192   424 non-null    float64
 3   20193   424 non-null    float64
 4   20194   424 non-null    float64
 5   20201   424 non-null    float64
 6   20202   424 non-null    float64
 7   20203   424 non-null    float64
 8   20204   424 non-null    float64
 9   20211   424 non-null    float64
 10  20212   424 non-null    float64
 11  20213   424 non-null    float64
 12  20214   424 non-null    float64
 13  20221   424 non-null    float64
 14  20222   424 non-null    float64
 15  20223   424 non-null    float64
 16  20224   424 non-null    float64
 17  20231   424 non-null    float64
 18  20232   424 non-null    float64
 19  20233   424 non-null    float64
 20  20234   424 non-null    float64
 21  20241   424 non-null    float64
 22  20242   424 non-null    float64
dtypes: float64(22), object(1)
memory usage: 76.3+ KB

In [143]:
dong425

,동별,20191,20192,20193,20194,20201,20202,20203,20204,20211,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
0,가락1동,20186.0,26063.0,27207.0,27716.0,28032.0,28065.0,27977.0,27876.0,27403.0,...,27548.0,27560.0,27481.0,27521.0,27611.0,27711.0,27670.0,27673.0,27552.0,27616.0
1,가락2동,34155.0,33999.0,33915.0,33920.0,33776.0,33503.0,33258.0,33204.0,32971.0,...,31946.0,31822.0,31738.0,31670.0,31573.0,31507.0,31450.0,31386.0,31341.0,31249.0
2,가락본동,27962.0,27966.0,27910.0,27876.0,27833.0,27715.0,27491.0,27368.0,27128.0,...,26317.0,26214.0,26024.0,25883.0,25788.0,25709.0,25617.0,25489.0,25380.0,25313.0
3,가리봉동,16188.0,15917.0,15518.0,15250.0,15181.0,15062.0,14750.0,14263.0,13447.0,...,13060.0,12990.0,12699.0,12653.0,12662.0,12623.0,12478.0,12458.0,12347.0,12342.0
4,가산동,24638.0,24522.0,24497.0,24455.0,24732.0,24830.0,25762.0,25973.0,25863.0,...,26363.0,26539.0,26619.0,26569.0,26631.0,27043.0,27166.0,27152.0,27468.0,27425.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,효창동,9078.0,9829.0,10179.0,10300.0,10363.0,10387.0,10372.0,10326.0,10369.0,...,10179.0,10831.0,10823.0,10888.0,10902.0,10895.0,10828.0,10811.0,10765.0,10772.0
420,후암동,18694.0,18617.0,18547.0,18445.0,18377.0,18354.0,18291.0,18202.0,17843.0,...,17220.0,17126.0,16858.0,16812.0,16740.0,16638.0,16540.0,16462.0,16386.0,16412.0
421,휘경1동,14509.0,15343.0,16537.0,16508.0,16305.0,15421.0,15307.0,15362.0,15393.0,...,16110.0,16319.0,16350.0,16339.0,16340.0,16279.0,16168.0,16179.0,16184.0,16185.0
422,휘경2동,25271.0,25178.0,25176.0,25068.0,25104.0,25132.0,25094.0,24992.0,24814.0,...,24857.0,24831.0,24749.0,24666.0,25390.0,25325.0,25288.0,25163.0,25354.0,25324.0
423,흑석동,35007.0,35585.0,35482.0,35551.0,35474.0,34992.0,34770.0,34544.0,33747.0,...,32996.0,33168.0,31892.0,30694.0,31020.0,31964.0,32366.0,32231.0,32259.0,32491.0

Float -> Int

In [144]:
for d in dong425.columns[1:]:
    dong425[d] = dong425[d].astype(int)

In [145]:
dong425.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      424 non-null    object
 1   20191   424 non-null    int32
 2   20192   424 non-null    int32
 3   20193   424 non-null    int32
 4   20194   424 non-null    int32
 5   20201   424 non-null    int32
 6   20202   424 non-null    int32
 7   20203   424 non-null    int32
 8   20204   424 non-null    int32
 9   20211   424 non-null    int32
 10  20212   424 non-null    int32
 11  20213   424 non-null    int32
 12  20214   424 non-null    int32
 13  20221   424 non-null    int32
 14  20222   424 non-null    int32
 15  20223   424 non-null    int32
 16  20224   424 non-null    int32
 17  20231   424 non-null    int32
 18  20232   424 non-null    int32
 19  20233   424 non-null    int32
 20  20234   424 non-null    int32
 21  20241   424 non-null    int32
 22  20242   424 non-null    int32
dtypes: int32(22), object(1)
memory usage: 39.9+ KB

In [146]:
dong425

,동별,20191,20192,20193,20194,20201,20202,20203,20204,20211,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
0,가락1동,20186,26063,27207,27716,28032,28065,27977,27876,27403,...,27548,27560,27481,27521,27611,27711,27670,27673,27552,27616
1,가락2동,34155,33999,33915,33920,33776,33503,33258,33204,32971,...,31946,31822,31738,31670,31573,31507,31450,31386,31341,31249
2,가락본동,27962,27966,27910,27876,27833,27715,27491,27368,27128,...,26317,26214,26024,25883,25788,25709,25617,25489,25380,25313
3,가리봉동,16188,15917,15518,15250,15181,15062,14750,14263,13447,...,13060,12990,12699,12653,12662,12623,12478,12458,12347,12342
4,가산동,24638,24522,24497,24455,24732,24830,25762,25973,25863,...,26363,26539,26619,26569,26631,27043,27166,27152,27468,27425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,효창동,9078,9829,10179,10300,10363,10387,10372,10326,10369,...,10179,10831,10823,10888,10902,10895,10828,10811,10765,10772
420,후암동,18694,18617,18547,18445,18377,18354,18291,18202,17843,...,17220,17126,16858,16812,16740,16638,16540,16462,16386,16412
421,휘경1동,14509,15343,16537,16508,16305,15421,15307,15362,15393,...,16110,16319,16350,16339,16340,16279,16168,16179,16184,16185
422,휘경2동,25271,25178,25176,25068,25104,25132,25094,24992,24814,...,24857,24831,24749,24666,25390,25325,25288,25163,25354,25324
423,흑석동,35007,35585,35482,35551,35474,34992,34770,34544,33747,...,32996,33168,31892,30694,31020,31964,32366,32231,32259,32491

데이터 저장 및 확인

In [147]:
dong425.to_csv('Resident_Population_Dong424.csv',index=False)

In [148]:
data = pd.read_csv('Resident_Population_Dong425.csv')

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      424 non-null    object
 1   20191   424 non-null    int64
 2   20192   424 non-null    int64
 3   20193   424 non-null    int64
 4   20194   424 non-null    int64
 5   20201   424 non-null    int64
 6   20202   424 non-null    int64
 7   20203   424 non-null    int64
 8   20204   424 non-null    int64
 9   20211   424 non-null    int64
 10  20212   424 non-null    int64
 11  20213   424 non-null    int64
 12  20214   424 non-null    int64
 13  20221   424 non-null    int64
 14  20222   424 non-null    int64
 15  20223   424 non-null    int64
 16  20224   424 non-null    int64
 17  20231   424 non-null    int64
 18  20232   424 non-null    int64
 19  20233   424 non-null    int64
 20  20234   424 non-null    int64
 21  20241   424 non-null    int64
 22  20242   424 non-null    int64
dtypes: int64(22), object(1)
memory usage: 76.3+ KB

In [150]:
print(data.iloc[:, 1:].head(10))

   20191  20192  20193  20194  20201  20202  20203  20204  20211  20212  ...  \
0  20186  26063  27207  27716  28032  28065  27977  27876  27403  27484  ...
1  34155  33999  33915  33920  33776  33503  33258  33204  32971  32808  ...
2  27962  27966  27910  27876  27833  27715  27491  27368  27128  26887  ...
3  16188  15917  15518  15250  15181  15062  14750  14263  13447  13363  ...
4  24638  24522  24497  24455  24732  24830  25762  25973  25863  25937  ...
5  33804  34090  34199  34154  34147  34187  34515  34540  34445  34398  ...
6  15562  15413  15301  15140  15032  14961  14782  14588  14341  14283  ...
7  16467  16445  16277  16199  16101  15976  15778  15583  15415  15346  ...
8   4512   4472   4487   4488   4464   4453   4422   4418   4297   4305  ...
9  25069  24862  24768  24536  24318  23952  23630  23396  23018  22803  ...

   20221  20222  20223  20224  20231  20232  20233  20234  20241  20242
0  27548  27560  27481  27521  27611  27711  27670  27673  27552  27616
1  31946  31822  31738  31670  31573  31507  31450  31386  31341  31249
2  26317  26214  26024  25883  25788  25709  25617  25489  25380  25313
3  13060  12990  12699  12653  12662  12623  12478  12458  12347  12342
4  26363  26539  26619  26569  26631  27043  27166  27152  27468  27425
5  34435  34457  34408  34359  34370  34357  34255  34145  33989  33905
6  13971  14061  13983  13902  13847  13706  13599  13539  13465  13406
7  15004  14924  14743  14678  14560  14505  14321  14207  14114  14058
8   4152   4137   4086   4065   4084   4031   3986   3972   3939   3915
9  21768  21441  20223  17151  15401  14993  14820  14644  14526  14453

[10 rows x 22 columns]

분리된 동 합칠 때 사용했던 코드들

In [151]:
#filtered_data.groupby(['동별', "구분별"]).sum().reset_index()

In [152]:
# import numpy as np
# # filtered_data.loc[filtered_data['동별'] == '오류2동']
# filtered_data.loc[filtered_data['동별'] == '오류2동', filtered_data.columns] = \
# np.concatenate([["오류2동", "계"],
#     (filtered_data.loc[filtered_data['동별'] == '오류2동'].values[0][2:] + \
# filtered_data.loc[filtered_data['동별'] == '항동'].values[0][2:])])

In [153]:
# filtered_data.loc[filtered_data['동별'] == '오류2동', filtered_data.columns[2:]] = \
#     filtered_data.loc[filtered_data['동별'] == '오류2동', filtered_data.columns[2:]].values[0] + \
#     filtered_data.loc[filtered_data['동별'] == '항동', filtered_data.columns[2:]].values[0]
# filtered_data.iloc[:,:10]