In [22]:
import pandas as pd

In [23]:
dong = pd.read_csv(r'D:\Work\project\project2\oos\data\거주인구\Resident_Population_Dong424.csv')

d19 = pd.read_csv('sales_2019.csv')

In [24]:
d19.info()
print('년분기 갯수 : ', d19['기준_년분기_코드'].nunique())
print('업종명 갯수 : ', d19['서비스_업종_코드_명'].nunique())
print('행정동 갯수 : ', d19['행정동_코드_명'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65758 entries, 0 to 65757
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        65758 non-null  int64
 1   행정동_코드           65758 non-null  int64
 2   행정동_코드_명         65758 non-null  object
 3   서비스_업종_코드        65758 non-null  object
 4   서비스_업종_코드_명      65758 non-null  object
 5   당월_매출_금액         65758 non-null  int64
 6   당월_매출_건수         65758 non-null  int64
 7   주중_매출_금액         65758 non-null  int64
 8   주말_매출_금액         65758 non-null  int64
 9   월요일_매출_금액        65758 non-null  int64
 10  화요일_매출_금액        65758 non-null  int64
 11  수요일_매출_금액        65758 non-null  int64
 12  목요일_매출_금액        65758 non-null  int64
 13  금요일_매출_금액        65758 non-null  int64
 14  토요일_매출_금액        65758 non-null  int64
 15  일요일_매출_금액        65758 non-null  int64
 16  시간대_00~06_매출_금액  65758 non-null  int64
 17  시간대_06~11_매출_금액  65758 non-null  int64
 18  시간대_11~14_매출_금액  65758 non-null  int64
 19  시간대_14~17_매출_금액  65758 non-null  int64
 20  시간대_17~21_매출_금액  65758 non-null  int64
 21  시간대_21~24_매출_금액  65758 non-null  int64
 22  남성_매출_금액         65758 non-null  int64
 23  여성_매출_금액         65758 non-null  int64
 24  연령대_10_매출_금액     65758 non-null  int64
 25  연령대_20_매출_금액     65758 non-null  int64
 26  연령대_30_매출_금액     65758 non-null  int64
 27  연령대_40_매출_금액     65758 non-null  int64
 28  연령대_50_매출_금액     65758 non-null  int64
 29  연령대_60_이상_매출_금액  65758 non-null  int64
 30  주중_매출_건수         65758 non-null  int64
 31  주말_매출_건수         65758 non-null  int64
 32  월요일_매출_건수        65758 non-null  int64
 33  화요일_매출_건수        65758 non-null  int64
 34  수요일_매출_건수        65758 non-null  int64
 35  목요일_매출_건수        65758 non-null  int64
 36  금요일_매출_건수        65758 non-null  int64
 37  토요일_매출_건수        65758 non-null  int64
 38  일요일_매출_건수        65758 non-null  int64
 39  시간대_건수~06_매출_건수  65758 non-null  int64
 40  시간대_건수~11_매출_건수  65758 non-null  int64
 41  시간대_건수~14_매출_건수  65758 non-null  int64
 42  시간대_건수~17_매출_건수  65758 non-null  int64
 43  시간대_건수~21_매출_건수  65758 non-null  int64
 44  시간대_건수~24_매출_건수  65758 non-null  int64
 45  남성_매출_건수         65758 non-null  int64
 46  여성_매출_건수         65758 non-null  int64
 47  연령대_10_매출_건수     65758 non-null  int64
 48  연령대_20_매출_건수     65758 non-null  int64
 49  연령대_30_매출_건수     65758 non-null  int64
 50  연령대_40_매출_건수     65758 non-null  int64
 51  연령대_50_매출_건수     65758 non-null  int64
 52  연령대_60_이상_매출_건수  65758 non-null  int64
dtypes: int64(50), object(3)
memory usage: 26.6+ MB
년분기 갯수 :  4
업종명 갯수 :  63
행정동 갯수 :  422

In [25]:
col = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드_명',
       '당월_매출_금액', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

d19 = d19[col]

In [26]:
col_name = ['년분기', '행정동_코드', '행정동', '업종명', '월매출',
       '주중매출', '주말매출', '월요일', '화요일', '수요일','목요일', '금요일', '토요일', '일요일',
       '0006','0611', '1114', '1417', '1721', '2124',
       '남성', '여성',
       'Age_10', 'Age_20', 'Age_30', 'Age_40','Age_50', 'Age_60_to_end']

d19.columns = col_name

In [27]:
set_a = set(d19['행정동'])
set_b = set(dong['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'가락본동', '성북동', '신월2동', '석관동', '구산동', '독산2동', '중계본동', '상암동', '구의3동', '장위3동', '신촌동', '서교동', '정릉1동', '가산동', '충현동', '신정3동', '상봉1동', '고덕1동', '고척2동', '잠실6동', '청림동', '청룡동', '대학동', '수궁동', '영등포동', '시흥1동', '북가좌2동', '면목7동', '일원2동', '효창동', '인헌동', '하계1동', '종암동', '가양3동', '응암2동', '강일동', '수서동', '세곡동', '번2동', '행당2동', '위례동', '잠실7동', '조원동', '신정1동', '구로5동', '응암1동', '소공동', '구로4동', '문정2동', '불광1동', '가리봉동', '노량진1동', '개봉2동', '방배3동', '용신동', '사당1동', '상계1동', '수유2동', '신정4동', '필동', '신월1동', '암사2동', '마천1동', '보광동', '창신1동', '둔촌2동', '상도3동', '상계6·7동', '논현1동', '황학동', '창신3동', '송파2동', '월곡2동', '중화1동', '양평1동', '청담동', '성내3동', '성수1가2동', '수유3동', '일원1동', '난곡동', '답십리1동', '난향동', '상계8동', '석촌동', '양평2동', '반포4동', '암사1동', '역삼1동', '청량리동', '한강로동', '남영동', '하계2동', '화곡8동', '연남동', '삼성동', '반포1동', '낙성대동', '사직동', '면목2동', '돈암2동', '서초2동', '도곡1동', '무악동', '대림1동', '용산2가동', '연희동', '신정6동', '독산4동', '망원1동', '화곡2동', '문정1동', '삼각산동', '남가좌2동', '신길6동', '사당5동', '송정동', '자양4동', '신정2동', '회기동', '명동', '반포2동', '장안1동', '성산2동', '회현동', '구의1동', '청운효자동', '목4동', '혜화동', '상도1동', '일원본동', '중화2동', '정릉3동', '반포3동', '우이동', '대림3동', '도봉1동', '송중동', '상계10동', '목2동', '종로1·2·3·4가동', '대흥동', '휘경2동', '방배2동', '합정동', '성수1가1동', '길음1동', '신대방1동', '방화3동', '신길3동', '종로5·6가동', '개봉1동', '면목5동', '상일동', '중계1동', '마천2동', '잠실4동', '왕십리도선동', '화곡본동', '성내2동', '전농2동', '휘경1동', '구로2동', '쌍문4동', '번3동', '신림동', '송파1동', '원효로2동', '보문동', '서빙고동', '북가좌1동', '사당2동', '방이1동', '상계5동', '원효로1동', '월계3동', '신사2동', '중곡3동', '갈현1동', '장안2동', '돈암1동', '망원2동', '고덕2동', '이문2동', '마장동', '시흥2동', '교남동', '자양1동', '독산3동', '양재2동', '번1동', '창5동', '망우3동', '부암동', '대치4동', '신길5동', '화곡3동', '금호4가동', '이문1동', '화곡6동', '수색동', '독산1동', '목3동', '옥수동', '방화1동', '쌍문1동', '후암동', '신월7동', '영등포본동', '중계2·3동', '응암3동', '사당4동', '암사3동', '중곡4동', '대림2동', '역촌동', '신사동', '당산2동', '개포1동', '동화동', '삼양동', '등촌3동', '홍은1동', '남가좌1동', '정릉2동', '청구동', '장위1동', '홍제2동', '광장동', '진관동', '상도4동', '성내1동', '장위2동', '상도2동', '상봉2동', '신월4동', '제기동', '신도림동', '반포본동', '가양1동', '가락1동', '역삼2동', '중곡1동', '천호1동', '천연동', '용강동', '광희동', '우장산동', '거여1동', '잠원동', '방화2동', '시흥5동', '방배1동', '삼전동', '등촌2동', '길동', '내곡동', '신길4동', '오금동', '염리동', '풍납2동', '압구정동', '동선동', '문래동', '이화동', '군자동', '구로1동', '송천동', '염창동', '상계9동', '양재1동', '미성동', '금호2·3가동', '방이2동', '잠실2동', '가회동', '오류1동', '서강동', '불광2동', '망우본동', '다산동', '삼청동', '면목본동', '상계3·4동', '묵1동', '도림동', '신월6동', '서원동', '행운동', '용문동', '창2동', '삼선동', '장충동', '청파동', '거여2동', '용답동', '대치2동', '월계1동', '은천동', '길음2동', '도화동', '성수2가3동', '이촌2동', '창1동', '공릉2동', '중곡2동', '고척1동', '자양2동', '상계2동', '풍납1동', '방학3동', '시흥3동', '방배4동', '남현동', '화양동', '응봉동', '공릉1동', '방학2동', '홍제3동', '성현동', '신원동', '이촌1동', '행당1동', '숭인1동', '구로3동', '화곡1동', '당산1동', '삼성2동', '평창동', '묵2동', '여의동', '오륜동', '논현2동', '창신2동', '구의2동', '홍제1동', '을지로동', '전농1동', '능동', '천호3동', '신정7동', '명일2동', '인수동', '흑석동', '수유1동', '쌍문2동', '홍은2동', '이태원1동', '이태원2동', '신당5동', '사당3동', '미아동', '도봉2동', '가락2동', '대방동', '서림동', '서초4동', '신내2동', '성산1동', '왕십리2동', '안암동', '방학1동', '월곡1동', '도곡2동', '신월5동', '잠실3동', '창3동', '대치1동', '천호2동', '신내1동', '장지동', '신길1동', '중앙동', '노량진2동', '서초3동', '신월3동', '금호1가동', '목1동', '신당동', '명일1동', '성수2가1동', '등촌1동', '보라매동', '방배본동', '신사1동', '오류2동', '면목3·8동', '가양2동', '공덕동', '쌍문3동', '창4동', '중계4동', '신대방2동', '약수동', '증산동', '신수동', '화곡4동', '개봉3동', '목5동', '숭인2동', '녹번동', '개포4동', '답십리2동', '시흥4동', '정릉4동', '개포2동', '면목4동', '사근동', '중림동', '한남동', '자양3동', '서초1동', '잠실본동', '공항동', '신길7동', '삼성1동', '발산1동', '월계2동', '북아현동', '아현동', '대조동', '갈현2동'}

A에만 있는 값:
set()

B에만 있는 값:
{'둔촌1동', '관악구 신사동'}

In [28]:
d19.head()

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,월요일,화요일,수요일,...,1721,2124,남성,여성,Age_10,Age_20,Age_30,Age_40,Age_50,Age_60_to_end
0,20191,11380510,녹번동,당구장,37837940,24879147,12958793,5376153,4387609,4832074,...,13373480,15820584,34640238,3197702,1479378,2968887,3477600,15936064,13514727,461284
1,20191,11380510,녹번동,치과의원,238363333,173213042,65150291,50931757,34648962,31097732,...,12014976,0,139697818,98665515,0,10321026,20131067,75675283,51982082,80253875
2,20191,11380510,녹번동,의약품,1750598130,1557762166,192835964,236871971,516899171,200977646,...,232695240,41243260,1133582246,617015884,3062407,64270186,151200223,230476397,286273750,1015315167
3,20191,11380590,응암2동,당구장,5504385,4449552,1054833,1537907,537796,752914,...,1581308,1436008,4949607,430236,0,143412,479298,781219,2241758,1734155
4,20191,11380570,대조동,커피-음료,779058661,507363643,271695018,85425895,100997214,105099351,...,187016840,105794708,334216816,444841845,20022998,281797569,203094933,142216147,100546557,31380457

In [29]:
d19.loc[d19['행정동_코드'] == 11620685, '행정동'] = '관악구 신사동'

In [30]:
set_a = set(d19['행정동'])
set_b = set(dong['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'가락본동', '성북동', '신월2동', '석관동', '구산동', '독산2동', '중계본동', '상암동', '구의3동', '장위3동', '신촌동', '서교동', '정릉1동', '가산동', '충현동', '신정3동', '상봉1동', '고덕1동', '고척2동', '잠실6동', '청림동', '청룡동', '대학동', '수궁동', '영등포동', '시흥1동', '북가좌2동', '면목7동', '일원2동', '효창동', '인헌동', '하계1동', '종암동', '가양3동', '응암2동', '강일동', '수서동', '세곡동', '번2동', '행당2동', '위례동', '잠실7동', '조원동', '신정1동', '구로5동', '응암1동', '소공동', '구로4동', '문정2동', '불광1동', '가리봉동', '노량진1동', '개봉2동', '방배3동', '용신동', '사당1동', '상계1동', '수유2동', '신정4동', '필동', '신월1동', '암사2동', '마천1동', '보광동', '창신1동', '둔촌2동', '상도3동', '상계6·7동', '논현1동', '황학동', '창신3동', '송파2동', '월곡2동', '중화1동', '양평1동', '청담동', '성내3동', '성수1가2동', '수유3동', '일원1동', '난곡동', '답십리1동', '난향동', '상계8동', '석촌동', '양평2동', '반포4동', '암사1동', '역삼1동', '청량리동', '한강로동', '남영동', '하계2동', '화곡8동', '연남동', '삼성동', '반포1동', '낙성대동', '사직동', '면목2동', '돈암2동', '서초2동', '도곡1동', '무악동', '대림1동', '용산2가동', '연희동', '신정6동', '독산4동', '망원1동', '화곡2동', '문정1동', '삼각산동', '남가좌2동', '신길6동', '사당5동', '송정동', '자양4동', '신정2동', '회기동', '명동', '반포2동', '장안1동', '성산2동', '회현동', '구의1동', '청운효자동', '목4동', '혜화동', '상도1동', '일원본동', '중화2동', '정릉3동', '반포3동', '우이동', '대림3동', '도봉1동', '송중동', '상계10동', '목2동', '종로1·2·3·4가동', '대흥동', '휘경2동', '방배2동', '합정동', '성수1가1동', '길음1동', '신대방1동', '방화3동', '신길3동', '종로5·6가동', '개봉1동', '면목5동', '상일동', '중계1동', '마천2동', '잠실4동', '왕십리도선동', '화곡본동', '성내2동', '전농2동', '휘경1동', '구로2동', '쌍문4동', '번3동', '신림동', '송파1동', '원효로2동', '보문동', '서빙고동', '북가좌1동', '사당2동', '방이1동', '상계5동', '원효로1동', '월계3동', '신사2동', '중곡3동', '갈현1동', '장안2동', '돈암1동', '망원2동', '고덕2동', '이문2동', '마장동', '시흥2동', '교남동', '자양1동', '독산3동', '양재2동', '번1동', '창5동', '망우3동', '부암동', '대치4동', '신길5동', '화곡3동', '금호4가동', '이문1동', '화곡6동', '수색동', '독산1동', '목3동', '옥수동', '방화1동', '쌍문1동', '후암동', '신월7동', '영등포본동', '중계2·3동', '응암3동', '사당4동', '암사3동', '중곡4동', '대림2동', '역촌동', '신사동', '당산2동', '개포1동', '동화동', '삼양동', '등촌3동', '홍은1동', '남가좌1동', '정릉2동', '청구동', '장위1동', '홍제2동', '광장동', '진관동', '상도4동', '성내1동', '장위2동', '상도2동', '상봉2동', '신월4동', '제기동', '신도림동', '반포본동', '가양1동', '가락1동', '역삼2동', '중곡1동', '천호1동', '천연동', '용강동', '광희동', '우장산동', '거여1동', '잠원동', '방화2동', '시흥5동', '방배1동', '삼전동', '등촌2동', '길동', '내곡동', '신길4동', '오금동', '염리동', '풍납2동', '압구정동', '동선동', '문래동', '이화동', '군자동', '구로1동', '송천동', '염창동', '상계9동', '양재1동', '미성동', '금호2·3가동', '방이2동', '잠실2동', '가회동', '오류1동', '서강동', '불광2동', '망우본동', '다산동', '삼청동', '면목본동', '상계3·4동', '묵1동', '도림동', '신월6동', '서원동', '행운동', '용문동', '창2동', '삼선동', '장충동', '청파동', '거여2동', '용답동', '대치2동', '월계1동', '은천동', '길음2동', '도화동', '성수2가3동', '이촌2동', '창1동', '공릉2동', '중곡2동', '고척1동', '자양2동', '상계2동', '풍납1동', '방학3동', '시흥3동', '방배4동', '남현동', '화양동', '응봉동', '공릉1동', '방학2동', '홍제3동', '성현동', '신원동', '이촌1동', '행당1동', '숭인1동', '구로3동', '관악구 신사동', '화곡1동', '당산1동', '삼성2동', '평창동', '묵2동', '여의동', '오륜동', '논현2동', '창신2동', '구의2동', '홍제1동', '을지로동', '전농1동', '능동', '천호3동', '신정7동', '명일2동', '인수동', '흑석동', '수유1동', '쌍문2동', '홍은2동', '이태원1동', '이태원2동', '신당5동', '사당3동', '미아동', '도봉2동', '가락2동', '대방동', '서림동', '서초4동', '신내2동', '성산1동', '왕십리2동', '안암동', '방학1동', '월곡1동', '도곡2동', '신월5동', '잠실3동', '창3동', '대치1동', '천호2동', '신내1동', '장지동', '신길1동', '중앙동', '노량진2동', '서초3동', '신월3동', '금호1가동', '목1동', '신당동', '명일1동', '성수2가1동', '등촌1동', '보라매동', '방배본동', '신사1동', '오류2동', '면목3·8동', '가양2동', '공덕동', '쌍문3동', '창4동', '중계4동', '신대방2동', '약수동', '증산동', '신수동', '화곡4동', '개봉3동', '목5동', '숭인2동', '녹번동', '개포4동', '답십리2동', '시흥4동', '정릉4동', '개포2동', '면목4동', '사근동', '중림동', '한남동', '자양3동', '서초1동', '잠실본동', '공항동', '신길7동', '삼성1동', '발산1동', '월계2동', '북아현동', '아현동', '대조동', '갈현2동'}

A에만 있는 값:
set()

B에만 있는 값:
{'둔촌1동'}

In [31]:
dong_check = d19[d19['행정동'].str.contains('^둔촌', na=False)]
dong_check['행정동'].unique()

array(['둔촌2동'], dtype=object)