데이터 확인 및 전처리<br>
데이터 저장 컬럼 주석처리

In [33]:
import pandas as pd

In [34]:
dong = pd.read_csv(r'D:\Work\project\project2\oos\data\거주인구\Resident_Population_Dong423.csv')

data = pd.read_csv('sales_2021.csv')

In [35]:
data.info()
print('년분기 갯수 : ', data['기준_년분기_코드'].nunique())
print('업종명 갯수 : ', data['서비스_업종_코드_명'].nunique())
print('행정동 갯수 : ', data['행정동_코드_명'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67111 entries, 0 to 67110
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        67111 non-null  int64
 1   행정동_코드           67111 non-null  int64
 2   행정동_코드_명         67111 non-null  object
 3   서비스_업종_코드        67111 non-null  object
 4   서비스_업종_코드_명      67111 non-null  object
 5   당월_매출_금액         67111 non-null  int64
 6   당월_매출_건수         67111 non-null  int64
 7   주중_매출_금액         67111 non-null  int64
 8   주말_매출_금액         67111 non-null  int64
 9   월요일_매출_금액        67111 non-null  int64
 10  화요일_매출_금액        67111 non-null  int64
 11  수요일_매출_금액        67111 non-null  int64
 12  목요일_매출_금액        67111 non-null  int64
 13  금요일_매출_금액        67111 non-null  int64
 14  토요일_매출_금액        67111 non-null  int64
 15  일요일_매출_금액        67111 non-null  int64
 16  시간대_00~06_매출_금액  67111 non-null  int64
 17  시간대_06~11_매출_금액  67111 non-null  int64
 18  시간대_11~14_매출_금액  67111 non-null  int64
 19  시간대_14~17_매출_금액  67111 non-null  int64
 20  시간대_17~21_매출_금액  67111 non-null  int64
 21  시간대_21~24_매출_금액  67111 non-null  int64
 22  남성_매출_금액         67111 non-null  int64
 23  여성_매출_금액         67111 non-null  int64
 24  연령대_10_매출_금액     67111 non-null  int64
 25  연령대_20_매출_금액     67111 non-null  int64
 26  연령대_30_매출_금액     67111 non-null  int64
 27  연령대_40_매출_금액     67111 non-null  int64
 28  연령대_50_매출_금액     67111 non-null  int64
 29  연령대_60_이상_매출_금액  67111 non-null  int64
 30  주중_매출_건수         67111 non-null  int64
 31  주말_매출_건수         67111 non-null  int64
 32  월요일_매출_건수        67111 non-null  int64
 33  화요일_매출_건수        67111 non-null  int64
 34  수요일_매출_건수        67111 non-null  int64
 35  목요일_매출_건수        67111 non-null  int64
 36  금요일_매출_건수        67111 non-null  int64
 37  토요일_매출_건수        67111 non-null  int64
 38  일요일_매출_건수        67111 non-null  int64
 39  시간대_건수~06_매출_건수  67111 non-null  int64
 40  시간대_건수~11_매출_건수  67111 non-null  int64
 41  시간대_건수~14_매출_건수  67111 non-null  int64
 42  시간대_건수~17_매출_건수  67111 non-null  int64
 43  시간대_건수~21_매출_건수  67111 non-null  int64
 44  시간대_건수~24_매출_건수  67111 non-null  int64
 45  남성_매출_건수         67111 non-null  int64
 46  여성_매출_건수         67111 non-null  int64
 47  연령대_10_매출_건수     67111 non-null  int64
 48  연령대_20_매출_건수     67111 non-null  int64
 49  연령대_30_매출_건수     67111 non-null  int64
 50  연령대_40_매출_건수     67111 non-null  int64
 51  연령대_50_매출_건수     67111 non-null  int64
 52  연령대_60_이상_매출_건수  67111 non-null  int64
dtypes: int64(50), object(3)
memory usage: 27.1+ MB
년분기 갯수 :  4
업종명 갯수 :  63
행정동 갯수 :  422

In [36]:
col = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드_명',
       '당월_매출_금액', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

data = data[col]

In [37]:
col_name = ['년분기', '행정동_코드', '행정동', '업종명', '월매출',
       '주중매출', '주말매출', '월요일', '화요일', '수요일','목요일', '금요일', '토요일', '일요일',
       '0006','0611', '1114', '1417', '1721', '2124',
       '남성', '여성',
       'Age_10', 'Age_20', 'Age_30', 'Age_40','Age_50', 'Age_60_to_end']

data.columns = col_name

In [38]:
data.loc[data['행정동_코드'] == 11620685, '행정동'] = '관악구 신사동'

In [39]:
set_a = set(data['행정동'])
set_b = set(dong['행정동'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'잠실6동', '청량리동', '월계2동', '용답동', '정릉3동', '천호3동', '신길6동', '창5동', '신정1동', '방학1동', '중화1동', '송정동', '암사3동', '성산2동', '상계9동', '구의2동', '자양4동', '신사2동', '전농1동', '진관동', '화양동', '고척2동', '청구동', '신길1동', '독산3동', '거여1동', '고덕2동', '신대방1동', '염리동', '망원2동', '연남동', '대방동', '용신동', '상계10동', '용강동', '방배3동', '화곡본동', '암사1동', '석촌동', '청파동', '홍제3동', '가리봉동', '조원동', '발산1동', '갈현1동', '도곡1동', '송파2동', '정릉2동', '면목2동', '사당5동', '대조동', '상계3·4동', '휘경1동', '자양1동', '일원본동', '도봉1동', '신원동', '역촌동', '송중동', '묵1동', '서초2동', '청림동', '은천동', '중계2·3동', '번3동', '동선동', '종암동', '방배4동', '행운동', '신월5동', '다산동', '번2동', '화곡6동', '마장동', '난향동', '중곡2동', '돈암2동', '갈현2동', '방배1동', '상일동', '황학동', '신정6동', '삼성2동', '창신1동', '중계1동', '압구정동', '불광1동', '이촌1동', '성내1동', '성수2가3동', '상도4동', '쌍문2동', '송파1동', '가락1동', '창2동', '시흥5동', '신정7동', '우장산동', '이태원1동', '잠실4동', '평창동', '낙성대동', '일원1동', '구의3동', '청룡동', '행당1동', '합정동', '둔촌2동', '공항동', '자양2동', '능동', '광희동', '신도림동', '중곡3동', '보라매동', '신길7동', '후암동', '월곡2동', '화곡4동', '사직동', '개봉3동', '용문동', '개봉2동', '불광2동', '신촌동', '논현1동', '양재1동', '미아동', '반포2동', '신당동', '신정2동', '당산1동', '이화동', '시흥1동', '역삼1동', '중화2동', '수궁동', '구의1동', '삼청동', '신사1동', '홍은1동', '창신2동', '남가좌1동', '성산1동', '방배2동', '성현동', '방학3동', '장안1동', '홍은2동', '홍제1동', '장위3동', '교남동', '삼전동', '장지동', '대림1동', '보광동', '시흥2동', '한남동', '번1동', '북가좌1동', '천연동', '왕십리2동', '신길5동', '천호1동', '신당5동', '상계5동', '장위1동', '중림동', '삼선동', '명동', '종로5·6가동', '신내2동', '방배본동', '서초4동', '상계2동', '화곡3동', '쌍문4동', '면목3·8동', '방화1동', '월곡1동', '공릉1동', '목5동', '이태원2동', '양평1동', '염창동', '휘경2동', '목3동', '시흥3동', '미성동', '묵2동', '마천1동', '방이2동', '신월7동', '장안2동', '오류2동', '종로1·2·3·4가동', '수서동', '청담동', '가회동', '숭인1동', '서원동', '일원2동', '문정2동', '중곡1동', '상계1동', '석관동', '성수1가1동', '삼각산동', '개포2동', '대치4동', '면목4동', '정릉1동', '금호1가동', '연희동', '창1동', '송천동', '상도3동', '필동', '잠원동', '삼성1동', '월계3동', '녹번동', '내곡동', '장충동', '논현2동', '마천2동', '반포1동', '오류1동', '인헌동', '쌍문3동', '사당4동', '방화2동', '부암동', '풍납2동', '광장동', '문래동', '성수2가1동', '잠실7동', '문정1동', '인수동', '우이동', '중앙동', '신길4동', '신내1동', '화곡2동', '독산2동', '남가좌2동', '방이1동', '도곡2동', '양재2동', '가산동', '정릉4동', '대치1동', '원효로1동', '면목5동', '자양3동', '면목7동', '하계2동', '천호2동', '가락본동', '증산동', '목2동', '효창동', '난곡동', '독산1동', '왕십리도선동', '홍제2동', '화곡1동', '성수1가2동', '서림동', '개봉1동', '잠실본동', '화곡8동', '신대방2동', '구로3동', '상계8동', '사당2동', '이촌2동', '개포1동', '수유1동', '역삼2동', '신월6동', '구산동', '상봉1동', '공덕동', '사당3동', '하계1동', '전농2동', '반포3동', '회현동', '서빙고동', '신림동', '수유2동', '신월2동', '오륜동', '반포본동', '신길3동', '충현동', '시흥4동', '고덕1동', '사근동', '군자동', '아현동', '신수동', '창신3동', '성내2동', '안암동', '공릉2동', '대치2동', '망우본동', '응암2동', '가양1동', '도림동', '대학동', '응봉동', '보문동', '노량진1동', '창4동', '답십리1동', '신월1동', '영등포동', '강일동', '길음1동', '목4동', '서교동', '상암동', '수색동', '신월4동', '반포4동', '무악동', '구로5동', '장위2동', '가양3동', '삼성동', '숭인2동', '길음2동', '개포4동', '이문1동', '원효로2동', '성내3동', '행당2동', '망원1동', '서초1동', '대흥동', '거여2동', '상계6·7동', '구로4동', '양평2동', '상도1동', '관악구 신사동', '신정3동', '흑석동', '중곡4동', '가락2동', '등촌1동', '소공동', '북가좌2동', '잠실3동', '수유3동', '도봉2동', '사당1동', '답십리2동', '중계본동', '명일2동', '회기동', '북아현동', '방학2동', '중계4동', '대림3동', '쌍문1동', '옥수동', '독산4동', '가양2동', '풍납1동', '위례동', '고척1동', '성북동', '서강동', '혜화동', '창3동', '삼양동', '노량진2동', '청운효자동', '월계1동', '방화3동', '상봉2동', '신사동', '등촌3동', '도화동', '오금동', '당산2동', '명일1동', '이문2동', '서초3동', '영등포본동', '구로1동', '제기동', '한강로동', '금호2·3가동', '상도2동', '돈암1동', '금호4가동', '남영동', '세곡동', '구로2동', '면목본동', '용산2가동', '남현동', '응암1동', '망우3동', '대림2동', '암사2동', '등촌2동', '을지로동', '길동', '여의동', '동화동', '신정4동', '목1동', '약수동', '응암3동', '신월3동', '잠실2동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [40]:
data.info()
print('년분기 갯수 : ', data['년분기'].nunique())
print('업종명 갯수 : ', data['업종명'].nunique())
print('행정동 갯수 : ', data['행정동'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67111 entries, 0 to 67110
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년분기            67111 non-null  int64
 1   행정동_코드         67111 non-null  int64
 2   행정동            67111 non-null  object
 3   업종명            67111 non-null  object
 4   월매출            67111 non-null  int64
 5   주중매출           67111 non-null  int64
 6   주말매출           67111 non-null  int64
 7   월요일            67111 non-null  int64
 8   화요일            67111 non-null  int64
 9   수요일            67111 non-null  int64
 10  목요일            67111 non-null  int64
 11  금요일            67111 non-null  int64
 12  토요일            67111 non-null  int64
 13  일요일            67111 non-null  int64
 14  0006           67111 non-null  int64
 15  0611           67111 non-null  int64
 16  1114           67111 non-null  int64
 17  1417           67111 non-null  int64
 18  1721           67111 non-null  int64
 19  2124           67111 non-null  int64
 20  남성             67111 non-null  int64
 21  여성             67111 non-null  int64
 22  Age_10         67111 non-null  int64
 23  Age_20         67111 non-null  int64
 24  Age_30         67111 non-null  int64
 25  Age_40         67111 non-null  int64
 26  Age_50         67111 non-null  int64
 27  Age_60_to_end  67111 non-null  int64
dtypes: int64(26), object(2)
memory usage: 14.3+ MB
년분기 갯수 :  4
업종명 갯수 :  63
행정동 갯수 :  423

In [ ]:
#data.to_csv('Cleaned_Sales_data_2021.csv',index=False)