In [ ]:
import requests
import pandas as pd

# API 요청
service_key = "6358685a596f6f733537545a697265"
url = f'http://openapi.seoul.go.kr:8088/{service_key}/json/citydata_cmrcl/1/1/광화문·덕수궁'

response = requests.get(url)

# 응답 상태 확인 및 데이터 처리
if response.status_code == 200:
    data = response.json()
    
    # 'CMRCL_RSB' 데이터를 DataFrame으로 변환
    df = pd.DataFrame(data['LIVE_CMRCL_STTS']['CMRCL_RSB'])
    
else:
    print(f"Error: {response.status_code}")

In [7]:
df

,RSB_LRG_CTGR,RSB_MID_CTGR,RSB_PAYMENT_LVL,RSB_SH_PAYMENT_CNT,RSB_SH_PAYMENT_AMT_MIN,RSB_SH_PAYMENT_AMT_MAX,RSB_MCT_CNT,RSB_MCT_TIME
0,음식·음료,한식,한산한,17,200000,250000,368,202410
1,음식·음료,일식/중식/양식,한산한,9,200000,250000,162,202410
2,음식·음료,제과/커피/패스트푸드,바쁜,26,300000,350000,97,202410
3,음식·음료,기타요식,보통,26,400000,450000,325,202410
4,유통,할인점/슈퍼마켓,한산한,6,50000,60000,16,202410
5,유통,편의점,보통,36,100000,150000,40,202410
6,여가·오락,스포츠/문화/레저,한산한,25,650000,700000,73,202410
7,의료,병원,한산한,5,100000,150000,103,202410
8,의료,약국,바쁜,12,100000,150000,24,202410