In [103]:
import pandas as pd

거주인구데이터

In [104]:
resident = pd.read_csv("Resident_Population_Dong423.csv")
store = pd.read_csv("Sorted_Number_of_Stores_v1.2.csv")
sales = pd.read_csv(r"data\매출액\Merged_Sales_data.csv")

In [105]:
resident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동     423 non-null    object
 1   20191   423 non-null    int64
 2   20192   423 non-null    int64
 3   20193   423 non-null    int64
 4   20194   423 non-null    int64
 5   20201   423 non-null    int64
 6   20202   423 non-null    int64
 7   20203   423 non-null    int64
 8   20204   423 non-null    int64
 9   20211   423 non-null    int64
 10  20212   423 non-null    int64
 11  20213   423 non-null    int64
 12  20214   423 non-null    int64
 13  20221   423 non-null    int64
 14  20222   423 non-null    int64
 15  20223   423 non-null    int64
 16  20224   423 non-null    int64
 17  20231   423 non-null    int64
 18  20232   423 non-null    int64
 19  20233   423 non-null    int64
 20  20234   423 non-null    int64
 21  20241   423 non-null    int64
 22  20242   423 non-null    int64
dtypes: int64(22), object(1)
memory usage: 76.1+ KB

In [106]:
store.info(), store['행정동'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558742 entries, 0 to 558741
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     558742 non-null  int64
 1   행정동     558742 non-null  object
 2   업종명     558742 non-null  object
 3   점포_수    558742 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.1+ MB

(None, 423)

In [107]:
def Data_Comparison(a, b, c):
    """a = 데이터A
       b = 데이터B
       c = 비교할컬럼
    """
    set_a = set(a[c])
    set_b = set(b[c])
    common_values = set_a & set_b  # A와 B에 모두 있는 값
    only_in_a = set_a - set_b  # A에만 있는 값
    only_in_b = set_b - set_a  # B에만 있는 값

    # 결과 출력
    print("A와 B에 모두 있는 값:")
    print(common_values)

    print("\nA에만 있는 값:")
    print(only_in_a)

    print("\nB에만 있는 값:")
    print(only_in_b)

In [108]:
Data_Comparison(resident, store, '행정동')

A와 B에 모두 있는 값:
{'목3동', '등촌3동', '갈현2동', '중계2·3동', '금호2·3가동', '염리동', '상도1동', '수서동', '전농1동', '일원1동', '내곡동', '대림2동', '중곡3동', '광장동', '한남동', '망우3동', '신사2동', '북아현동', '개봉3동', '서초1동', '장위1동', '무악동', '가락2동', '성북동', '상계9동', '용신동', '청담동', '당산2동', '왕십리2동', '금호1가동', '신정4동', '신월5동', '화곡6동', '신사1동', '아현동', '장지동', '사당5동', '송천동', '독산4동', '구의1동', '종로5·6가동', '목5동', '월계1동', '쌍문2동', '상암동', '면목3·8동', '홍제1동', '반포2동', '수유3동', '혜화동', '면목5동', '가회동', '응암2동', '중앙동', '행당1동', '길음1동', '금호4가동', '공릉1동', '망원2동', '잠실본동', '가양2동', '가양1동', '북가좌2동', '가리봉동', '창1동', '용문동', '보문동', '여의동', '평창동', '행당2동', '월곡2동', '일원2동', '우이동', '성수1가1동', '화곡본동', '상봉2동', '상계2동', '삼전동', '이태원1동', '방배본동', '화곡1동', '방배4동', '상도4동', '신월2동', '서원동', '신사동', '반포3동', '당산1동', '연희동', '문정2동', '신당동', '이촌2동', '역삼1동', '명일2동', '군자동', '휘경2동', '목1동', '망우본동', '중화2동', '성수2가3동', '쌍문1동', '서초4동', '월곡1동', '이태원2동', '수궁동', '풍납2동', '남가좌1동', '상계10동', '상일동', '삼선동', '월계2동', '잠실7동', '중림동', '우장산동', '송파2동', '월계3동', '자양2동', '양평1동', '휘경1동', '불광1동', '서초2동', '남가좌2동', '효창동', '신림동', '화양동', '천호3동', '인수동', '동선동', '양재2동', '응봉동', '정릉2동', '쌍문3동', '도곡2동', '구의2동', '청파동', '미성동', '중곡4동', '수유1동', '방배3동', '번1동', '소공동', '연남동', '응암3동', '신수동', '염창동', '풍납1동', '동화동', '구로1동', '상계5동', '낙성대동', '잠실4동', '방학3동', '청룡동', '방이2동', '시흥4동', '홍제2동', '사당3동', '흑석동', '공항동', '장안2동', '도화동', '하계2동', '신대방2동', '가산동', '위례동', '오류1동', '천호1동', '창5동', '쌍문4동', '대림1동', '반포4동', '대조동', '서강동', '가락본동', '잠실6동', '성산1동', '신길5동', '신길1동', '불광2동', '사근동', '방화2동', '돈암1동', '오금동', '성수2가1동', '안암동', '장위3동', '돈암2동', '홍제3동', '신정6동', '을지로동', '대흥동', '거여1동', '대치1동', '서초3동', '보라매동', '양평2동', '개봉2동', '청운효자동', '개봉1동', '잠실2동', '성수1가2동', '중계본동', '강일동', '신월4동', '성현동', '노량진2동', '대학동', '남현동', '창3동', '성내2동', '독산3동', '도림동', '자양4동', '삼청동', '진관동', '광희동', '신길6동', '논현1동', '화곡3동', '신길3동', '일원본동', '회현동', '대치2동', '신월3동', '수유2동', '문래동', '사당1동', '번3동', '후암동', '중곡2동', '부암동', '용강동', '회기동', '상계3·4동', '삼성2동', '잠실3동', '화곡4동', '전농2동', '녹번동', '면목2동', '도봉1동', '시흥2동', '상봉1동', '역촌동', '창신2동', '묵1동', '이문2동', '수색동', '구로4동', '둔촌2동', '대림3동', '고척2동', '마장동', '암사2동', '상도3동', '고덕1동', '시흥5동', '옥수동', '오륜동', '용산2가동', '문정1동', '보광동', '신원동', '삼성1동', '노량진1동', '길음2동', '신월7동', '상계6·7동', '신길7동', '성내3동', '청림동', '서교동', '면목본동', '답십리2동', '은천동', '마천1동', '방이1동', '자양1동', '구로3동', '고덕2동', '송중동', '상도2동', '제기동', '사당4동', '자양3동', '이화동', '약수동', '석관동', '신촌동', '중화1동', '방학1동', '인헌동', '도봉2동', '번2동', '구산동', '충현동', '가락1동', '삼각산동', '정릉3동', '합정동', '개포4동', '정릉1동', '창4동', '홍은2동', '도곡1동', '신월6동', '청량리동', '독산2동', '오류2동', '미아동', '원효로2동', '면목4동', '장안1동', '양재1동', '반포1동', '가양3동', '목4동', '방배1동', '구로2동', '신월1동', '신길4동', '길동', '신내1동', '공덕동', '중곡1동', '구의3동', '반포본동', '청구동', '잠원동', '이촌1동', '거여2동', '영등포본동', '창신1동', '숭인1동', '신정7동', '개포1동', '행운동', '조원동', '북가좌1동', '대방동', '공릉2동', '방화3동', '화곡8동', '석촌동', '신내2동', '면목7동', '역삼2동', '창2동', '묵2동', '대치4동', '다산동', '왕십리도선동', '암사1동', '난곡동', '마천2동', '삼성동', '명일1동', '구로5동', '천연동', '명동', '종암동', '송파1동', '상계1동', '교남동', '암사3동', '천호2동', '시흥3동', '방학2동', '남영동', '종로1·2·3·4가동', '사직동', '장충동', '신당5동', '신도림동', '등촌1동', '신정2동', '신정3동', '화곡2동', '사당2동', '한강로동', '능동', '이문1동', '상계8동', '개포2동', '홍은1동', '목2동', '답십리1동', '신대방1동', '중계1동', '원효로1동', '갈현1동', '숭인2동', '등촌2동', '시흥1동', '관악구 신사동', '방화1동', '방배2동', '서빙고동', '고척1동', '서림동', '하계1동', '논현2동', '성산2동', '압구정동', '난향동', '독산1동', '삼양동', '장위2동', '세곡동', '창신3동', '응암1동', '용답동', '중계4동', '영등포동', '증산동', '황학동', '정릉4동', '성내1동', '신정1동', '발산1동', '송정동', '망원1동', '필동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [109]:
Data_Comparison(sales, store, '행정동')

A와 B에 모두 있는 값:
{'목3동', '등촌3동', '갈현2동', '중계2·3동', '금호2·3가동', '염리동', '상도1동', '수서동', '전농1동', '일원1동', '내곡동', '대림2동', '중곡3동', '광장동', '한남동', '망우3동', '신사2동', '북아현동', '개봉3동', '서초1동', '장위1동', '무악동', '가락2동', '성북동', '상계9동', '용신동', '청담동', '당산2동', '왕십리2동', '금호1가동', '신정4동', '신월5동', '화곡6동', '신사1동', '아현동', '장지동', '사당5동', '송천동', '독산4동', '구의1동', '종로5·6가동', '목5동', '월계1동', '쌍문2동', '상암동', '면목3·8동', '홍제1동', '반포2동', '수유3동', '혜화동', '면목5동', '가회동', '응암2동', '중앙동', '행당1동', '길음1동', '금호4가동', '공릉1동', '망원2동', '잠실본동', '가양2동', '가양1동', '북가좌2동', '가리봉동', '창1동', '용문동', '보문동', '여의동', '평창동', '행당2동', '월곡2동', '일원2동', '우이동', '성수1가1동', '화곡본동', '상봉2동', '상계2동', '삼전동', '이태원1동', '방배본동', '화곡1동', '방배4동', '상도4동', '신월2동', '서원동', '신사동', '반포3동', '당산1동', '연희동', '문정2동', '신당동', '이촌2동', '역삼1동', '명일2동', '군자동', '휘경2동', '목1동', '망우본동', '중화2동', '성수2가3동', '쌍문1동', '서초4동', '월곡1동', '이태원2동', '수궁동', '풍납2동', '남가좌1동', '상계10동', '상일동', '삼선동', '월계2동', '잠실7동', '중림동', '우장산동', '송파2동', '월계3동', '자양2동', '양평1동', '휘경1동', '불광1동', '서초2동', '남가좌2동', '효창동', '신림동', '화양동', '천호3동', '인수동', '동선동', '양재2동', '응봉동', '정릉2동', '쌍문3동', '도곡2동', '구의2동', '청파동', '미성동', '중곡4동', '수유1동', '방배3동', '번1동', '소공동', '연남동', '응암3동', '신수동', '염창동', '풍납1동', '동화동', '구로1동', '상계5동', '낙성대동', '잠실4동', '방학3동', '청룡동', '방이2동', '시흥4동', '홍제2동', '사당3동', '흑석동', '공항동', '장안2동', '도화동', '하계2동', '신대방2동', '가산동', '위례동', '오류1동', '천호1동', '창5동', '쌍문4동', '대림1동', '반포4동', '대조동', '서강동', '가락본동', '잠실6동', '성산1동', '신길5동', '신길1동', '불광2동', '사근동', '방화2동', '돈암1동', '오금동', '성수2가1동', '안암동', '장위3동', '돈암2동', '홍제3동', '신정6동', '을지로동', '대흥동', '거여1동', '대치1동', '서초3동', '보라매동', '양평2동', '개봉2동', '청운효자동', '개봉1동', '잠실2동', '성수1가2동', '중계본동', '강일동', '신월4동', '성현동', '노량진2동', '대학동', '남현동', '창3동', '성내2동', '독산3동', '도림동', '자양4동', '삼청동', '진관동', '광희동', '신길6동', '논현1동', '화곡3동', '신길3동', '일원본동', '회현동', '대치2동', '신월3동', '수유2동', '문래동', '사당1동', '번3동', '후암동', '중곡2동', '부암동', '용강동', '회기동', '상계3·4동', '삼성2동', '잠실3동', '화곡4동', '전농2동', '녹번동', '면목2동', '도봉1동', '시흥2동', '상봉1동', '역촌동', '창신2동', '묵1동', '이문2동', '수색동', '구로4동', '둔촌2동', '대림3동', '고척2동', '마장동', '암사2동', '상도3동', '고덕1동', '시흥5동', '옥수동', '오륜동', '용산2가동', '문정1동', '보광동', '신원동', '삼성1동', '노량진1동', '길음2동', '신월7동', '상계6·7동', '신길7동', '성내3동', '청림동', '서교동', '면목본동', '답십리2동', '은천동', '마천1동', '방이1동', '자양1동', '구로3동', '고덕2동', '송중동', '상도2동', '제기동', '사당4동', '자양3동', '이화동', '약수동', '석관동', '신촌동', '중화1동', '방학1동', '인헌동', '도봉2동', '번2동', '구산동', '충현동', '가락1동', '삼각산동', '정릉3동', '합정동', '개포4동', '정릉1동', '창4동', '홍은2동', '도곡1동', '신월6동', '청량리동', '독산2동', '오류2동', '미아동', '원효로2동', '면목4동', '장안1동', '양재1동', '반포1동', '가양3동', '목4동', '방배1동', '구로2동', '신월1동', '신길4동', '길동', '신내1동', '공덕동', '중곡1동', '구의3동', '반포본동', '청구동', '잠원동', '이촌1동', '거여2동', '영등포본동', '창신1동', '숭인1동', '신정7동', '개포1동', '행운동', '조원동', '북가좌1동', '대방동', '공릉2동', '방화3동', '화곡8동', '석촌동', '신내2동', '면목7동', '역삼2동', '창2동', '묵2동', '대치4동', '다산동', '왕십리도선동', '암사1동', '난곡동', '마천2동', '삼성동', '명일1동', '구로5동', '천연동', '명동', '종암동', '송파1동', '상계1동', '교남동', '암사3동', '천호2동', '시흥3동', '방학2동', '남영동', '종로1·2·3·4가동', '사직동', '장충동', '신당5동', '신도림동', '등촌1동', '신정2동', '신정3동', '화곡2동', '사당2동', '한강로동', '능동', '이문1동', '상계8동', '개포2동', '홍은1동', '목2동', '답십리1동', '신대방1동', '중계1동', '원효로1동', '갈현1동', '숭인2동', '등촌2동', '시흥1동', '관악구 신사동', '방화1동', '방배2동', '서빙고동', '고척1동', '서림동', '하계1동', '논현2동', '성산2동', '압구정동', '난향동', '독산1동', '삼양동', '장위2동', '세곡동', '창신3동', '응암1동', '용답동', '중계4동', '영등포동', '증산동', '황학동', '정릉4동', '성내1동', '신정1동', '발산1동', '송정동', '망원1동', '필동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [110]:
Data_Comparison(sales, store, '년분기')

A와 B에 모두 있는 값:
{20224, 20231, 20232, 20233, 20234, 20241, 20242, 20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [111]:
Data_Comparison(sales, store, '업종명')

A와 B에 모두 있는 값:
{'부동산중개업', '슈퍼마켓', '일반의류', '신발', '화장품', '네일숍', '화초', '컴퓨터및주변장치판매', '치과의원', '예술학원', '한식음식점', '세탁소', '운동/경기용품', '골프연습장', '전자상거래업', '자동차미용', '안경', '호프-간이주점', '당구장', '미곡판매', '중식음식점', '미용실', '핸드폰', '일반교습학원', '육류판매', '노래방', '제과점', '가구', '편의점', '시계및귀금속', '일식음식점', '서적', '애완동물', '가전제품수리', '스포츠 강습', '피부관리실', '의료기기', '섬유제품', '자전거 및 기타운송장비', '완구', '고시원', '양식음식점', '스포츠클럽', '문구', '분식전문점', '의약품', 'PC방', '가전제품', '일반의원', '철물점', '가방', '인테리어', '패스트푸드점', '청과상', '커피-음료', '외국어학원', '여관', '한의원', '자동차수리', '수산물판매', '치킨전문점', '반찬가게', '조명용품'}

A에만 있는 값:
set()

B에만 있는 값:
set()

<h1>데이터 병합 (거주인구 + 매출)</h1>

In [112]:
residenth = resident.melt(
    id_vars=["행정동"], var_name="년분기", value_name="인구수"
)

In [ ]:
residenth["년분기"] = residenth["년분기"].astype(int)
sales["년분기"] = sales["년분기"].astype(int)

In [114]:
residenth[residenth['행정동'] == "가락1동"][:3]

      행정동    년분기    인구수
0    가락1동  20191  20186
423  가락1동  20192  26063
846  가락1동  20193  27207

In [115]:
residenth_sales = sales.merge( residenth, how="left", on=["행정동", "년분기"] )

In [116]:
residenth_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368339 entries, 0 to 368338
Data columns (total 29 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   년분기            368339 non-null  int64
 1   행정동_코드         368339 non-null  int64
 2   행정동            368339 non-null  object
 3   업종명            368339 non-null  object
 4   월매출            368339 non-null  int64
 5   주중매출           368339 non-null  int64
 6   주말매출           368339 non-null  int64
 7   월요일            368339 non-null  int64
 8   화요일            368339 non-null  int64
 9   수요일            368339 non-null  int64
 10  목요일            368339 non-null  int64
 11  금요일            368339 non-null  int64
 12  토요일            368339 non-null  int64
 13  일요일            368339 non-null  int64
 14  0006           368339 non-null  int64
 15  0611           368339 non-null  int64
 16  1114           368339 non-null  int64
 17  1417           368339 non-null  int64
 18  1721           368339 non-null  int64
 19  2124           368339 non-null  int64
 20  남성             368339 non-null  int64
 21  여성             368339 non-null  int64
 22  Age_10         368339 non-null  int64
 23  Age_20         368339 non-null  int64
 24  Age_30         368339 non-null  int64
 25  Age_40         368339 non-null  int64
 26  Age_50         368339 non-null  int64
 27  Age_60_to_end  368339 non-null  int64
 28  인구수            368339 non-null  int64
dtypes: int64(27), object(2)
memory usage: 81.5+ MB

In [117]:
a = residenth_sales[residenth_sales['행정동'] == "관악구 신사동"]
a.head(1)

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,월요일,화요일,수요일,...,2124,남성,여성,Age_10,Age_20,Age_30,Age_40,Age_50,Age_60_to_end,인구수
295,20191,11620685,관악구 신사동,인테리어,14987007,14987007,0,0,0,0,...,0,2702575,12284432,0,0,12284432,0,2702575,0,17761

<h1>파일병합 (residenth_sales + store)</h1>

In [ ]:
store["년분기"] = store["년분기"].astype(int)

In [119]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558742 entries, 0 to 558741
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     558742 non-null  int64
 1   행정동     558742 non-null  object
 2   업종명     558742 non-null  object
 3   점포_수    558742 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.1+ MB

In [120]:
residenth_sales_store = residenth_sales.merge( store, how="left", on=["행정동", "년분기", "업종명"] )

In [121]:
residenth_sales_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369095 entries, 0 to 369094
Data columns (total 30 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   년분기            369095 non-null  int64
 1   행정동_코드         369095 non-null  int64
 2   행정동            369095 non-null  object
 3   업종명            369095 non-null  object
 4   월매출            369095 non-null  int64
 5   주중매출           369095 non-null  int64
 6   주말매출           369095 non-null  int64
 7   월요일            369095 non-null  int64
 8   화요일            369095 non-null  int64
 9   수요일            369095 non-null  int64
 10  목요일            369095 non-null  int64
 11  금요일            369095 non-null  int64
 12  토요일            369095 non-null  int64
 13  일요일            369095 non-null  int64
 14  0006           369095 non-null  int64
 15  0611           369095 non-null  int64
 16  1114           369095 non-null  int64
 17  1417           369095 non-null  int64
 18  1721           369095 non-null  int64
 19  2124           369095 non-null  int64
 20  남성             369095 non-null  int64
 21  여성             369095 non-null  int64
 22  Age_10         369095 non-null  int64
 23  Age_20         369095 non-null  int64
 24  Age_30         369095 non-null  int64
 25  Age_40         369095 non-null  int64
 26  Age_50         369095 non-null  int64
 27  Age_60_to_end  369095 non-null  int64
 28  인구수            369095 non-null  int64
 29  점포_수           369095 non-null  int64
dtypes: int64(28), object(2)
memory usage: 84.5+ MB

In [124]:
a = residenth_sales_store[residenth_sales_store['행정동'] == "관악구 신사동"]
a.head(1)

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,월요일,화요일,수요일,...,남성,여성,Age_10,Age_20,Age_30,Age_40,Age_50,Age_60_to_end,인구수,점포_수
295,20191,11620685,관악구 신사동,인테리어,14987007,14987007,0,0,0,0,...,2702575,12284432,0,0,12284432,0,2702575,0,17761,20