In [2]:
import pandas as pd

거주인구데이터

In [3]:
data = pd.read_csv("Resident_Population_Dong424.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      424 non-null    object
 1   20191   424 non-null    int64
 2   20192   424 non-null    int64
 3   20193   424 non-null    int64
 4   20194   424 non-null    int64
 5   20201   424 non-null    int64
 6   20202   424 non-null    int64
 7   20203   424 non-null    int64
 8   20204   424 non-null    int64
 9   20211   424 non-null    int64
 10  20212   424 non-null    int64
 11  20213   424 non-null    int64
 12  20214   424 non-null    int64
 13  20221   424 non-null    int64
 14  20222   424 non-null    int64
 15  20223   424 non-null    int64
 16  20224   424 non-null    int64
 17  20231   424 non-null    int64
 18  20232   424 non-null    int64
 19  20233   424 non-null    int64
 20  20234   424 non-null    int64
 21  20241   424 non-null    int64
 22  20242   424 non-null    int64
dtypes: int64(22), object(1)
memory usage: 76.3+ KB

개폐업정보

In [5]:
data = pd.read_csv("Sorted_Number_of_Stores.csv")

In [6]:
data['년분기'].nunique(), data['행정동'].nunique(), data['업종명'].nunique()

(22, 424, 63)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559356 entries, 0 to 559355
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         559356 non-null  int64
 1   행정동         559356 non-null  object
 2   업종명         559356 non-null  object
 3   점포_수        559356 non-null  int64
 4   개업_점포_수     559356 non-null  int64
 5   폐업_점포_수     559356 non-null  int64
 6   프랜차이즈_점포_수  559356 non-null  int64
dtypes: int64(5), object(2)
memory usage: 29.9+ MB