In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Merged_Sales_data_v2.4.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  int64
 13  주차장개수(개소)  374581 non-null  int64
 14  학교수        374581 non-null  int64
 15  학생수        374581 non-null  int64
 16  버스정류장수     374581 non-null  int64
dtypes: int64(15), object(2)
memory usage: 48.6+ MB

In [8]:
df['월매출(점포)'] = (df['월매출'] / df['점포수']).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  int64
 13  주차장개수(개소)  374581 non-null  int64
 14  학교수        374581 non-null  int64
 15  학생수        374581 non-null  int64
 16  버스정류장수     374581 non-null  int64
 17  월매출(점포)    374581 non-null  int64
dtypes: int64(16), object(2)
memory usage: 51.4+ MB

In [9]:
df.columns

Index(['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포수',
       '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수',
       '버스정류장수', '월매출(점포)'],
      dtype='object')

In [12]:
col = ['년분기', '행정동', '업종명', '월매출(점포)', '인구수',
       '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수',
       '버스정류장수']
check_df = df[col]

In [16]:
check_df.to_csv("Merged_Sales_data_v2.5.csv", index=False)