In [1]:
import pandas as pd
import numpy as np
import my_def
import my_def3

<h1>데이터확인 및 가공</h1>
2분기 뒤 타겟값 매칭

In [2]:
df = pd.read_csv('Merged_Sales_data_v2.6(shift2).csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65647 entries, 0 to 65646
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         65647 non-null  int64
 1   행정동         65647 non-null  object
 2   업종별카테고리     65647 non-null  object
 3   월매출(점포)     65647 non-null  int64
 4   인구수         65647 non-null  float64
 5   지역생활인구      65647 non-null  float64
 6   장기외국인       65647 non-null  float64
 7   단기외국인       65647 non-null  float64
 8   주차장면적(면)    65647 non-null  float64
 9   주차장개수(개소)   65647 non-null  float64
 10  학교수         65647 non-null  float64
 11  학생수         65647 non-null  float64
 12  버스정류장수      65647 non-null  float64
 13  년분기_미룸      65647 non-null  float64
 14  월매출_shift2  65647 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 7.5+ MB

In [4]:
check_data = df[(df["행정동"] == "가락1동") & (df["업종별카테고리"] == "생활서비스")]
check_data.head(5)

,년분기,행정동,업종별카테고리,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,년분기_미룸,월매출_shift2
0,20191,가락1동,생활서비스,3975118,20186.0,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0,20193.0,1351685.0
3279,20192,가락1동,생활서비스,1526096,26063.0,663499.0,13194.0,1985.0,20942.0,83.0,3.0,1586.0,14.0,20194.0,668575.0
6561,20193,가락1동,생활서비스,1351685,27207.0,680319.0,14670.0,2080.0,20942.0,83.0,3.0,1780.0,14.0,20201.0,302797.0
9842,20194,가락1동,생활서비스,668575,27716.0,699589.0,13726.0,3373.0,20942.0,83.0,3.0,1780.0,14.0,20202.0,2652501.0
13122,20201,가락1동,생활서비스,302797,28032.0,722584.0,13916.0,3465.0,20268.0,57.0,3.0,2090.0,14.0,20203.0,3839465.0

In [5]:
df.columns

Index(['년분기', '행정동', '업종별카테고리', '월매출(점포)', '인구수', '지역생활인구', '장기외국인', '단기외국인',
       '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수', '년분기_미룸',
       '월매출_shift2'],
      dtype='object')

In [6]:
col = ['년분기', '행정동', '업종별카테고리', '인구수', '지역생활인구', '장기외국인', '단기외국인',
       '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수',
       '월매출_shift2']
df = df[col]

In [7]:
df.columns = ['년분기', '행정동', '업종별카테고리', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)',
       '주차장개수(개소)', '학교수', '학생수', '버스정류장수', '월매출(점포)']

In [8]:
col = ['년분기', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수', '월매출(점포)']
df[col] = df[col].astype(int)

In [9]:
df = my_def3.reduce_memory_usage(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65647 entries, 0 to 65646
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   년분기        65647 non-null  int16
 1   행정동        65647 non-null  object
 2   업종별카테고리    65647 non-null  object
 3   인구수        65647 non-null  int32
 4   지역생활인구     65647 non-null  int32
 5   장기외국인      65647 non-null  int32
 6   단기외국인      65647 non-null  int32
 7   주차장면적(면)   65647 non-null  int32
 8   주차장개수(개소)  65647 non-null  int16
 9   학교수        65647 non-null  int16
 10  학생수        65647 non-null  int16
 11  버스정류장수     65647 non-null  int16
 12  월매출(점포)    65647 non-null  int32
dtypes: int16(5), int32(6), object(2)
memory usage: 3.1+ MB
None

In [10]:
df[df["업종별카테고리"] == "기타"]

Empty DataFrame
Columns: [년분기, 행정동, 업종별카테고리, 인구수, 지역생활인구, 장기외국인, 단기외국인, 주차장면적(면), 주차장개수(개소), 학교수, 학생수, 버스정류장수, 월매출(점포)]
Index: []

전체업종 - 카테고리

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# '행정동' 컬럼 원핫인코딩 수행
df2 = pd.get_dummies(df, columns=['행정동'], drop_first=True)

# 피처와 타겟 설정
features = ['년분기', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df.columns if col.startswith('행정동_')]
target = '월매출(점포)'

X = df2[features]
y = df2[target]

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 선형 회귀 모델 학습 및 예측
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# 모델 평가 호출 선형회귀모델
my_def.evaluate_model(model, X_train, X_test, y_train, y_test)

{'train_mse': 7.252823343201272e+16,
 'test_mse': 7.44407350460456e+16,
 'train_rmse': 269310663.42,
 'test_rmse': 272838294.68,
 'train_r2': 0.02,
 'test_r2': 0.03,
 'train_mae': 182053392.61,
 'test_mae': 182755878.71,
 'train_mae_ratio': 88.52,
 'test_mae_ratio': 88.84}

<h1>업종별카테고리 선형회귀 모델</h1>
Polynomial Features & Standard Scaler 사용 안함<br>
9개 카테고리를 개별로해서 데이터프레임 형태로 저장

In [12]:
df.head(1)

,년분기,행정동,업종별카테고리,인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,월매출(점포)
0,20191,가락1동,생활서비스,20186,523724,13892,1772,20942,83,3,1586,14,1351685

In [13]:
LRN_result = my_def.linear_category_model(df)
LRN_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
의료_건강,0.82,0.67,60852708.52,70582219.30,12.44,14.63,39.20,14.63,26.87
식음료,0.91,0.88,34701602.53,37279136.56,14.09,15.31,39.20,14.63,26.87
소매_편의,0.61,0.62,78590937.79,83584579.98,18.73,19.90,39.20,14.63,26.87
생활서비스,0.88,0.66,27723301.52,31920493.37,18.46,21.35,39.20,14.63,26.87
교육_학원,0.84,0.82,10072781.69,10989405.53,25.28,27.50,39.20,14.63,26.87
미용_패션,0.67,0.58,21461471.61,23518579.56,25.34,27.84,39.20,14.63,26.87
가구_전자기기,0.73,0.79,36585512.45,39303784.26,35.47,38.01,39.20,14.63,26.87
부동산_숙박,0.93,0.91,3622723.75,4531385.67,31.73,38.06,39.20,14.63,26.87
취미_레저,0.78,0.65,31574756.62,36518969.85,30.49,39.20,39.20,14.63,26.87

In [14]:
df.columns

Index(['년분기', '행정동', '업종별카테고리', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)',
       '주차장개수(개소)', '학교수', '학생수', '버스정류장수', '월매출(점포)'],
      dtype='object')

In [15]:
LRN2_result = my_def3.category_model_evaluation(df, model_index=0)
LRN2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
의료_건강,0.82,0.67,60852708.52,70582219.30,12.44,14.63,39.20,14.63,26.87
식음료,0.91,0.88,34701602.53,37279136.56,14.09,15.31,39.20,14.63,26.87
소매_편의,0.61,0.62,78590937.79,83584579.98,18.73,19.90,39.20,14.63,26.87
생활서비스,0.88,0.66,27723301.52,31920493.37,18.46,21.35,39.20,14.63,26.87
교육_학원,0.84,0.82,10072781.69,10989405.53,25.28,27.50,39.20,14.63,26.87
미용_패션,0.67,0.58,21461471.61,23518579.56,25.34,27.84,39.20,14.63,26.87
가구_전자기기,0.73,0.79,36585512.45,39303784.26,35.47,38.01,39.20,14.63,26.87
부동산_숙박,0.93,0.91,3622723.75,4531385.67,31.73,38.06,39.20,14.63,26.87
취미_레저,0.78,0.65,31574756.62,36518969.85,30.49,39.20,39.20,14.63,26.87

In [16]:
LRS_result = my_def.linear_category_model(df, scaler_type="standard")
LRS_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
의료_건강,0.82,0.67,60852708.52,70582219.30,12.44,14.63,130.86,14.63,38.41
식음료,0.91,0.88,34701602.53,37279136.59,14.09,15.31,130.86,14.63,38.41
소매_편의,0.61,0.62,78590937.50,83584579.84,18.73,19.90,130.86,14.63,38.41
생활서비스,0.88,0.66,27723301.52,31920493.37,18.46,21.35,130.86,14.63,38.41
교육_학원,0.84,0.82,10072781.69,10989405.53,25.28,27.50,130.86,14.63,38.41
미용_패션,0.67,0.58,21461471.60,23518579.57,25.34,27.84,130.86,14.63,38.41
취미_레저,0.78,0.65,31574756.62,36518969.85,30.49,39.20,130.86,14.63,38.41
부동산_숙박,0.93,0.50,3622723.75,5847962.39,31.73,49.12,130.86,14.63,38.41
가구_전자기기,0.73,-196.29,36585512.45,135327624.73,35.47,130.86,130.86,14.63,38.41

In [17]:
LRS2_result = my_def3.category_model_evaluation(df, model_index= 0, scaler_type="standard")
LRS2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
의료_건강,0.82,0.67,60852708.52,70582219.30,12.44,14.63,130.86,14.63,38.41
식음료,0.91,0.88,34701602.53,37279136.59,14.09,15.31,130.86,14.63,38.41
소매_편의,0.61,0.62,78590937.50,83584579.84,18.73,19.90,130.86,14.63,38.41
생활서비스,0.88,0.66,27723301.52,31920493.37,18.46,21.35,130.86,14.63,38.41
교육_학원,0.84,0.82,10072781.69,10989405.53,25.28,27.50,130.86,14.63,38.41
미용_패션,0.67,0.58,21461471.60,23518579.57,25.34,27.84,130.86,14.63,38.41
취미_레저,0.78,0.65,31574756.62,36518969.85,30.49,39.20,130.86,14.63,38.41
부동산_숙박,0.93,0.50,3622723.75,5847962.39,31.73,49.12,130.86,14.63,38.41
가구_전자기기,0.73,-196.29,36585512.45,135327624.73,35.47,130.86,130.86,14.63,38.41

<h1>업종별카테고리 랜덤포레스트 모델</h1>
Polynomial Features & Standard Scaler 사용 안함<br>
9개 카테고리를 개별로해서 데이터프레임 형태로 저장

In [18]:
RFN_result = my_def.random_forest_category_model(df)
RFN_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9281636.81,24873059.22,3.77,10.21,33.60,10.21,20.77
의료_건강,0.98,0.82,19610841.55,52754475.49,4.01,10.94,33.60,10.21,20.77
소매_편의,0.95,0.69,23223447.51,62250761.19,5.54,14.82,33.60,10.21,20.77
생활서비스,0.98,0.68,9518921.21,26831817.96,6.34,17.95,33.60,10.21,20.77
교육_학원,0.99,0.91,2761348.42,7456858.96,6.93,18.66,33.60,10.21,20.77
미용_패션,0.99,0.15,5410312.65,18657976.80,6.39,22.09,33.60,10.21,20.77
부동산_숙박,0.99,0.93,1305198.52,3376828.92,11.43,28.37,33.60,10.21,20.77
가구_전자기기,0.97,0.87,11840642.10,31287647.09,11.48,30.26,33.60,10.21,20.77
취미_레저,0.97,0.57,10627785.09,31300646.04,10.26,33.60,33.60,10.21,20.77

In [19]:
RFN2_result = my_def3.category_model_evaluation(df, model_index= 1)
RFN2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9281636.81,24873059.22,3.77,10.21,33.60,10.21,20.77
의료_건강,0.98,0.82,19610841.55,52754475.49,4.01,10.94,33.60,10.21,20.77
소매_편의,0.95,0.69,23223447.51,62250761.19,5.54,14.82,33.60,10.21,20.77
생활서비스,0.98,0.68,9518921.21,26831817.96,6.34,17.95,33.60,10.21,20.77
교육_학원,0.99,0.91,2761348.42,7456858.96,6.93,18.66,33.60,10.21,20.77
미용_패션,0.99,0.15,5410312.65,18657976.80,6.39,22.09,33.60,10.21,20.77
부동산_숙박,0.99,0.93,1305198.52,3376828.92,11.43,28.37,33.60,10.21,20.77
가구_전자기기,0.97,0.87,11840642.10,31287647.09,11.48,30.26,33.60,10.21,20.77
취미_레저,0.97,0.57,10627785.09,31300646.04,10.26,33.60,33.60,10.21,20.77

In [23]:
df.columns

Index(['년분기', '행정동', '업종별카테고리', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)',
       '주차장개수(개소)', '학교수', '학생수', '버스정류장수', '월매출(점포)'],
      dtype='object')

In [24]:
t = "월매출(점포)"
f = ['년분기', '행정동', '업종별카테고리', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)',
       '주차장개수(개소)', '학교수', '학생수', '버스정류장수']
len(f)

12

In [25]:
RFN2_result = my_def3.category_model_evaluation(df, model_index= 1, target=t, features=f)
RFN2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9281636.81,24873059.22,3.77,10.21,33.60,10.21,20.77
의료_건강,0.98,0.82,19610841.55,52754475.49,4.01,10.94,33.60,10.21,20.77
소매_편의,0.95,0.69,23223447.51,62250761.19,5.54,14.82,33.60,10.21,20.77
생활서비스,0.98,0.68,9518921.21,26831817.96,6.34,17.95,33.60,10.21,20.77
교육_학원,0.99,0.91,2761348.42,7456858.96,6.93,18.66,33.60,10.21,20.77
미용_패션,0.99,0.15,5410312.65,18657976.80,6.39,22.09,33.60,10.21,20.77
부동산_숙박,0.99,0.93,1305198.52,3376828.92,11.43,28.37,33.60,10.21,20.77
가구_전자기기,0.97,0.87,11840642.10,31287647.09,11.48,30.26,33.60,10.21,20.77
취미_레저,0.97,0.57,10627785.09,31300646.04,10.26,33.60,33.60,10.21,20.77

In [26]:
RFN_result = my_def.random_forest_category_model(df, scaler_type="standard")
RFN_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9288365.62,24863073.58,3.77,10.21,33.60,10.21,20.76
의료_건강,0.98,0.82,19621946.19,52770667.26,4.01,10.94,33.60,10.21,20.76
소매_편의,0.95,0.69,23209539.92,62295094.87,5.53,14.83,33.60,10.21,20.76
생활서비스,0.98,0.68,9524157.95,26803621.21,6.34,17.93,33.60,10.21,20.76
교육_학원,0.99,0.91,2762184.79,7453684.57,6.93,18.65,33.60,10.21,20.76
미용_패션,0.99,0.15,5417016.52,18705512.16,6.40,22.15,33.60,10.21,20.76
부동산_숙박,0.99,0.93,1307424.77,3372130.49,11.45,28.33,33.60,10.21,20.76
가구_전자기기,0.97,0.87,11843024.07,31190449.24,11.48,30.16,33.60,10.21,20.76
취미_레저,0.97,0.57,10604256.19,31299564.91,10.24,33.60,33.60,10.21,20.76

In [27]:
RFN2_result = my_def3.category_model_evaluation(df, model_index= 1, target=t, features=f, scaler_type="standard")
RFN2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9288365.62,24863073.58,3.77,10.21,33.60,10.21,20.76
의료_건강,0.98,0.82,19621946.19,52770667.26,4.01,10.94,33.60,10.21,20.76
소매_편의,0.95,0.69,23209539.92,62295094.87,5.53,14.83,33.60,10.21,20.76
생활서비스,0.98,0.68,9524157.95,26803621.21,6.34,17.93,33.60,10.21,20.76
교육_학원,0.99,0.91,2762184.79,7453684.57,6.93,18.65,33.60,10.21,20.76
미용_패션,0.99,0.15,5417016.52,18705512.16,6.40,22.15,33.60,10.21,20.76
부동산_숙박,0.99,0.93,1307424.77,3372130.49,11.45,28.33,33.60,10.21,20.76
가구_전자기기,0.97,0.87,11843024.07,31190449.24,11.48,30.16,33.60,10.21,20.76
취미_레저,0.97,0.57,10604256.19,31299564.91,10.24,33.60,33.60,10.21,20.76

In [28]:
RFN_result = my_def.random_forest_category_model(df, scaler_type="minmax")
RFN_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9291313.06,24894574.60,3.77,10.22,33.66,10.22,20.77
의료_건강,0.98,0.82,19618766.71,52764489.06,4.01,10.94,33.66,10.22,20.77
소매_편의,0.95,0.69,23231332.03,62256695.75,5.54,14.82,33.66,10.22,20.77
생활서비스,0.98,0.68,9518963.67,26838327.27,6.34,17.95,33.66,10.22,20.77
교육_학원,0.99,0.91,2758952.08,7450847.55,6.92,18.64,33.66,10.22,20.77
미용_패션,0.99,0.15,5412234.76,18651060.99,6.39,22.08,33.66,10.22,20.77
부동산_숙박,0.99,0.93,1308760.09,3375683.03,11.46,28.36,33.66,10.22,20.77
가구_전자기기,0.97,0.87,11841153.80,31290876.95,11.48,30.26,33.66,10.22,20.77
취미_레저,0.97,0.57,10632124.05,31356824.38,10.27,33.66,33.66,10.22,20.77

In [29]:
RFN2_result = my_def3.category_model_evaluation(df, model_index= 1, target=t, features=f, scaler_type="minmax")
RFN2_result.iloc[:,4:]

,train_r2,test_r2,train_mae,test_mae,train_mae_ratio,test_mae_ratio,test_mae_ratio_max,test_mae_ratio_min,test_mae_ratio_mean
식음료,0.99,0.95,9291313.06,24894574.60,3.77,10.22,33.66,10.22,20.77
의료_건강,0.98,0.82,19618766.71,52764489.06,4.01,10.94,33.66,10.22,20.77
소매_편의,0.95,0.69,23231332.03,62256695.75,5.54,14.82,33.66,10.22,20.77
생활서비스,0.98,0.68,9518963.67,26838327.27,6.34,17.95,33.66,10.22,20.77
교육_학원,0.99,0.91,2758952.08,7450847.55,6.92,18.64,33.66,10.22,20.77
미용_패션,0.99,0.15,5412234.76,18651060.99,6.39,22.08,33.66,10.22,20.77
부동산_숙박,0.99,0.93,1308760.09,3375683.03,11.46,28.36,33.66,10.22,20.77
가구_전자기기,0.97,0.87,11841153.80,31290876.95,11.48,30.26,33.66,10.22,20.77
취미_레저,0.97,0.57,10632124.05,31356824.38,10.27,33.66,33.66,10.22,20.77