In [290]:
import pandas as pd
import my_def

2분기 미루기 (원빈)

In [291]:
data = pd.read_csv("Merged_Sales_data_v2.6(selected_store).csv")

In [292]:
categories = {
    "식음료": [
        "커피-음료", "패스트푸드점", "분식전문점", "한식음식점",
        "양식음식점", "일식음식점", "호프-간이주점", "제과점", "중식음식점"
    ],
    "의료_건강": [
        "의약품", "치과의원", "일반의원", "한의원", "피부관리실", "의료기기"
    ],
    "소매_편의": [
        "미곡판매", "편의점", "슈퍼마켓", "반찬가게", "육류판매",
        "수산물판매", "문구", "청과상"
    ],
    "미용_패션": [
        "미용실", "화장품", "네일숍", "신발", "일반의류"
    ],
    "교육_학원": [
        "스포츠 강습", "예술학원", "외국어학원"
    ],
    "취미_레저": [
        "스포츠클럽", "골프연습장", "완구", "당구장", "노래방",
        "운동/경기용품", "자전거 및 기타운송장비", "서적"
    ],
    "생활서비스": [
        "세탁소", "철물점", "안경", "인테리어", "자동차미용", "자동차수리",
        "가전제품수리", "조명용품", "섬유제품", "전자상거래업"
    ],
    "가구_전자기기": [
        "가구", "가전제품", "핸드폰", "시계및귀금속", "컴퓨터및주변장치판매", "가방"
    ],
    "부동산_숙박": [
        "부동산중개업", "고시원"
    ]
}

In [293]:
def categorize_merged_data(merged_data):
    for category, biz_list in categories.items():
        if merged_data in biz_list:
            return category
    return "기타"

In [294]:
data['업종별카테고리'] = data['업종명'].apply(categorize_merged_data)
merged_data = data
merged_data

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,업종별카테고리
0,20191,가락1동,미곡판매,2796909658,20186,523724,13892,1772,20942,83,3,1586,14,소매_편의
1,20191,가락1동,분식전문점,54333333,20186,523724,13892,1772,20942,83,3,1586,14,식음료
2,20191,가락1동,편의점,806489641,20186,523724,13892,1772,20942,83,3,1586,14,소매_편의
3,20191,가락1동,한식음식점,180429821,20186,523724,13892,1772,20942,83,3,1586,14,식음료
4,20191,가락1동,의약품,7641042,20186,523724,13892,1772,20942,83,3,1586,14,의료_건강
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335251,20242,흑석동,서적,4235333,32491,848734,77201,6202,16937,298,0,0,59,취미_레저
335252,20242,흑석동,화장품,33030239,32491,848734,77201,6202,16937,298,0,0,59,미용_패션
335253,20242,흑석동,가구,42377763,32491,848734,77201,6202,16937,298,0,0,59,가구_전자기기
335254,20242,흑석동,철물점,4751411,32491,848734,77201,6202,16937,298,0,0,59,생활서비스
335255,20242,흑석동,인테리어,12612194,32491,848734,77201,6202,16937,298,0,0,59,생활서비스

In [295]:
grouped_df = merged_data.groupby(['년분기', '행정동', '업종별카테고리']).agg({
    '월매출(점포)': 'sum',
    # '주중매출': 'sum',
    # '주말매출': 'sum',
    # '점포수': 'sum',
    '인구수': 'mean',
    '지역생활인구': 'mean',
    '장기외국인': 'mean',
    '단기외국인': 'mean',
    '주차장면적(면)': 'mean',
    '주차장개수(개소)': 'mean',
    '학교수': 'mean',
    '학생수': 'mean',
    '버스정류장수': 'mean'	
}).reset_index()

grouped_df

,년분기,행정동,업종별카테고리,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수
0,20191,가락1동,생활서비스,3975118,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00
1,20191,가락1동,소매_편의,6565196464,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00
2,20191,가락1동,식음료,404795979,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00
3,20191,가락1동,의료_건강,170057995,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00
4,20191,가락2동,가구_전자기기,10626421,34155.00,722081.00,8185.00,1925.00,14340.00,1058.00,2.00,1867.00,26.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72365,20242,흑석동,생활서비스,52455262,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00
72366,20242,흑석동,소매_편의,460400862,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00
72367,20242,흑석동,식음료,331108691,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00
72368,20242,흑석동,의료_건강,963794015,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00
72369,20242,흑석동,취미_레저,24619516,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00

In [296]:
# 월매출과 년분기를 한 분기씩 미룸

def shift_within_group(group):
    group = group.sort_values('년분기')  
    group['년분기_미룸'] = group['년분기'].shift(-2)
    group['월매출_shift2'] = group['월매출(점포)'].shift(-2)
    return group

In [297]:
test_data = grouped_df.groupby(['행정동', '업종별카테고리'], group_keys=False).apply(shift_within_group)
test_data

C:\Users\human\AppData\Local\Temp\ipykernel_5216\3275938425.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  test_data = grouped_df.groupby(['행정동', '업종별카테고리'], group_keys=False).apply(shift_within_group)

,년분기,행정동,업종별카테고리,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,년분기_미룸,월매출_shift2
0,20191,가락1동,생활서비스,3975118,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00,20193.00,1351685.00
1,20191,가락1동,소매_편의,6565196464,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00,20193.00,5496023396.00
2,20191,가락1동,식음료,404795979,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00,20193.00,314615335.00
3,20191,가락1동,의료_건강,170057995,20186.00,523724.00,13892.00,1772.00,20942.00,83.00,3.00,1586.00,14.00,20193.00,125024192.00
4,20191,가락2동,가구_전자기기,10626421,34155.00,722081.00,8185.00,1925.00,14340.00,1058.00,2.00,1867.00,26.00,20193.00,16351330.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72365,20242,흑석동,생활서비스,52455262,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00,NaN,NaN
72366,20242,흑석동,소매_편의,460400862,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00,NaN,NaN
72367,20242,흑석동,식음료,331108691,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00,NaN,NaN
72368,20242,흑석동,의료_건강,963794015,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00,NaN,NaN
72369,20242,흑석동,취미_레저,24619516,32491.00,848734.00,77201.00,6202.00,16937.00,298.00,0.00,0.00,59.00,NaN,NaN

In [298]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72370 entries, 0 to 72369
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         72370 non-null  int64
 1   행정동         72370 non-null  object
 2   업종별카테고리     72370 non-null  object
 3   월매출(점포)     72370 non-null  int64
 4   인구수         72370 non-null  float64
 5   지역생활인구      72370 non-null  float64
 6   장기외국인       72370 non-null  float64
 7   단기외국인       72370 non-null  float64
 8   주차장면적(면)    72370 non-null  float64
 9   주차장개수(개소)   72370 non-null  float64
 10  학교수         72370 non-null  float64
 11  학생수         72370 non-null  float64
 12  버스정류장수      72370 non-null  float64
 13  년분기_미룸      65647 non-null  float64
 14  월매출_shift2  65647 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 10.8+ MB

In [299]:
back_data = test_data[(test_data["년분기"] == 20241) | (test_data["년분기"] == 20242)]
front_data = test_data[~((test_data["년분기"] == 20241) | (test_data["년분기"] == 20242))]

In [300]:
front_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65808 entries, 0 to 65807
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         65808 non-null  int64
 1   행정동         65808 non-null  object
 2   업종별카테고리     65808 non-null  object
 3   월매출(점포)     65808 non-null  int64
 4   인구수         65808 non-null  float64
 5   지역생활인구      65808 non-null  float64
 6   장기외국인       65808 non-null  float64
 7   단기외국인       65808 non-null  float64
 8   주차장면적(면)    65808 non-null  float64
 9   주차장개수(개소)   65808 non-null  float64
 10  학교수         65808 non-null  float64
 11  학생수         65808 non-null  float64
 12  버스정류장수      65808 non-null  float64
 13  년분기_미룸      65647 non-null  float64
 14  월매출_shift2  65647 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 8.0+ MB

In [301]:
front_data = front_data.dropna()

In [302]:
front_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65647 entries, 0 to 65807
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         65647 non-null  int64
 1   행정동         65647 non-null  object
 2   업종별카테고리     65647 non-null  object
 3   월매출(점포)     65647 non-null  int64
 4   인구수         65647 non-null  float64
 5   지역생활인구      65647 non-null  float64
 6   장기외국인       65647 non-null  float64
 7   단기외국인       65647 non-null  float64
 8   주차장면적(면)    65647 non-null  float64
 9   주차장개수(개소)   65647 non-null  float64
 10  학교수         65647 non-null  float64
 11  학생수         65647 non-null  float64
 12  버스정류장수      65647 non-null  float64
 13  년분기_미룸      65647 non-null  float64
 14  월매출_shift2  65647 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 8.0+ MB

In [303]:

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# import pandas as pd


# # 업종명 고유값 추출
# unique_categories = front_data["업종별카테고리"].unique()

# # 결과를 저장할 딕셔너리 생성
# results = {}

# # 각 업종별로 데이터를 나누어 모델 학습 및 예측 수행
# for category in unique_categories:
#     # 업종별 데이터 필터링
#     df_category = front_data[front_data['업종별카테고리'] == category]
    
#     # 원핫인코딩 수행
#     df_category = pd.get_dummies(df_category, columns=['행정동'], drop_first=True)
    
#     # 피처와 타겟 설정
#     features = ['년분기', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df_category.columns if col.startswith('행정동_')]
#     target = '월매출(점포)'
    
#     # 피처와 타겟 데이터 분리
#     X = df_category[features]
#     y = df_category[target]
    
#     # 학습 데이터와 테스트 데이터 분리
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
#     # 선형 회귀 모델 학습
#     model = LinearRegression()
#     model.fit(X_train, y_train)
    
#     # 성능 평가 호출
#     evaluation_result = my_def.evaluate_model(model, X_train, X_test, y_train, y_test)
    
#     # 결과 저장
#     if evaluation_result is not None:
#         results[category] = evaluation_result

# # 결과를 데이터프레임으로 변환
# results_df = pd.DataFrame.from_dict(results, orient='index')
# results_df = results_df.apply(pd.to_numeric)

# # test_mae_ratio의 최고, 최저, 평균 추가
# test_mae_ratio_max = results_df['test_mae_ratio'].max()
# test_mae_ratio_min = results_df['test_mae_ratio'].min()
# test_mae_ratio_mean = results_df['test_mae_ratio'].mean()

# # 모든 행에 공통으로 최고, 최저, 평균 추가
# test_mae_summary = {
#     'test_mae_ratio_max': test_mae_ratio_max,
#     'test_mae_ratio_min': test_mae_ratio_min,
#     'test_mae_ratio_mean': test_mae_ratio_mean
# }

# for key, value in test_mae_summary.items():
#     results_df[key] = value

# # 결과를 소수점 2자리로 포맷팅하여 출력
# pd.options.display.float_format = '{:.2f}'.format
# print(results_df)

In [304]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas as pd

# 업종명 고유값 추출
unique_categories = front_data["업종별카테고리"].unique()

# 결과를 저장할 딕셔너리 생성
results = {}

# 각 업종별로 데이터를 나누어 모델 학습 및 예측 수행
for category in unique_categories:
    # 업종별 데이터 필터링
    df_category = front_data[front_data['업종별카테고리'] == category]
    
    # 원핫인코딩 수행
    df_category = pd.get_dummies(df_category, columns=['행정동'], drop_first=True)
    
    # 피처와 타겟 설정
    features = ['년분기', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df_category.columns if col.startswith('행정동_')]
    target = '월매출_shift2'
    
    # 피처와 타겟 데이터 분리
    X = df_category[features]
    y = df_category[target]
    
    # 학습 데이터와 테스트 데이터 분리
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # 스케일링 수행
    # scaler = StandardScaler()
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    # 선형 회귀 모델 학습
    model = LinearRegression()
    model.fit(X_train_scaled, y_train)
    
    # 성능 평가 호출
    evaluation_result = my_def.evaluate_model(model, X_train_scaled, X_test_scaled, y_train, y_test)
    
    # 결과 저장
    if evaluation_result is not None:
        results[category] = evaluation_result

# 결과를 데이터프레임으로 변환
results_df = pd.DataFrame.from_dict(results, orient='index')
results_df = results_df.apply(pd.to_numeric)

# test_mae_ratio의 최고, 최저, 평균 추가
test_mae_ratio_max = results_df['test_mae_ratio'].max()
test_mae_ratio_min = results_df['test_mae_ratio'].min()
test_mae_ratio_mean = results_df['test_mae_ratio'].mean()

# 모든 행에 공통으로 최고, 최저, 평균 추가
test_mae_summary = {
    'test_mae_ratio_max': test_mae_ratio_max,
    'test_mae_ratio_min': test_mae_ratio_min,
    'test_mae_ratio_mean': test_mae_ratio_mean
}

for key, value in test_mae_summary.items():
    results_df[key] = value

# 결과를 소수점 2자리로 포맷팅하여 출력
pd.options.display.float_format = '{:.2f}'.format
print(results_df)

                   train_mse             test_mse   train_rmse    test_rmse  \
생활서비스    2877667659078737.50  4055425519200100.50  53643896.76  63682222.94
소매_편의   11863487593586348.00 15662675601247772.00 108919638.24 125150611.67
식음료      2369763803422511.00  2732788640431521.50  48680219.84  52276080.96
의료_건강   10442487141592146.00 13113872984501404.00 102188488.30 114515819.80
가구_전자기기  5581617579222337.00  6464951824887284.00  74710224.06  80404924.13
교육_학원     294115362221043.25   369790356617712.88  17149791.90  19229933.87
미용_패션    2354960926572488.00  2275684243077538.50  48527939.65  47704132.35
취미_레저    6501757516417740.00  8055870955586388.00  80633476.40  89754503.82
부동산_숙박     46761755162068.41    70486026807105.84   6838256.73   8395595.68

         train_r2  test_r2   train_mae    test_mae  train_mae_ratio  \
생활서비스        0.88     0.87 27723295.60 30439020.91            18.46
소매_편의        0.93     0.91 63505754.35 71288778.11            13.84
식음료          0.91     0.88 34701595.24 37279135.96            14.09
의료_건강        0.91     0.88 58253044.59 63997855.50            11.42
가구_전자기기      0.86     0.81 34491879.27 38400901.91            32.68
교육_학원        0.84     0.82 10072781.76 10989410.36            25.28
미용_패션        0.90     0.90 17628285.92 18362958.83            20.01
취미_레저        0.90     0.91 31661929.79 34916999.87            25.79
부동산_숙박       0.93     0.91  3622723.75  4531385.67            31.73

         test_mae_ratio  test_mae_ratio_max  test_mae_ratio_min  \
생활서비스             20.00               38.06               12.57
소매_편의             15.20               38.06               12.57
식음료               15.31               38.06               12.57
의료_건강             12.57               38.06               12.57
가구_전자기기           37.13               38.06               12.57
교육_학원             27.50               38.06               12.57
미용_패션             21.09               38.06               12.57
취미_레저             28.50               38.06               12.57
부동산_숙박            38.06               38.06               12.57

         test_mae_ratio_mean
생활서비스                  23.93
소매_편의                  23.93
식음료                    23.93
의료_건강                  23.93
가구_전자기기                23.93
교육_학원                  23.93
미용_패션                  23.93
취미_레저                  23.93
부동산_숙박                 23.93

In [305]:
front_data["업종별카테고리"].unique()

array(['생활서비스', '소매_편의', '식음료', '의료_건강', '가구_전자기기', '교육_학원', '미용_패션',
       '취미_레저', '부동산_숙박'], dtype=object)

In [306]:
#results_df = results_df.astype(int)

In [307]:
results_df["test_mae_ratio"]

생활서비스     20.00
소매_편의     15.20
식음료       15.31
의료_건강     12.57
가구_전자기기   37.13
교육_학원     27.50
미용_패션     21.09
취미_레저     28.50
부동산_숙박    38.06
Name: test_mae_ratio, dtype: float64

In [308]:
X_train_scaled.min(), X_train_scaled.max()

(np.float64(0.0), np.float64(1.0))

In [309]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

# 업종명 고유값 추출
unique_categories = front_data["업종별카테고리"].unique()

# 결과를 저장할 딕셔너리 생성
results = {}

# 각 업종별로 데이터를 나누어 모델 학습 및 예측 수행
for category in unique_categories:
    # 업종별 데이터 필터링
    df_category = front_data[front_data['업종별카테고리'] == category]
    
    # 원핫인코딩 수행
    df_category = pd.get_dummies(df_category, columns=['행정동'], drop_first=True)
    
    # 피처와 타겟 설정
    features = ['년분기', '인구수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df_category.columns if col.startswith('행정동_')]
    target = '월매출_shift2'
    
    # 피처와 타겟 데이터 분리
    X = df_category[features]
    y = df_category[target]
    
    # 학습 데이터와 테스트 데이터 분리
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # 랜덤 포레스트 회귀 모델 학습
    model = RandomForestRegressor(random_state=42)
    model.fit(X_train, y_train)
    
    # 성능 평가 호출
    evaluation_result = my_def.evaluate_model(model, X_train, X_test, y_train, y_test)
    
    # 결과 저장
    if evaluation_result is not None:
        results[category] = evaluation_result

# 결과를 데이터프레임으로 변환
results_df = pd.DataFrame.from_dict(results, orient='index')
results_df = results_df.apply(pd.to_numeric)

# test_mae_ratio의 최고, 최저, 평균 추가
test_mae_ratio_max = results_df['test_mae_ratio'].max()
test_mae_ratio_min = results_df['test_mae_ratio'].min()
test_mae_ratio_mean = results_df['test_mae_ratio'].mean()

# 모든 행에 공통으로 최고, 최저, 평균 추가
test_mae_summary = {
    'test_mae_ratio_max': test_mae_ratio_max,
    'test_mae_ratio_min': test_mae_ratio_min,
    'test_mae_ratio_mean': test_mae_ratio_mean
}

for key, value in test_mae_summary.items():
    results_df[key] = value

# 결과를 소수점 2자리로 포맷팅하여 출력
pd.options.display.float_format = '{:.2f}'.format
print(results_df)

                  train_mse             test_mse  train_rmse    test_rmse  \
생활서비스    398731839834750.25  3215173599629299.00 19968270.83  56702500.82
소매_편의   1563667215667959.25 12069106162075792.00 39543232.24 109859483.71
식음료      193892181825644.53  1268360991312782.50 13924517.29  35614056.09
의료_건강    919177681837545.50  6205995900622374.00 30317943.23  78778143.55
가구_전자기기  582803331594947.88  4362497735248870.00 24141320.01  66049206.92
교육_학원     24461707394784.26   185959673803716.91  4945877.82  13636703.19
미용_패션    156130635893663.09  1425670027192144.75 12495224.52  37758045.86
취미_레저    701188905039089.75 10537129414782148.00 26479971.77 102650520.77
부동산_숙박     9005247753511.40    52752379363237.63  3000874.50   7263083.32

         train_r2  test_r2   train_mae    test_mae  train_mae_ratio  \
생활서비스        0.98     0.90  9528203.31 25282340.66             6.34
소매_편의        0.99     0.93 18838431.68 51476883.23             4.11
식음료          0.99     0.95  9286931.26 24915933.78             3.77
의료_건강        0.99     0.94 18318108.33 48488053.57             3.59
가구_전자기기      0.99     0.87 11442226.06 31213518.27            10.84
교육_학원        0.99     0.91  2762457.78  7456545.68             6.93
미용_패션        0.99     0.94  5136485.86 13434550.98             5.83
취미_레저        0.99     0.88 10379147.16 28341609.86             8.45
부동산_숙박       0.99     0.93  1305198.52  3376828.92            11.43

         test_mae_ratio  test_mae_ratio_max  test_mae_ratio_min  \
생활서비스             16.61               30.18                9.52
소매_편의             10.97               30.18                9.52
식음료               10.23               30.18                9.52
의료_건강              9.52               30.18                9.52
가구_전자기기           30.18               30.18                9.52
교육_학원             18.66               30.18                9.52
미용_패션             15.43               30.18                9.52
취미_레저             23.13               30.18                9.52
부동산_숙박            28.37               30.18                9.52

         test_mae_ratio_mean
생활서비스                  18.12
소매_편의                  18.12
식음료                    18.12
의료_건강                  18.12
가구_전자기기                18.12
교육_학원                  18.12
미용_패션                  18.12
취미_레저                  18.12
부동산_숙박                 18.12

In [310]:
# test_mae_ratio 값이 큰 순으로 정렬하여 상위 10개 추출
top_10_test_mae = results_df.sort_values(by='test_mae_ratio', ascending=True)['test_mae_ratio']

# 결과 출력
print(top_10_test_mae)

의료_건강      9.52
식음료       10.23
소매_편의     10.97
미용_패션     15.43
생활서비스     16.61
교육_학원     18.66
취미_레저     23.13
부동산_숙박    28.37
가구_전자기기   30.18
Name: test_mae_ratio, dtype: float64

In [311]:
# test_mae_ratio 값이 큰 순으로 정렬하여 상위 10개 추출
top_10_test_r2 = results_df.sort_values(by='test_r2', ascending=True)['test_r2']

# 결과 출력
print(top_10_test_r2)

가구_전자기기   0.87
취미_레저     0.88
생활서비스     0.90
교육_학원     0.91
소매_편의     0.93
부동산_숙박    0.93
미용_패션     0.94
의료_건강     0.94
식음료       0.95
Name: test_r2, dtype: float64