In [297]:
import numpy as np
import pandas as pd

In [298]:
# lines = []
# with open("living ppl (local)/2019/LOCAL_PEOPLE_DONG_201901.csv", encoding="utf-8") as f:
#     columns = f.readline().replace("\"", "").replace("\n","").split(",")
#     while True:
#         line = f.readline()
#         if not line:
#             break
#         line2 = line.replace(",\"\"", "").replace("\n", "").replace("\"", "")
#         lines.append(line2.split(","))

# pd.DataFrame(lines, columns=columns)

In [ ]:
all_lines = []

year = 201901
for month in range(year, year+3):
    file_path = f"living ppl (temp)/2019/TEMP_FOREIGNER_DONG_{month}.csv"

    with open(file_path, encoding="utf-8") as f:
        columns = f.readline().replace("\"", "").replace("\n","").split(",")
        while True:
            line = f.readline()
            if not line:
                break
            line2 = line.replace(",\"\"", "").replace("\n", "").replace("\"", "")
            all_lines.append(line2.split(","))

local = pd.DataFrame(all_lines, columns=columns)

In [300]:
# local.head()

In [301]:
# local.columns

In [302]:
local.columns = local.columns.str.strip()  # 열 이름의 공백 제거
local.columns = local.columns.str.replace('\ufeff', '')  # BOM 제거

In [303]:
local_1 = local.drop(columns=['기준일ID'], axis=1)

In [304]:
local_1.info()
local_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925794 entries, 0 to 925793
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   시간대구분        925794 non-null  object
 1   행정동코드        925794 non-null  object
 2   총생활인구수       925794 non-null  object
 3   중국인체류인구수     925794 non-null  object
 4   중국외외국인체류인구수  925794 non-null  object
dtypes: object(5)
memory usage: 35.3+ MB

       시간대구분     행정동코드              총생활인구수 중국인체류인구수         중국외외국인체류인구수
0         00  11200580  14.807600000000001        0  14.807499999999999
1         00  11200590  26.540400000000002        1  25.138999999999999
2         00  11200615  85.986199999999997       15  70.933400000000006
3         00  11200620             28.7333        5  23.591000000000001
4         00  11200645  89.128200000000007        0  89.128200000000007
...      ...       ...                 ...      ...                 ...
925789    23  11740620  37.729900000000001       13             24.4163
925790    23  11740640  34.493299999999998       14  20.238499999999998
925791    23  11740650  63.077599999999997       30  32.835099999999997
925792    23  11740660  103.13330000000001       25  77.524299999999997
925793    23  11740685  239.69220000000001       93  145.77279999999999

[925794 rows x 5 columns]

In [305]:
local_2 = local_1.map(lambda v: float(str(v).replace(",","")))
local_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925794 entries, 0 to 925793
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   시간대구분        925794 non-null  float64
 1   행정동코드        925794 non-null  float64
 2   총생활인구수       925794 non-null  float64
 3   중국인체류인구수     925794 non-null  float64
 4   중국외외국인체류인구수  925794 non-null  float64
dtypes: float64(5)
memory usage: 35.3 MB

In [306]:
local_2['행정동코드'].nunique()

424

In [307]:
local_3 = local_2.astype({"시간대구분":"str", "행정동코드":"str"})
print(local_3)

       시간대구분       행정동코드    총생활인구수  중국인체류인구수  중국외외국인체류인구수
0        0.0  11200580.0   14.8076       0.0      14.8075
1        0.0  11200590.0   26.5404       1.0      25.1390
2        0.0  11200615.0   85.9862      15.0      70.9334
3        0.0  11200620.0   28.7333       5.0      23.5910
4        0.0  11200645.0   89.1282       0.0      89.1282
...      ...         ...       ...       ...          ...
925789  23.0  11740620.0   37.7299      13.0      24.4163
925790  23.0  11740640.0   34.4933      14.0      20.2385
925791  23.0  11740650.0   63.0776      30.0      32.8351
925792  23.0  11740660.0  103.1333      25.0      77.5243
925793  23.0  11740685.0  239.6922      93.0     145.7728

[925794 rows x 5 columns]

In [308]:
local_4 = local_3.groupby(['시간대구분','행정동코드']).mean().reset_index()

In [309]:
# 1. 값 확인
print(local_4['시간대구분'].unique())  # 데이터 확인

# 2. 데이터 변환 (float으로 먼저 변환한 뒤 int로 변환)
local_4['시간대구분'] = local_4['시간대구분'].astype(float).astype(int)

# 3. 정렬
sorted_df = local_4.sort_values(by='시간대구분').reset_index(drop=True)

print(sorted_df)

['0.0' '1.0' '10.0' '11.0' '12.0' '13.0' '14.0' '15.0' '16.0' '17.0'
 '18.0' '19.0' '2.0' '20.0' '21.0' '22.0' '23.0' '3.0' '4.0' '5.0' '6.0'
 '7.0' '8.0' '9.0']
       시간대구분       행정동코드       총생활인구수     중국인체류인구수  중국외외국인체류인구수
0          0  11110515.0   406.099910   137.472527   268.124196
1          0  11560550.0   182.113740    84.450549    97.202341
2          0  11560540.0  3324.854177  1606.032967  1718.314188
3          0  11560535.0  1442.935988   718.032967   724.369508
4          0  11560515.0   381.158709   229.780220   150.874684
...      ...         ...          ...          ...          ...
10171     23  11305590.0    77.006614    32.912088    43.563388
10172     23  11305575.0    21.781452     4.252747    17.175666
10173     23  11305555.0    39.889714    16.582418    22.760738
10174     23  11350560.0    50.197788    12.296703    37.486653
10175     23  11740700.0    48.611337     7.648352    40.698990

[10176 rows x 5 columns]

In [ ]:
sorted_df.to_csv('living_temp_end/temp_20231.csv', index=False)