In [37]:
import numpy as np
import pandas as pd

In [38]:
parking = pd.read_csv('D:\Project 2\parking.csv')

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\human\AppData\Local\Temp\ipykernel_3804\1466540252.py:1: SyntaxWarning: invalid escape sequence '\P'
  parking = pd.read_csv('D:\Project 2\parking.csv')

In [39]:
parking.drop(columns=['구분별'], inplace=True)

In [40]:
parking_1 = parking.fillna(0)

In [41]:
parking_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      864 non-null    object
 1   항목      864 non-null    object
 2   단위      864 non-null    object
 3   2019 년  864 non-null    float64
 4   2020 년  864 non-null    float64
 5   2021 년  864 non-null    float64
 6   2022 년  864 non-null    float64
 7   2023 년  864 non-null    float64
dtypes: float64(5), object(3)
memory usage: 54.1+ KB

In [42]:
parking_area = parking_1[parking_1["항목"] == "면수"]
parking_area.head()
parking_area.info()

<class 'pandas.core.frame.DataFrame'>
Index: 432 entries, 1 to 863
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      432 non-null    object
 1   항목      432 non-null    object
 2   단위      432 non-null    object
 3   2019 년  432 non-null    float64
 4   2020 년  432 non-null    float64
 5   2021 년  432 non-null    float64
 6   2022 년  432 non-null    float64
 7   2023 년  432 non-null    float64
dtypes: float64(5), object(3)
memory usage: 30.4+ KB

In [47]:
parking_count = parking_1[parking_1["항목"] == "개소"]
parking_count.head()

    동별  항목  단위    2019 년    2020 년    2021 년    2022 년    2023 년
0   합계  개소  개소  314392.0  317181.0  314440.0  306732.0  305903.0
2  사직동  개소  개소     360.0     357.0     358.0     362.0     362.0
4  삼청동  개소  개소     169.0     172.0     170.0     343.0     345.0
6  부암동  개소  개소     596.0     597.0     606.0     596.0     596.0
8  평창동  개소  개소    1600.0    1602.0    1624.0    1617.0    1618.0

In [49]:
parking_area.to_csv('parking_area.csv', index=False)
parking_count.to_csv('parking_count.csv', index=False)