In [43]:
import pandas as pd

In [44]:
area = pd.read_csv('parking_area.csv')
count = pd.read_csv('parking_count.csv')

In [45]:
area.head()

    동별  항목 단위   2019 년   2020 년   2021 년   2022 년   2023 년
0  사직동  면수  면  14217.0  14146.0  14232.0  12605.0  12567.0
1  삼청동  면수  면   1853.0   1867.0   1840.0   2237.0   2267.0
2  부암동  면수  면   3474.0   3485.0   3494.0   3533.0   3549.0
3  평창동  면수  면   9620.0   9614.0   9505.0   9390.0   9369.0
4  무악동  면수  면   3249.0   3249.0   3249.0   3185.0   3187.0

In [46]:
area.drop(['항목', '단위'], axis=1, inplace=True)
count.drop(['항목', '단위'], axis=1, inplace=True)
print(area.head())
print(count.head())

    동별   2019 년   2020 년   2021 년   2022 년   2023 년
0  사직동  14217.0  14146.0  14232.0  12605.0  12567.0
1  삼청동   1853.0   1867.0   1840.0   2237.0   2267.0
2  부암동   3474.0   3485.0   3494.0   3533.0   3549.0
3  평창동   9620.0   9614.0   9505.0   9390.0   9369.0
4  무악동   3249.0   3249.0   3249.0   3185.0   3187.0
    동별  2019 년  2020 년  2021 년  2022 년  2023 년
0  사직동   360.0   357.0   358.0   362.0   362.0
1  삼청동   169.0   172.0   170.0   343.0   345.0
2  부암동   596.0   597.0   606.0   596.0   596.0
3  평창동  1600.0  1602.0  1624.0  1617.0  1618.0
4  무악동    45.0    45.0    45.0    69.0    70.0

In [47]:
new_columns ={
    '2019 년' : ['20191', '20192', '20193', '20194'],
    '2020 년' : ['20201', '20202', '20203', '20204'],
    '2021 년' : ['20211', '20212', '20213', '20214'],
    '2022 년' : ['20221', '20222', '20223', '20224'],
    '2023 년' : ['20231', '20232', '20233', '20234', '20241', '20242'],
}

for year, columns in new_columns.items():
    for col in columns:
        area[col] = area[f'{year}']
        count[col] = count[f'{year}']

In [48]:
area.drop(['2019 년', '2020 년', '2021 년', '2022 년', '2023 년'], axis=1, inplace=True)
count.drop(['2019 년', '2020 년', '2021 년', '2022 년', '2023 년'], axis=1, inplace=True)

In [49]:
area1 = area.melt(id_vars=['동별'])
area1.rename(columns={'동별':'행정동', 'variable':'년분기', 'value':'주차장면적(면)'}, inplace=True)
print(area1.head())
count1 = count.melt(id_vars=['동별'])
count1.rename(columns={'동별':'행정동', 'variable':'년분기', 'value':'주차장개수(개소)'}, inplace=True)
print(count1.head())

   행정동    년분기  주차장면적(면)
0  사직동  20191   14217.0
1  삼청동  20191    1853.0
2  부암동  20191    3474.0
3  평창동  20191    9620.0
4  무악동  20191    3249.0
   행정동    년분기  주차장개수(개소)
0  사직동  20191      360.0
1  삼청동  20191      169.0
2  부암동  20191      596.0
3  평창동  20191     1600.0
4  무악동  20191       45.0

In [50]:
parking_end = pd.merge(area1, count1, on=['행정동','년분기'], how='outer')
parking_end

       행정동    년분기  주차장면적(면)  주차장개수(개소)
0     가락1동  20191   20942.0       83.0
1     가락1동  20192   20942.0       83.0
2     가락1동  20193   20942.0       83.0
3     가락1동  20194   20942.0       83.0
4     가락1동  20201   20268.0       57.0
...    ...    ...       ...        ...
9521   흑석동  20232   16937.0      298.0
9522   흑석동  20233   16937.0      298.0
9523   흑석동  20234   16937.0      298.0
9524   흑석동  20241   16937.0      298.0
9525   흑석동  20242   16937.0      298.0

[9526 rows x 4 columns]

In [51]:
parking_end.to_csv('parking_end.csv', index=False)