In [1]:
import pandas as pd
import glob

In [2]:
# 데이터 파일 경로 패턴 (예: CSV 파일)
file_pattern = "dong_school/*.csv"

In [3]:
# 모든 파일 읽기
file_list = glob.glob(file_pattern)

# 첫 번째 파일 읽기
merged_df = pd.read_csv(file_list[0])

In [4]:
# 나머지 파일과 반복적으로 합치기
for file in file_list[1:]:
    current_df = pd.read_csv(file)
    # outer join으로 병합
    merged_df = pd.merge(merged_df, current_df, on="adm_nm", how="outer")

In [5]:
# 결과 확인
print(merged_df)

             adm_nm  school_count_191  student_count_191  school_count_232  \
0    서울특별시 강남구 개포1동               1.0              593.0                 3
1    서울특별시 강남구 개포2동               6.0             3566.0                 8
2    서울특별시 강남구 개포4동               4.0             1721.0                 4
3    서울특별시 강남구 논현1동               1.0              339.0                 1
4    서울특별시 강남구 논현2동               2.0              788.0                 2
..              ...               ...                ...               ...
385   서울특별시 중랑구 묵2동               2.0             1076.0                 2
386  서울특별시 중랑구 상봉1동               3.0             2006.0                 4
387  서울특별시 중랑구 신내1동               1.0              956.0                 2
388  서울특별시 중랑구 신내2동               3.0             1760.0                 3
389  서울특별시 중랑구 중화1동               6.0             2878.0                 6

     student_count_232  school_count_192  student_count_192  school_count_201  \
0                795.0               1.0              620.0               3.0
1               6881.0               6.0             3689.0               7.0
2               1950.0               4.0             1732.0               4.0
3                235.0               1.0              326.0               1.0
4                776.0               2.0              797.0               2.0
..                 ...               ...                ...               ...
385              827.0               2.0             1057.0               2.0
386             3120.0               3.0             1989.0               4.0
387             1516.0               1.0              936.0               2.0
388             1566.0               3.0             1734.0               3.0
389             2467.0               6.0             2857.0               6.0

     student_count_201  school_count_202  ...  school_count_211  \
0                778.0               1.0  ...                 3
1               3821.0               6.0  ...                 8
2               1694.0               4.0  ...                 4
3                309.0               1.0  ...                 1
4                775.0               2.0  ...                 2
..                 ...               ...  ...               ...
385              987.0               2.0  ...                 2
386             3353.0               3.0  ...                 4
387             2008.0               1.0  ...                 2
388             1664.0               3.0  ...                 3
389             2788.0               6.0  ...                 6

     student_count_211  school_count_212  student_count_212  school_count_221  \
0                848.0               1.0              852.0                 3
1               5127.0               5.0             3496.0                 8
2               2022.0               4.0             2014.0                 4
3                290.0               1.0              277.0                 1
4                815.0               2.0              810.0                 2
..                 ...               ...                ...               ...
385              931.0               2.0              916.0                 2
386             3276.0               3.0             1957.0                 4
387             1816.0               1.0              784.0                 2
388             1643.0               3.0             1627.0                 3
389             2671.0               6.0             2657.0                 6

     student_count_221  school_count_222  student_count_222  school_count_231  \
0                  824               1.0              813.0                 3
1                 5853               4.0             2592.0                 8
2                 1995               4.0             1995.0                 4
3                  266               1.0              259.0                 1
4                  816               2.0              814.0                 2
..                 ...               ...                ...               ...
385                899               2.0              879.0                 2
386               3229               3.0             2005.0                 4
387               1645               2.0             1610.0                 2
388               1635               3.0             1604.0                 3
389               2568               6.0             2538.0                 6

     student_count_231
0                784.0
1               6620.0
2               1970.0
3                248.0
4                798.0
..                 ...
385              843.0
386             3146.0
387             1546.0
388             1595.0
389             2505.0

[390 rows x 21 columns]

In [6]:
# 병합된 파일 저장
merged_df.to_csv("school_merged.csv", index=False)